<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7 ]> <html xmlns="http://www.w3.org/1999/xhtml" class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html xmlns="http://www.w3.org/1999/xhtml" class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html xmlns="http://www.w3.org/1999/xhtml" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html xmlns="http://www.w3.org/1999/xhtml" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns="http://www.w3.org/1999/xhtml" lang="ja"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="中京,綜合,警備,保障,中京綜合警備保障,ALSOK,アルソック,機械警備,警備輸送業務,常駐警備業務,防災警備業務,綜合管理,ホームセキュリティ,防犯,セキュリティ" />
<meta name="description" content="中部地区安全管理システムを商品の中核とした警備会社、中京綜合警備保障 ALSOKホームページ。採用情報あり" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<!--OGPタグ-->
<meta property="og:title" content="★"/>
<meta property="og:type" content="website"/>
<!-- <meta property="og:url" content="★"/> -->
<meta property="og:image" content="★"/>
<meta property="og:site_name" content="★"/>
<meta property="fb:admins" content="100002247945655"/>
<meta property="og:description" content="★"/>
<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1, minimum-scale=1" />
<title>ALSOK 中京綜合警備保障｜安全な街を、未来の子供たちへ。</title>
<!--OGPタグ-->
<link rel="stylesheet" type="text/css" href="../common/css/common.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/ic.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/each.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/each_pc.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/each_sp.css" media="all" />
<link rel="shortcut icon" href="" />
<script type="text/javascript" src="../common/js/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../common/js/ic.js"></script>
<script type="text/javascript" src="../common/js/custom.js"></script>
<script type="text/javascript" src="../common/js/same-height.js"></script>
<script type="text/javascript" src="../common/js/each.js"></script>
</head>

<body id="about">
<!--アナリティクスここから-->
<!--アナリティクス-->

	<!--wrapperここから-->
	<div id="wrapper">
		<!--ヘッダここから-->
		<div id="header">
			<div class="top_bar">
				<h1 class="logo"><a href="#">Always Security OK | 中京綜合警備保障株式会社</a></h1>
				<ul class="top_links">
					<li><a href="#">サイトマップ</a></li>
					<li><a href="#">トップ</a></li>
				</ul>
				<a href="" class="mobile_opener sp"><span>Open Menu</span></a>
			</div>
			<!-- pc navigation begin -->
			<div class="nav pc">
				<ul id="dropmenu">
					<li><a href="#">トップページ</a></li>					<li><a href="#">個人向けセキュリティ</a></li>					<li><a href="#">法人向けセキュリティ</a></li>					<li><a href="#">中京綜合警備保障とは</a></li>					<li class="active"><a href="#">社会貢献活動</a></li>					<li><a href="#">採用情報</a></li>					<li>
						<a href="#">お問い合わせ</a>
						<ul>
							<li><a href="#">個人のお客様</a></li>							<li><a href="#">法人のお客様</a></li>							<li><a href="#">その他お問い合わせ</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- pc navigation end -->
			<!-- sp navigation begin -->
			<div class="nav sp">
				<div class="menu">
					<div class="hold">
						<h4><a href="#">トップページ</a></h4>
						<div class="slide_block">
							<a href="" class="slide_link">個人のお客様</a>
							<div class="slide_box">
								<ul>									<li><a href="#">ホームセキュリティ</a></li>									<li><a href="#">防犯カメラ</a></li>									<li><a href="#">防犯用品・災害対策用品</a></li>									<li><a href="#">セキュリティ導入までの流れ</a></li>									<li><a href="#">お問い合わせ・資料請求</a></li>								</ul>
							</div>
						</div>
						<div class="slide_block">
							<a href="" class="slide_link">法人のお客様</a>
							<div class="slide_box">
								<ul>
									<li><a href="#">機械警備</a></li>
									<li><a href="#">常駐警備</a></li>
									<li><a href="#">イベント警備</a></li>
									<li><a href="#">警備輸送</a></li>
									<li><a href="#">防災警備</a></li>
									<li><a href="#">保安警備</a></li>
									<li><a href="#">身辺警護</a></li>
									<li><a href="#">綜合管理</a></li>
									<li><a href="#">放置車両確認業務</a></li>
									<li><a href="#">AED</a></li>
									<li><a href="#">その他商品・サービス</a></li>
									<li><a href="#">お問い合わせ・資料請求</a></li>
								</ul>
							</div>
						</div>
						<div class="slide_block">
							<a href="" class="slide_link">中京綜合警備保障とは</a>
							<div class="slide_box">
								<ul>
									<li><a href="#">社長メッセージ</a></li>
									<li><a href="#">経営理念</a></li>
									<li><a href="#">会社概要</a></li>
									<li><a href="#">交通アクセス</a></li>
									<li><a href="#">中京綜合警備保障のあゆみ</a></li>
									<li><a href="#">スポーツ活動のご紹介</a></li>									<li><a href="#">ALSOK中京綜合警備保障の強み</a></li>
									<li><a href="#">ALSOK中京綜合警備保障<br />グループリンク</a></li>
								</ul>
							</div>
						</div>
						<div class="slide_block">
							<a href="" class="slide_link">社会貢献活動</a>
							<div class="slide_box">
								<ul>
									<li><a href="#">基本的な考え方</a></li>
									<li><a href="#">主な社会貢献活動</a></li>
								</ul>
							</div>
						</div>
						<div class="slide_block">
							<a href="" class="slide_link">採用情報</a>
							<div class="slide_box">
								<ul>
									<li><a href="#">人事担当者メッセージ</a></li>
									<li><a href="#">ALSOKの仕事</a></li>
									<li><a href="#">教育制度・人事制度</a></li>
									<li><a href="#">先輩社員の声</a></li>
									<li><a href="#">数字で見るALSOK</a></li>
									<li><a href="#">新卒採用</a></li>
									<li><a href="#">キャリア採用</a></li>
									<li><a href="#">アルバイト採用</a></li>
								</ul>
							</div>
						</div>
						<h4><a href="#">創業50周年（工事中）</a></h4>
						<h4><a href="#">暴力団等反社会的勢力排除宣言</a></h4>
						<div class="slide_block">
							<a href="" class="slide_link">外部リンク</a>
							<div class="slide_box">
								<ul>
									<li><a class="icon" href="#">駐日エチオピア名誉領事館</a></li>
									<li><a class="icon" href="#">（一社）愛知県警備業協会</a></li>
									<li><a class="icon" href="#">（一財）愛知県剣道連盟</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- sp navigation end -->
		</div>
		<div class="bg sp"></div>
		<!--ヘッダ-->
		<!--コンテンツここから-->
		<div id="contents" class="clearfix">
			<!--メインエリアここから-->
			<div id="main">
				<!-- title banner begin -->
				<div class="title_banner">
					<img class="pc" src="../common/img/about/title_banner_pc_img.jpg" alt="image description" />
					<img class="sp" src="../common/img/about/title_banner_sp_img.jpg" alt="image description" />
					<div class="text no_btn">
						<h2>中京綜合警備保障とは</h2>
						<p>About us</p>
						<a href="#" class="button red">撮影</a>
					</div>
				</div>
				<!-- title banner end -->
				<!-- top message begin -->
				<div class="top_message">
					<h2>社長メッセージ</h2>
					<h3>Top Message</h3>
					<div class="holder">
						<div class="person">
							<div class="hold">
								<h5 class="name">安全な街を、未来の子供たちへ。</h5>
								<div class="image">
									<img src="../common/img/about/top_message_img.jpg" alt="image description" />
								</div>
							</div>							<div class="position"><span>代表取締役社長</span> <img src="../common/img/about/top_message_position_img.png" alt="image description" /></div>
						</div>
						<div class="txt">
							<h4>すばらしいふるさとを未来に残すために。</h4>
							<p><span>「日本人は安全と水はタダだと思っている。」</span>
								<span>今から40年以上前の話になりますが、当時の駐日イスラエル大使館員の言葉として掲載された本が話題にのぼりました。</span>
								<span>その後わが国は、経済の繁栄を謳歌してきた反面、</span>
								<span>犯罪の増加、凶悪化、粗暴化等、当時とは比べ物にならないほど、</span>
								治安を取り巻く環境は変化しています。
							</p>
							<p><span>当社は1969年に綜合警備保障株式会社の支援のもと、</span>
								<span>愛知県の安全に貢献することを目的に設立され、</span>
								<span>常駐警備・機械警備・貴重品輸送等、安全確保に係わる</span>
								一貫したサービス体制を確立し、地域社会の発展とともに歩んできました。
							</p>
							<p><span>当社のコーポレートブランドは「ALSOK（アルソック）」ですが、</span>
								<span>その意味は「ALWAYS‐SECURITY‐OK　いつでも、どこでも、</span>
								<span>どんな時でも高品質なセキュリティを提供する。」ということで、</span>
								<span>常にお客様に寄り添い、</span>
								「安全・安心」のニーズにお応えする、当社の基本理念を表しています。
							</p>
							<p><span>これからもお客様のご要望にお応えすべく、</span>
								<span>「ALSOK」の高品質なサービス実現に向けて、</span>
								社員教育・地域貢献等、あらゆることに挑戦していく所存です。
							</p>
						</div>						<h4>安全を通じて地域社会の安全と発展に貢献。</h4>
						<p><span>地域密着型でなければ、本当の警備保障業務は遂行できないと考えています。</span>
							<span>なぜなら、地域の警察やコミュニティとの連携なくして、真の安全は確保されないからです。</span>
							<span>さらに地域社会の発展なくして、企業の存続と繁栄もあり得ません。地域社会と企業とは、いわば一蓮托生の関係。</span>
							したがって私たちは自らが存続し、繁栄していくためにも、地域社会への貢献を企業目的の第一に掲げ、それを実現すべく努めています。
						</p>
						<p><span>地域社会の方々に、私たちが企業市民として受け入れていただけるよう、</span>
							さまざまな地域貢献活動を進め、お互いの信頼関係を築き上げていきたいと考えています。
						</p>
					</div>
				</div>
				<!-- top message end -->
				<!-- management begin -->
				<div class="management">
					<div class="main-holder">
						<h2>経理理念</h2>
						<h3>Management Philosophy</h3>
						<h4 class="image_title"><img src="../common/img/about/management_image_title_img.png" alt="我々は、社業を通じて人々に安らぎを提供し、地域社会に必要とされる存在となり、当社に関わるすべての人々と幸福感を共有する。" /></h4>
						<span class="separator pc"></span>
						<h5>経営方針</h5>
						<ul class="policy">
							<li>
								<div class="box">
									<h6><span>1.</span>経営の基本精神</h6>
									<p><span>何事にも、常に感謝の心を忘れない「ありがとうの心」と、</span>
										<span>強く、正しく、温かい、「武士の精神」をもって取り組むとともに、</span>
										<span>企業人としてふさわしい人材の育成に努める。</span>
									</p>
								</div>							</li>
							<li>
								<div class="box">
									<h6><span>2.</span>経営の基本順位</h6>
									<p><span>立派な警備を提供することを最優先とし、</span>
										<span>これにより適正な利益を獲得して株主の期待にこたえるとともに、</span>
										<span>社員の福利向上を図る。</span>
									</p>
								</div>							</li>
							<li>
								<div class="box">
									<h6><span>3.</span>経営の基本戦略</h6>
									<p><span>警備業に専念することを基本とするが、</span>
										<span>警備業で培ったノウハウ等を活用し、</span>
										<span>時代のニーズに即した多様なサービスを提供する。</span>
									</p>
								</div>							</li>
							<li>
								<div class="box">
									<h6><span>4.</span>社会公共への貢献</h6>
									<p><span>奉仕の精神をもって、</span>
										<span>安全に関する公の施策に協力するほか、</span>
										<span>社会に貢献する活動を積極的に行う。</span>
									</p>
								</div>							</li>
						</ul>
						<h5>社訓（行動指針）</h5>
						<ul class="trainings">
							<li>
								<h6><span>一.</span> 信用</h6>
								<p><span>わたくしたちの警備業務は、信用が第一であることをよく認識し、</span>
									常にお得意先はじめ一般社会の信頼にこたえるよう努めます。 
								</p>
							</li>
							<li>
								<h6><span>一.</span> 規律</h6>
								<p>わたくしたちは、常に警備業法を遵守し、規律正しく行動し、絶対不祥事故のないよう努めます。 </p>
							</li>
							<li>
								<h6><span>一.</span> 誠意</h6>
								<p><span>わたくしたちは、職責の自覚を高め、業務を通じ、</span>
									常にお得先に対する感謝の念と、その繁栄に寄与するよう努めます。 
								</p>
							</li>
							<li>
								<h6><span>一.</span> 強力</h6>
								<p><span>わたくしたちは、常に心身を鍛え、お互い仲よく、</span>
									よき職場環境をつくり強い警備力を保持し、社会的役割を完遂するよう努めます。
								</p>
							</li>
						</ul>
					</div>
				</div>
				<!-- management end -->
				<!-- profile begin -->
				<div class="profile">
					<h2>会社概要</h2>
					<h3>Company Profile</h3>
					<div class="company_info">
						<div class="image">
							<img src="../common/img/about/profile_img.jpg" alt="image description" />
							<a href="#" class="button">撮影予定</a>
						</div>
						<div class="text">
							<dl>
								<dt>社名</dt>
								<dd>中京綜合警備保障株式会社  THE CHUKYO SOHGO SECURITY SERVICES CO.,LTD.</dd>
							</dl>
							<dl>
								<dt>所在地</dt>
								<dd>〒460‐0008　名古屋市中区栄三丁目35番1号</dd>
							</dl>
							<dl>
								<dt>TEL</dt>
								<dd>052‐252‐5110（代表）</dd>
							</dl>
							<dl>
								<dt>FAX</dt>
								<dd>052‐261‐1767</dd>
							</dl>
							<dl>
								<dt>代表者</dt>
								<dd>代表取締役会長　松本 定道 <br />
									代表取締役社長　松本 健一郎
								</dd>
							</dl>
							<dl>
								<dt>従業員数</dt>
								<dd>499名（2016年3月31日現在）</dd>
							</dl>
							<dl>
								<dt>設立</dt>
								<dd>1969年12月12日</dd>
							</dl>
							<dl>
								<dt>事業内容</dt>
								<dd>・警備の請負とその保障 <br />
									・各種施設の警備および綜合管理業務の請負とその保障<br />
									・現金、有価証券、貴金属等高価物品および重要書類等の輸送と警備、<br />
									   ならびにこれに伴う一時預り業務の請負とその保障<br />
									・金融機関等の現金自動預払機、入金機の現金カセットの交換業務および<br />
									　これに関連する業務の請負とその保障<br />
									・各種警備の理論および技術の研究、助言、指導ならびに教育に関する業務の請負<br />
									・防犯、防火、防災、救急に関する機器およびシステムの開発、製造、販売、賃貸に関する業務<br />
									・防犯、防火、防災、救急に関する調査、研究、予防計画の立案に関する業務の請負<br />
									・電気工事、電気通信工事、消防施設工事等、業務に関する工事の請負<br />
									・生命保険、損害保険代理業<br />
									・道路交通法に基づく放置車両の確認および標章の取り付けに関する事務ならびに<br />
									　放置違反金に関する事務の請負<br />
									・医療機器、健康機器の販売、賃貸およびリース<br />
									・前各号に付帯または関連する一切の業務
								</dd>
							</dl>
							<dl>
								<dt>資本金</dt>
								<dd>5,000万円（2016年3月31日現在）</dd>
							</dl>
							<dl>
								<dt>売上高</dt>
								<dd>30億4,000万円（2016年3月期現在）</dd>
							</dl>
							<dl>
								<dt>役員</dt>
								<dd>代表取締役会長　松本 定道 <br />
									（一般社団法人全国警備業協会 前副会長）<br />
									（公益社団法人愛知県安全運転管理協議会 副会長）<br />
									代表取締役社長　松本 健一郎 <br />
									（一般社団法人愛知県警備業協会 理事）<br />
									代表取締役　野村 茂樹 <br />
									（綜合警備保障株式会社 常務執行役員）<br />
									取締役　天野 和夫<br />
									取締役　村井 温 <br />
									（綜合警備保障株式会社 代表取締役会長）<br />
									取締役　上野 義典<br />
									監査役　伊藤 松郎
								</dd>
							</dl>
							<dl>
								<dt>加盟団体</dt>
								<dd>一般社団法人全国警備業協会<br />
									一般社団法人愛知県警備業協会<br />
									名古屋商工会議所<br />
									中区安全運転管理協議会<br />
									交通安全協会中支部<br />
									中区防犯協力会<br />
									中区防犯連合協議会<br />
									社団法人名古屋中法人会
								</dd>
							</dl>
							<dl>
								<dt>許認可事項</dt>
								<dd>警備業　愛知県公安委員会　認定　第54000070号 <br />
									高度管理医療機器等販売賃貸業　医安　第1001258号
								</dd>
							</dl>
							<dl>
								<dt>グループ会社</dt>
								<dd><a href="#" class="icon">ALSOKグループ各社</a></dd>
							</dl>
						</div>
					</div>
				</div>
				<!-- profile end -->
				<!-- history begin -->
				<div class="history">
					<h2>中京綜合警備保障のあゆみ</h2>
					<h3>History</h3>
					<div class="company_info">
						<div class="text">
							<dl>
								<dt>1969年12月</dt>
								<dd>創業者 林邦男により中京警備保障株式会社 設立</dd>
							</dl>
							<dl>
								<dt>1970年1月</dt>
								<dd>常駐警備業務 サービス運用開始　（創業第1号の長期契約受注）</dd>
							</dl>
							<dl>
								<dt>1974年8月</dt>
								<dd>警備輸送業務 サービス運用開始</dd>
							</dl>
							<dl>
								<dt>1975年10月</dt>
								<dd>機械警備業務 サービス運用開始</dd>
							</dl>
							<dl>
								<dt>1976年3月</dt>
								<dd>プロ野球警備業務（ナゴヤ球場） サービス運用開始</dd>
							</dl>
							<dl>
								<dt>1978年1月</dt>
								<dd>石油コンビナート防災警備業務（名古屋市港区） サービス運用開始</dd>
							</dl>
							<dl>
								<dt>1978年12月</dt>
								<dd>中京綜合警備保障株式会社（現社名）に社名変更</dd>
							</dl>
							<dl>
								<dt>1985年7月</dt>
								<dd>ATMコーナー自動運行業務『アマンドシステム』 サービス運用開始</dd>
							</dl>
							<dl>
								<dt>1987年12月</dt>
								<dd>松本定道 代表取締役社長 就任（現：代表取締役会長）</dd>
							</dl>
							<dl>
								<dt>1989年5月</dt>
								<dd>ATM障害対応業務『コスモシステム』 サービス運用開始</dd>
							</dl>
							<dl>
								<dt>1997年6月</dt>
								<dd>遠隔地画像監視業務『無人駐車場監視システム』 サービス運用開始</dd>
							</dl>
							<dl>
								<dt>2000年3月</dt>
								<dd>新本社ビル（現在地）竣工</dd>
							</dl>
							<dl>
								<dt>2000年4月</dt>
								<dd>量販店向け売上金管理業務『入金オンラインシステム』 サービス運用開始</dd>
							</dl>
							<dl>
								<dt>2001年4月</dt>
								<dd>多機能型ホームセキュリティ『SOKホームセキュリティ』 サービス運用開始 <br />
									ALSOK護身術部 創部
								</dd>
							</dl>
							<dl>
								<dt>2002年5月</dt>
								<dd>FIFAワールドカップ 横浜会場 警備担当</dd>
							</dl>
							<dl>
								<dt>2003年7月</dt>
								<dd>コーポレートブランドを現在の“ALSOK”に変更</dd>
							</dl>
							<dl>
								<dt>2004年12月</dt>
								<dd>愛知万国博覧会 瀬戸会場 警備担当 （～2005年10月）</dd>
							</dl>
							<dl>
								<dt>2006年4月</dt>
								<dd>剣道部 創部</dd>
							</dl>
							<dl>
								<dt>2006年6月</dt>
								<dd>放置車両監視業務受託 （警備業以外の分野への進出）<br />
									AED（自動体外式除細動器）販売開始
								</dd>
							</dl>
							<dl>
								<dt>2007年6月</dt>
								<dd>松本定道 代表取締役会長 就任<br />
									松本健一郎 代表取締役社長 就任
								</dd>
							</dl>
							<dl>
								<dt>2009年8月</dt>
								<dd>ISO9001：2008認証取得　（適用組織拡大中）</dd>
							</dl>
							<dl>
								<dt>2010年10月</dt>
								<dd>COP10 第10回生物多様性条約締約国会議 警備担当</dd>
							</dl>
							<dl>
								<dt>2011年6月</dt>
								<dd>法人向けセキュリティ『ALSOK‐GV（ジーファイブ）』 サービス運用開始</dd>
							</dl>
							<dl>
								<dt>2012年4月</dt>
								<dd>松本定道 旭日小授章 受章</dd>
							</dl>
							<dl>
								<dt>2012年10月</dt>
								<dd>在日エチオピア連邦民主共和国名誉領事館 開設 <br />
									『HOME ALSOK Premium（プレミアム）』 サービス運用開始
								</dd>
							</dl>
							<dl>
								<dt>2013年6月</dt>
								<dd>警送岡崎営業所 開設</dd>
							</dl>
							<dl>
								<dt>2015年10月</dt>
								<dd>『ホームセキュリティBasic（ベーシック）』 サービス運用開始</dd>
							</dl>
						</div>
					</div>
				</div>
				<!-- history end -->
				<!-- sports begin -->
				<div class="sports">
					<div class="main_holder">
						<h2>スポーツ活動のご紹介</h2>
						<h3>Sports Campaign</h3>
						<div class="block">
							<h4><img src="../common/img/about/sports_icon.png" alt="image description" /><span>剣道部</span></h4>
							<ul class="images">
								<li><a href="#"><img src="../common/img/about/sports_img_1.jpg" alt="image description" /></a></li>
								<li><a href="#"><img src="../common/img/about/sports_img_2.jpg" alt="image description" /></a></li>
								<li><a href="#"><img src="../common/img/about/sports_img_3.jpg" alt="image description" /></a></li>
							</ul>
							<p class="pc">2006年創部。 <br />
								社会貢献活動の一環として、“学生時代の剣道経験者が、社会人となってからも引き続き剣道に関わる環境を作りたい”という想いから誕生しました。 <br />
								実業団として活動していますが、決して試合での強さだけを求めているわけではありません。 <br />
								当社には「通常の業務がきちんとできる者にだけ稽古に参加する資格がある」との考えがあるからです。 <br />
								このため、部員は終業後、あるいは仕事の合間を縫って稽古や試合に参加しています。 <br />
								時間に制約のある環境ですが、最大の成果が出せるよう、日々の稽古に汗を流しています。 <br />
								ALSOKグループ連盟大会および県内外の実業団の団体戦・個人戦に参加し、優秀な成績を収めています。
							</p>
						</div>
						<div class="block">
							<h4><img src="../common/img/about/sports_icon.png" alt="image description" /><span>ALSOK護身術部</span></h4>
							<ul class="images">
								<li><a href="#"><img src="../common/img/about/sports_img_4.jpg" alt="image description" /></a></li>
								<li><a href="#"><img src="../common/img/about/sports_img_5.jpg" alt="image description" /></a></li>
								<li><a href="#"><img src="../common/img/about/sports_img_6.jpg" alt="image description" /></a></li>
							</ul>
							<p class="pc">2001年創部。 <br />
								ALSOK護身術とは、防具を着用し、3種の用具（警戒棒、警戒杖、犯人が持っていると想定される短刀等の凶器）を使い、 <br />
								さらに突き、蹴り、投げを含めたALSOK独自の護身術です。 <br />
								この競技は、業務中に犯人と遭遇したり、襲撃されたりした場合の非常事態に備え、日頃の訓練にも取り入れられています。 <br />
								ALSOK護身術を通じ、社員の心身の鍛錬と士気の高揚、団結の強化を図り、立派な警備を提供するために精進しています。 <br />
								毎年、ALSOKグループ連盟大会である「綜警護身術・銃剣道大会」に参加し、日頃の鍛錬の成果を発揮しています。
							</p>
						</div>
					</div>
				</div>
				<!-- sports end -->
				<!-- access begin -->
				<div class="access">
					<div class="main_holder">
						<h2>アクセス</h2>
						<h3>Access</h3>
					</div>					<div class="map">
						<img class="pc" src="../common/img/about/map.jpg" alt="image description" />
						<img class="sp" src="../common/img/about/map_sp.jpg" alt="image description" />
					</div>
					<div class="main_holder">
						<div class="access_info">
							<h4><img src="../common/img/about/sports_icon.png" alt="image description" /><span>最寄り駅・バス停からのアクセス</span></h4>
							<dl>
								<dt><span><img src="../common/img/about/access_icon_1.jpg" alt="image description" /> 名城線</span></dt>
								<dd>矢場町4番出口下車　徒歩7分</dd>
							</dl>
							<dl>
								<dt>
									<span><img src="../common/img/about/access_icon_2.jpg" alt="image description" /> 東山線</span>
									<span><img src="../common/img/about/access_icon_3.jpg" alt="image description" /> 鶴舞線</span>
								</dt>
								<dd>伏見駅5番出口下車　徒歩10分</dd>
							</dl>
							<dl>
								<dt>
									<span><img src="../common/img/about/access_icon_2.jpg" alt="image description" /> 東山線</span>
									<span><img src="../common/img/about/access_icon_4.jpg" alt="image description" /> 名城線</span>
								</dt>
								<dd>栄駅16番出口下車　徒歩12分</dd>
							</dl>
							<dl>
								<dt><span><img src="../common/img/about/access_icon_5.jpg" alt="image description" /> 名鉄瀬戸線</span></dt>
								<dd>栄町駅16番出口下車　徒歩12分</dd>
							</dl>
							<dl>
								<dt><span><img src="../common/img/about/access_icon_6.jpg" alt="image description" /> 名古屋市営バス 名駅17系統</span></dt>
								<dd>若宮バス停下車　徒歩3分</dd>
							</dl>
							<dl>
								<dt><span><img src="../common/img/about/access_icon_6.jpg" alt="image description" /> 名古屋市営バス 中巡回系統</span></dt>
								<dd>名古屋市美術館東バス停下車　徒歩1分</dd>
							</dl>
						</div>
						<div class="access_info">
							<h4><img src="../common/img/about/sports_icon.png" alt="image description" /><span>矢場町駅～当社までのアクセス動画</span></h4>
							<div class="txt">
								<p>矢場町駅～当社までのアクセス方法を動画で紹介しています。<br />
									交通ルールを守り、お気をつけてお越しください。
								</p>
							</div>							<div class="video pc">
								<iframe width="800" height="450" src="https://www.youtube.com/embed/yAmtS3WCs1U" frameborder="0" allowfullscreen></iframe>
							</div>
							<div class="video sp">
								<a href="https://youtu.be/yAmtS3WCs1U"><img src="../common/img/about/video_sp_img.jpg" alt="image description" /></a>
							</div>
						</div>
					</div>
				</div>
				<!-- access end -->
				<!-- strength begin -->
				<div class="strength">
					<div class="main_holder">
						<h2>ALSOK中京綜合警備の強み</h2>
						<h3>ALSOK Strength</h3>
						<div class="boxes">
							<div class="box box1">
								<div class="image left">
									<img src="../common/img/about/strength_img_1.jpg" alt="image description" />
									<a href="#" class="btn">撮影</a>
								</div>
								<div class="text blue">
									<h4>規模は愛知県内最大級！</h4>
									<p>愛知県内に本社をおく警備会社として、<br />
										売上高、社員数とも、最大級の規模です。
									</p>
								</div>
							</div>
							<div class="box box2">
								<div class="image right">
									<img src="../common/img/about/strength_img_2.jpg" alt="image description" />
								</div>
								<div class="text yellow">
									<h4>多彩なサービスが運用可能です！</h4>
									<p>機械警備、常駐警備、イベント警備、警備輸送等、<br />
										あらゆるサービスを展開し、<br />
										お客様のニーズにお応えしています。
									</p>
								</div>
							</div>
							<div class="box box3">
								<div class="image left">
									<img src="../common/img/about/strength_img_3.jpg" alt="image description" />
									<a href="#" class="btn">撮影</a>
								</div>
								<div class="text right blue">
									<h4>大手企業との実績が多数！</h4>
									<p>大手企業や名古屋のランドマークとなる施設の<br />
										警備実績が多数あり、<br />
										愛知の地場企業として広く認知されています。
									</p>
								</div>
							</div>
							<div class="box box4">
								<div class="image right">
									<img src="../common/img/about/strength_img_4.jpg" alt="image description" />
								</div>
								<div class="text yellow">
									<h4>地域密着の経営！</h4>
									<p>地元愛知県出身の社員が多数在籍。<br />
										地域に根差した職務を遂行しています。
									</p>
								</div>
							</div>
							<div class="box box5">
								<div class="image left">
									<img src="../common/img/about/strength_img_5.jpg" alt="image description" />
									<a href="#" class="btn">支給予定</a>
								</div>
								<div class="text blue">
									<h4>資格保有者が多数在籍！</h4>
									<p>スキルアップの一環として、<br />
										会社として各種資格取得を推進しています。<br />
										公共性の高い業務であることから<br />
										コンプライアンス教育にも力をいれています。
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- strength end -->
				<!-- about group begin -->
				<div class="about_group">
					<div class="main_holder">
						<h2>ALSOKグループについて</h2>
						<h3>ABOUT ALSOK group</h3>
						<strong class="logo"><img src="../common/img/about/about_group_logo.png" alt="ALSOK" /></strong>
						<p>ALSOKグループは国内および海外に事業を展開。<br />
							1965年の創業以来、日本の警備業界におけるリーディングカンパニーとして、<br />
							毎日の暮らしや社会の発展に欠かすことのできない重要な役割を担っています。　<br />
							ALSOKグループのIR最新資料は以下よりご確認ください。
						</p>
						<a href="#" class="button">IR最新資料を見る</a>
					</div>				</div>
				<!-- about group end -->
				<!-- group link begin -->
				<div class="group_link">
					<div class="main_holder">
						<h2>ALSOKグループリンク</h2>
						<h3>ALSOK group link</h3>
						<p>ALSOKグループの主要関係会社のリンクは以下サイトにてご確認ください。</p>
						<a href="#" class="button">主要関係会社へ</a>
					</div>
				</div>
				<!-- group link end -->
			</div>
			<!--メインエリア-->
		</div>
		<!--コンテンツ-->
		<!-- フッターここから-->
		<div id="footer">
			<!-- footer links begin -->
			<div class="footer_links">
				<h3 class="pc"><a href="#">トップページ</a></h3>
				<div class="links desktop">
					<div class="col">
						<h4><a href="#">個人のお客様</a></h4>
						<ul>							<li><a href="#">ホームセキュリティ</a></li>							<li><a href="#">防犯カメラ</a></li>							<li><a href="#">防犯用品・災害対策用品</a></li>							<li><a href="#">セキュリティ導入までの流れ</a></li>							<li><a href="#">お問い合わせ・資料請求</a></li>						</ul>
						<h4><a href="#">法人のお客様</a></h4>
						<ul>
							<li><a href="#">機械警備</a></li>
							<li><a href="#">常駐警備</a></li>
							<li><a href="#">イベント警備</a></li>
							<li><a href="#">警備輸送</a></li>
							<li><a href="#">防災警備</a></li>
							<li><a href="#">保安警備</a></li>
							<li><a href="#">身辺警護</a></li>
							<li><a href="#">綜合管理</a></li>
							<li><a href="#">放置車両確認業務</a></li>
							<li><a href="#">AED</a></li>
							<li><a href="#">その他商品・サービス</a></li>
							<li><a href="#">お問い合わせ・資料請求</a></li>
						</ul>
					</div>
					<div class="col">
						<h4><a href="#">中京綜合警備保障とは</a></h4>
						<ul>
							<li><a href="#">・社長メッセージ</a></li>
							<li><a href="#">・経営理念</a></li>
							<li><a href="#">・会社概要</a></li>
							<li><a href="#">・交通アクセス</a></li>
							<li><a href="#">・中京綜合警備保障のあゆみ</a></li>
							<li><a href="#">・スポーツ活動のご紹介</a></li>
							<li><a href="#">・ALSOK中京綜合警備保障の強み</a></li>
							<li><a href="#">・ALSOK中京綜合警備保障グループリンク</a></li>
						</ul>
						<h4><a href="#">社会貢献活動</a></h4>
						<ul>
							<li><a href="#">・基本的な考え方</a></li>
							<li><a href="#">・主な社会貢献活動</a></li>
						</ul>
					</div>
					<div class="col">
						<h4><a href="#">採用情報</a></h4>
						<ul class="blue">
							<li><a href="#">■ 人事担当者メッセージ</a></li>							<li><a href="#">■ ALSOKの仕事</a></li>							<li><a href="#">■ 教育制度・人事制度</a></li>
						</ul>
						<ul class="inner">							<li><a href="#">先輩社員の声</a></li>						</ul>
						<ul class="blue">
							<li><a href="#">■ 数字で見るALSOK</a></li>
						</ul>
						<ul class="blue">
							<li><a href="#">■ 新卒採用</a></li>
						</ul>
						<ul class="inner">
							<li><a href="#">募集要項</a></li>
							<li><a href="#">採用までの流れ</a></li>
							<li><a href="#">採用Q＆A</a></li>
							<li><a href="#">新卒採用エントリー</a></li>
						</ul>
						<ul class="blue">
							<li><a href="#">■ キャリア採用</a></li>
						</ul>
						<ul class="inner">
							<li><a href="#">募集要項</a></li>
							<li><a href="#">採用までの流れ</a></li>
							<li><a href="#">採用Q＆A</a></li>
							<li><a href="#">キャリア採用エントリーフォーム</a></li>
						</ul>
						<ul class="blue">
							<li><a href="#">■ アルバイト採用</a></li>
						</ul>
						<ul>
							<li><a href="#">募集要項</a></li>
							<li><a href="#">採用までの流れ</a></li>
							<li><a href="#">採用Q＆A</a></li>
							<li><a href="#">アルバイトエントリーフォーム</a></li>
						</ul>
					</div>
					<div class="col">
						<h4><a href="#">創業50周年（工事中）</a></h4>
						<h4 class="bot_space"><a href="#">暴力団等反社会的勢力排除宣言</a></h4>
						<h4><a href="#">外部リンク</a></h4>
						<ul>
							<li><a class="icon" href="#">駐日エチオピア名誉領事館</a></li>
							<li><a class="icon" href="#">（一社）愛知県警備業協会</a></li>
							<li><a class="icon" href="#">（一財）愛知県剣道連盟</a></li>
						</ul>
					</div>
				</div>
				<ul class="links sp">
					<li><a href="#">トップページ</a></li>					<li><a href="#">中京綜合警備保障とは</a></li>					<li><a href="#">社会貢献活動</a></li>					<li><a href="#">個人のお客様</a></li>					<li><a href="#">採用情報</a></li>					<li><a href="#">情報セキュリティ方針</a></li>					<li><a href="#">サイトマップ</a></li>					<li><a href="#">暴力団等反社会的勢力排除宣言</a></li>					<li><a href="#">創業50周年（工事中）</a></li>
				</ul>
			</div>
			<!-- footer links end -->
			<a href="#contents" class="link_to_top">
				<span><span>PAGE TOP</span></span>
			</a>
			<div class="footer_bar">
				<div class="holder">
					<ul class="links">
						<li><a href="#">情報セキュリティ方針</a><span class="sep">/</span></li>						<li><a href="#">サイトマップ</a></li>
					</ul>
					<p class="copyright">Copyright &copy; 中京綜合警備保障株式会社 All rights reserved.</p>
				</div>				<strong class="footer_logo"><a href="#">Always Security OK</a></strong>
			</div>
		</div>
		<!-- フッター-->
		<a href="#contents" class="link_to_top_fixed">PAGE TOP</a>
	</div>
	<!--wrapper-->
</body>
</html>