<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7 ]> <html xmlns="http://www.w3.org/1999/xhtml" class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html xmlns="http://www.w3.org/1999/xhtml" class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html xmlns="http://www.w3.org/1999/xhtml" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html xmlns="http://www.w3.org/1999/xhtml" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns="http://www.w3.org/1999/xhtml" lang="ja"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="中京,綜合,警備,保障,中京綜合警備保障,ALSOK,アルソック,機械警備,警備輸送業務,常駐警備業務,防災警備業務,綜合管理,ホームセキュリティ,防犯,セキュリティ" />
<meta name="description" content="中部地区安全管理システムを商品の中核とした警備会社、中京綜合警備保障 ALSOKホームページ。採用情報あり" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<!--OGPタグ-->
<meta property="og:title" content="★"/>
<meta property="og:type" content="website"/>
<!-- <meta property="og:url" content="★"/> -->
<meta property="og:image" content="★"/>
<meta property="og:site_name" content="★"/>
<meta property="fb:admins" content="100002247945655"/>
<meta property="og:description" content="★"/>
<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1, minimum-scale=1" />
<title>ALSOK 中京綜合警備保障｜安全な街を、未来の子供たちへ。</title>
<!--OGPタグ-->
<link rel="stylesheet" type="text/css" href="../common/css/swiper.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/jcf.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/common.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/ic.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/each.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/each_pc.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/each_sp.css" media="all" />
<link rel="shortcut icon" href="" />
<script type="text/javascript" src="../common/js/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../common/js/ic.js"></script>
<script type="text/javascript" src="../common/js/custom.js"></script>
<script type="text/javascript" src="../common/js/swiper.min.js"></script>
<script type="text/javascript" src="../common/js/placeholder.js"></script>
<script type="text/javascript" src="../common/js/jcf.js"></script>
<script type="text/javascript" src="../common/js/jcf.radio.js"></script>
<script type="text/javascript" src="../common/js/jcf.checkbox.js"></script>
<script type="text/javascript" src="../common/js/jcf.select.js"></script>
<script type="text/javascript" src="../common/js/each.js"></script>
<script>
	$(function() {
		jcf.replaceAll();
	});
</script>
</head>

<body id="houjin">
<!--アナリティクスここから-->
<!--アナリティクス-->

	<!--wrapperここから-->
	<div id="wrapper">
		<!--ヘッダここから-->
		<div id="header">
			<div class="top_bar">
				<h1 class="logo"><a href="">Always Security OK | 中京綜合警備保障株式会社</a></h1>
				<ul class="top_links">
					<li><a href="">サイトマップ</a></li>
					<li><a href="">トップ</a></li>
				</ul>
				<a href="" class="mobile_opener sp"><span>Open Menu</span></a>
			</div>
			<!-- pc navigation begin -->
			<div class="nav pc">
				<ul id="dropmenu">
					<li><a href="">トップページ</a></li>					<li><a href="">個人向けセキュリティ</a></li>					<li class="active"><a href="">法人向けセキュリティ</a></li>					<li><a href="">中京綜合警備保障とは</a></li>					<li><a href="">社会貢献活動</a></li>					<li><a href="">採用情報</a></li>					<li>
						<a href="">お問い合わせ</a>
						<ul>
							<li><a href="">個人のお客様</a></li>							<li><a href="">法人のお客様</a></li>							<li><a href="">その他お問い合わせ</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- pc navigation end -->
			<!-- sp navigation begin -->
			<div class="nav sp">
				<div class="menu">
					<div class="hold">
						<h4><a href="">トップページ</a></h4>
						<div class="slide_block">
							<a href="" class="slide_link">個人のお客様</a>
							<div class="slide_box">
								<ul>									<li><a href="">ホームセキュリティ</a></li>									<li><a href="">防犯カメラ</a></li>									<li><a href="">防犯用品・災害対策用品</a></li>									<li><a href="">セキュリティ導入までの流れ</a></li>									<li><a href="">お問い合わせ・資料請求</a></li>								</ul>
							</div>
						</div>
						<div class="slide_block">
							<a href="" class="slide_link">法人のお客様</a>
							<div class="slide_box">
								<ul>
									<li><a href="">機械警備</a></li>
									<li><a href="">常駐警備</a></li>
									<li><a href="">イベント警備</a></li>
									<li><a href="">警備輸送</a></li>
									<li><a href="">防災警備</a></li>
									<li><a href="">保安警備</a></li>
									<li><a href="">身辺警護</a></li>
									<li><a href="">綜合管理</a></li>
									<li><a href="">放置車両確認業務</a></li>
									<li><a href="">AED</a></li>
									<li><a href="">その他商品・サービス</a></li>
									<li><a href="">お問い合わせ・資料請求</a></li>
								</ul>
							</div>
						</div>
						<div class="slide_block">
							<a href="" class="slide_link">中京綜合警備保障とは</a>
							<div class="slide_box">
								<ul>
									<li><a href="">社長メッセージ</a></li>
									<li><a href="">経営理念</a></li>
									<li><a href="">会社概要</a></li>
									<li><a href="">交通アクセス</a></li>
									<li><a href="">中京綜合警備保障のあゆみ</a></li>
									<li><a href="">スポーツ活動のご紹介</a></li>									<li><a href="">ALSOK中京綜合警備保障の強み</a></li>
									<li><a href="">ALSOK中京綜合警備保障<br />グループリンク</a></li>
								</ul>
							</div>
						</div>
						<div class="slide_block">
							<a href="" class="slide_link">社会貢献活動</a>
							<div class="slide_box">
								<ul>
									<li><a href="">基本的な考え方</a></li>
									<li><a href="">主な社会貢献活動</a></li>
								</ul>
							</div>
						</div>
						<div class="slide_block">
							<a href="" class="slide_link">採用情報</a>
							<div class="slide_box">
								<ul>
									<li><a href="">人事担当者メッセージ</a></li>
									<li><a href="">ALSOKの仕事</a></li>
									<li><a href="">教育制度・人事制度</a></li>
									<li><a href="">先輩社員の声</a></li>
									<li><a href="">数字で見るALSOK</a></li>
									<li><a href="">新卒採用</a></li>
									<li><a href="">キャリア採用</a></li>
									<li><a href="">アルバイト採用</a></li>
								</ul>
							</div>
						</div>
						<h4><a href="">創業50周年（工事中）</a></h4>
						<h4><a href="">暴力団等反社会的勢力排除宣言</a></h4>
						<div class="slide_block">
							<a href="" class="slide_link">外部リンク</a>
							<div class="slide_box">
								<ul>
									<li><a class="icon" href="">駐日エチオピア名誉領事館</a></li>
									<li><a class="icon" href="">（一社）愛知県警備業協会</a></li>
									<li><a class="icon" href="">（一財）愛知県剣道連盟</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- sp navigation end -->
		</div>
		<div class="bg sp"></div>
		<!--ヘッダ-->
		<!--コンテンツここから-->
		<div id="contents" class="clearfix">
			<!--メインエリアここから-->
			<div id="main">
				<!-- title banner begin -->
				<div class="title_banner">
					<img class="pc" src="../common/img/houjin/title_banner_pc_img.jpg" alt="image description" />
					<img class="sp" src="../common/img/houjin/title_banner_sp_img.jpg" alt="image description" />
					<div class="text">
						<h2>法人向けセキュリティ</h2>
						<p>Corporate Customers</p>
						<a href="" class="button red">素材確認</a>
					</div>
				</div>
				<!-- title banner end -->
				<!-- protect box begin -->
				<div class="protect_box">
					<div class="top_head">
						<h3>24時間・365日。</h3>
						<h2>お客様の経営資源を守り、<br />事業運営をサポートします。</h2>
						<p><span>店舗、事務所から高層ビルまで。</span><span>さまざまなお客様のニーズに</span>きめ細かくお応えします。</p>
					</div>
					<div class="head">
						<h3>24時間・365日。見る、知る、警備する。</h3>
						<h2>ALSOKオンラインセキュリティ</h2>
						<p>ALSOKガードシステムは、セキュリティ導入の目的、建物の用途、通信回線の環境から、<br />
							最適なプランをお選びいただくことができます。<br />
							画像監視によるセキュリティ強化とともに、マネジメントや業務サポートにも活用でき、<br />
							お客様にさらなる安心と利便性をお届けします。
						</p>
					</div>
					<div class="main_image">
						<img src="../common/img/houjin/protect_img_1.jpg" alt="image description" />
					</div>
					<div class="separator"></div>
					<div class="heading_box">
						<h3>スタンダードなセキュリティシステム</h3>
						<h2>ALSOK‐ST（スタンダード）</h2>
						<p>オフィス・店舗・工場・公共施設を守るオンラインセキュリティシステムです。<br />
							侵入や火災、設備の監視等、警備に必要な基本機能を備えています。
						</p>
					</div>
					<div class="center_image">
						<img src="../common/img/houjin/protect_img_2.jpg" alt="image description" />
					</div>
				</div>
				<!-- protect box end -->
				<!-- info boxes begin -->
				<div class="info_boxes boxes2">
					<h3 class="title_blue">充実した防災・防犯対策</h3>
					<div class="box">
						<h4>■ 防犯監視</h4>
						<div class="holder">
							<div class="image">
								<img src="../common/img/houjin/info_box_img_1.jpg" alt="image description" />
								<a href="" class="btn red bottom">SP時に判断</a>
							</div>
							<div class="text">
								<p>各種センサーで不法侵入を検知します。<br />金庫や重要物品保管庫も監視します。</p>
							</div>
						</div>
					</div>
					<div class="box">
						<h4>■ 防災監視</h4>
						<div class="holder">
							<div class="image">
								<img src="../common/img/houjin/info_box_img_2.jpg" alt="image description" />
								<a href="" class="btn red bottom">SP時に判断</a>
							</div>
							<div class="text">
								<p>センサーで火災発生を感知。<br />自動火災報知設備とも連動可能。</p>
							</div>
						</div>
					</div>
					<div class="box">
						<h4>■ 非常通報監視</h4>
						<div class="holder">
							<div class="image">
								<img src="../common/img/houjin/info_box_img_3.jpg" alt="image description" />
								<a href="" class="btn red bottom">SP時に判断</a>
							</div>
							<div class="text">
								<p>非常用押しボタンで緊急事態発生をALSOKへ通報します。</p>
							</div>
						</div>
					</div>
					<div class="box">
						<h4>■ 設備監視</h4>
						<div class="holder">
							<div class="image">
								<img src="../common/img/houjin/info_box_img_4.jpg" alt="image description" />
								<a href="" class="btn red bottom">SP時に判断</a>
							</div>
							<div class="text">
								<p>冷凍庫・冷蔵庫、貯水槽、エレベーター等を監視します。</p>
							</div>
						</div>
					</div>
					<div class="box">
						<h4>■ インターネット通信</h4>
						<div class="holder">
							<div class="image">
								<img src="../common/img/houjin/info_box_img_5.jpg" alt="image description" />
								<a href="" class="btn red bottom">SP時に判断</a>
							</div>
							<div class="text">
								<p>日々の通信費は変わりません。<br />定額制です。</p>
							</div>
						</div>
					</div>
					<div class="box">
						<h4>■ バックアップ回線</h4>
						<div class="holder">
							<div class="image">
								<img src="../common/img/houjin/info_box_img_6.jpg" alt="image description" />
								<a href="" class="btn red bottom">SP時に判断</a>
							</div>
							<div class="text">
								<p>メインのネットワーク回線に障害が発生した場合でも、バックアップ回線で警備を継続します。</p>
							</div>
						</div>
					</div>
					<div class="box">
						<h4>■ 暗号化通信</h4>
						<div class="holder">
							<div class="image">
								<img src="../common/img/houjin/info_box_img_7.jpg" alt="image description" />
								<a href="" class="btn red bottom">SP時に判断</a>
							</div>
							<div class="text">
								<p>警備情報はすべて暗号化されて送信されるので安心です。</p>
							</div>
						</div>
					</div>
					<div class="box">
						<h4>■ 在室警備（オプション）</h4>
						<div class="holder">
							<div class="image">
								<img src="../common/img/houjin/info_box_img_8.jpg" alt="image description" />
								<a href="" class="btn red bottom">SP時に判断</a>
							</div>
							<div class="text">
								<p>残業中に外部からの侵入を監視します。</p>
							</div>
						</div>
					</div>
				</div>
				<!-- info boxes end -->
				<!-- system box begin -->
				<div class="system_box">
					<div class="heading_box">
						<h3><span>画像監視による</span>最先端のセキュリティシステム</h3>
						<h2>ALSOK‐GV（ジーファイブ）</h2>
						<p>画像センサーと高速インターネット回線を組み合わせたシステムにより、<br />
							異常発生時の現場の状況をリアルタイムに把握。より迅速、より適切な対応を行います。
						</p>
					</div>
					<div class="main_image">
						<img src="../common/img/houjin/system_img_1.jpg" alt="image description" />
					</div>
					<div class="small_image">
						<h4>侵入者を画面で覚知。ガードマンが急行。</h4>
						<img src="../common/img/houjin/system_img_2.jpg" alt="image description" />
					</div>
				</div>
				<!-- system box end -->
				<!-- info boxes begin -->
				<div class="info_boxes boxes2">
					<h3 class="title_blue">ALSOK‐GVの3つの追加機能</h3>
					<div class="box">
						<h4>■ POINT1 リアルタイムの画像監視</h4>
						<div class="holder">
							<div class="image">
								<img src="../common/img/houjin/info_box_img_9.jpg" alt="image description" />
								<a href="" class="btn red bottom">SP時に判断</a>
							</div>
							<div class="text">
								<p>画像センサーで現地の画像を確認。音声で威嚇。<br />ガードマンに現場急行を指示します。</p>
							</div>
						</div>
					</div>
					<div class="box">
						<h4>■ POINT2　出入管理／出退勤情報</h4>
						<div class="holder">
							<div class="image">
								<img src="../common/img/houjin/info_box_img_10.jpg" alt="image description" />
								<a href="" class="btn red bottom">SP時に判断</a>
							</div>
							<div class="text">
								<p>非接触カードリーダー（カメラ付）を操作した<br />従業員の画像、氏名、出退勤時刻等の情報をWebで確認できます。</p>
							</div>
						</div>
					</div>
					<div class="box mb50">
						<h4>■ POINT3　フォグガードで不審者を撃退</h4>
						<div class="holder">
							<div class="image">
								<img src="../common/img/houjin/info_box_img_11.jpg" alt="image description" />
								<a href="" class="btn red bottom">SP時に判断</a>
							</div>
							<div class="text">
								<p>霧を噴射して侵入者の視界を遮り、室内での行動を困難にします。<br />遠隔操作により作動します。</p>
							</div>
						</div>
					</div>
					<div class="border_box">
						<h5>S‐858付帯保険</h5>
						<div class="txt">
							<p>被害に遭われた財産を新価補償でカバー。<br />セキュリティと付帯保険でALSOKは一貫した安心を提供します。</p>
						</div>
						<p>（制御装置S‐858を使用される場合、2011年4月1日以降の警備契約から付帯されております。）</p>
						<p>※損害補償の詳細は、<a href=""><strong>お問い合わせ</strong></a> ください。</p>
					</div>
				</div>
				<!-- info boxes end -->
				<!-- amand box begin -->
				<div class="amand_box">
					<div class="heading_box">
						<h3>キャッシュコーナー無人管理システム</h3>
						<h2>アマンドシステム®</h2>
						<p>キャッシュコーナーの無人管理に必要なすべての機能をオールインワン。<br />
							ATMコーナーの開店～閉店の自動制御、侵入監視や非常通報、<br />
							火災監視、閉店時のお客様の閉じ込め防止やCD・ATM障害監視機能も備えています。
						</p>
					</div>
					<div class="main_image">
						<img src="../common/img/houjin/amand_img.jpg" alt="image description" />
					</div>
				</div>
				<!-- amand box end -->
				<!-- info boxes begin -->
				<div class="info_boxes boxes2">
					<div class="box small">
						<h4>■ ATMコーナーの開店から閉店までを自動制御</h4>
						<div class="holder">
							<div class="text">
								<p>完全無人でコーナーを開店させ、営業、そして閉店までを完全自動化。</p>
							</div>
						</div>
					</div>
					<div class="box small">
						<h4>■ 防犯、防災、閉店時のお客様の閉じ込め防止機能も</h4>
						<div class="holder">
							<div class="text">
								<p>閉店後の閉じ込め防止機能を設定。</p>
							</div>
						</div>
					</div>
					<div class="box small">
						<h4>■ CD／ATMの障害監視機能を装備</h4>
						<div class="holder">
							<div class="text">
								<p>障害発生時にはALSOKのセキュリティスタッフが現場に急行。</p>
							</div>
						</div>
					</div>
					<p class="notes_row">※アマンドシステムは綜合警備保障株式会社の登録商標です。</p>
				</div>
				<!-- info boxes end -->
				<!-- resident begin -->
				<div class="resident">
					<div class="main_holder">
						<div class="heading">
							<h2>常駐警備</h2>
							<h3>Resident guard</h3>
							<h4>いつも私たちが存在する安心感。</h4>
							<p>高層ビル、商業施設、テレビ局、銀行、大学キャンパス、ホテル等、<br />
								さまざまなタイプの施設に、安全安心のプロであるALSOKの警備スタッフが常駐。<br />
								「見せる警備」の実践により、企業のイメージアップを図るとともに、防犯効果を大幅にアップさせます。
							</p>
						</div>						<div class="main_image">
							<img src="../common/img/houjin/resident_img.jpg" alt="image description" />
						</div>
						<!-- info boxes begin -->
						<div class="info_boxes">
							<div class="box inner">
								<h4>■ 受付</h4>
								<div class="holder">
									<div class="image">
										<img src="../common/img/houjin/info_box_img_12.jpg" alt="image description" />
									</div>
									<div class="text">
										<p>企業の「顔」として、笑顔を絶やさないソフトな接客を前面に、<br />
											来訪されたお客様のご案内や電話対応を行います。
										</p>
									</div>
								</div>
							</div>
							<div class="box inner">
								<h4>■ 出入管理</h4>
								<div class="holder">
									<div class="image">
										<img src="../common/img/houjin/info_box_img_13.jpg" alt="image description" />
										<a href="" class="btn small red center">撮影</a>
									</div>
									<div class="text">
										<p>人、物品、車両の出入りをチェック、記録作成を行います。<br />
											不審者の侵入防止や資産の持ち出し防止に効果を発揮します。
										</p>
									</div>
								</div>
							</div>
							<div class="box inner">
								<h4>■ 設備監視</h4>
								<div class="holder">
									<div class="image">
										<img src="../common/img/houjin/info_box_img_13.jpg" alt="image description" />
										<a href="" class="btn small red center">撮影</a>
									</div>
									<div class="text">
										<p>施設内に設置されたカメラやセンサーを活用し、遠隔監視。<br />
											異常があれば現場へ急行し、対処します。
										</p>
									</div>
								</div>
							</div>
							<div class="box inner">
								<h4>■ 巡回</h4>
								<div class="holder">
									<div class="image">
										<img src="../common/img/houjin/info_box_img_13.jpg" alt="image description" />
										<a href="" class="btn small red center">撮影</a>
									</div>
									<div class="text">
										<p>施設ごとに作成された巡回プランに基づき、点検・安全確認を行います。<br />
											火災、盗難、設備不良等、トラブルの未然防止と早期発見に努めます。
										</p>
									</div>
								</div>
							</div>
							<div class="box inner">
								<h4>■ 立哨警戒</h4>
								<div class="holder">
									<div class="image">
										<img src="../common/img/houjin/info_box_img_13.jpg" alt="image description" />
										<a href="" class="btn small red center">撮影</a>
									</div>
									<div class="text">
										<p>エントランスホール、関係者出入口、チェックポイント、その他指定場所において周囲を警戒します。</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- resident end -->
				<!-- event begin -->
				<div class="event">
					<div class="heading">
						<h2>イベント警備</h2>
						<h3>Event security</h3>
						<h4>お客様の笑顔のために。</h4>
						<p>多くの人々で混雑するプロスポーツ、コンサート、催事等、<br />
							各種イベント会場に警備スタッフを配置。円滑なイベント運営を安全の面からサポートします。
						</p>
					</div>
					<div class="main_image">
						<img src="../common/img/houjin/event_img.jpg" alt="image description" />
					</div>
					<!-- info boxes begin -->
					<div class="info_boxes">
						<div class="box inner">
							<h4>■ 来場者の案内・誘導</h4>
							<div class="holder">
								<div class="image">
									<img src="../common/img/houjin/info_box_img_13.jpg" alt="image description" />
									<a href="" class="btn small red center">撮影</a>
								</div>
								<div class="text">
									<p>会場案内やスムーズな誘導で、混雑緩和と事故防止に努めます。<br />
										また、必要に応じて入場規制を行います。
									</p>
								</div>
							</div>
						</div>
						<div class="box inner">
							<h4>■ 出入管理</h4>
							<div class="holder">
								<div class="image">
									<img src="../common/img/houjin/info_box_img_13.jpg" alt="image description" />
									<a href="" class="btn small red center">撮影</a>
								</div>
								<div class="text">
									<p>イベントスタッフおよび出演者のみが入場可能な規制エリアにおいて、<br />
										パスチェックと入室コントロールを行います。
									</p>
								</div>
							</div>
						</div>
						<div class="box inner">
							<h4>■ 手荷物検査</h4>
							<div class="holder">
								<div class="image">
									<img src="../common/img/houjin/info_box_img_13.jpg" alt="image description" />
									<a href="" class="btn small red center">撮影</a>
								</div>
								<div class="text">
									<p>入場ゲートにおいて、お客様の荷物の中に、<br />
										危険物や、指定された持ち込み禁止品が入っていないか検査します。
									</p>
								</div>
							</div>
						</div>
						<div class="box inner">
							<h4>■ 巡回・監視</h4>
							<div class="holder">
								<div class="image">
									<img src="../common/img/houjin/info_box_img_14.jpg" alt="image description" />
								</div>
								<div class="text">
									<p>イベント会場を監視、巡回し、不審者や不審物の発見、対処を行います。</p>
								</div>
							</div>
						</div>
						<div class="box inner">
							<h4>■ 車両誘導</h4>
							<div class="holder">
								<div class="image">
									<img src="../common/img/houjin/info_box_img_15.jpg" alt="image description" />
								</div>
								<div class="text">
									<p>駐車場出入口における車両の誘導や案内を行います。<br />
										交通量を見極めながら交通の円滑と事故防止に努めます。
									</p>
								</div>
							</div>
						</div>
						<div class="box inner">
							<h4>■ トラブル・アクシデントへの対処</h4>
							<div class="holder">
								<div class="image">
									<img src="../common/img/houjin/info_box_img_13.jpg" alt="image description" />
									<a href="" class="btn small red center">撮影</a>
								</div>
								<div class="text">
									<p>突発的に発生する急病人・ケガ人の救護、落し物の検索、迷子の案内をします。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- event end -->
				<!-- transport begin -->
				<div class="transport">
					<div class="main_holder">
						<h2>警備輸送</h2>
						<h3>Security transport</h3>
						<div class="main_image">
							<h4>大切なものを安全・確実に届ける。</h4>
							<img src="../common/img/houjin/transport_img.jpg" alt="image description" />
						</div>
						<div class="inner_block">
							<div class="heading_box">
								<h3>日本の金融や流通ビジネスを支える。</h3>
								<h2>警備輸送システム</h2>
								<p>現金、有価証券、個人情報等、貴重な財産を、現金輸送車や公共交通機関を利用して、<br />
									ご指定の日時・場所まで安全かつ迅速・正確にお届けします。
								</p>
							</div>
							<div class="transport_image">
								<img src="../common/img/houjin/transport_img_2.jpg" alt="image description" />
							</div>
							<!-- info boxes begin -->
							<div class="info_boxes">
								<div class="box small">
									<h4>■ 専用車両で安全に輸送</h4>
									<div class="holder">
										<div class="text">
											<p>すべて業界トップクラスのセキュリティ仕様の現金輸送車を使用します。</p>
										</div>
									</div>
								</div>
								<div class="box small">
									<h4>■ あらゆる重要物件の輸送に対応</h4>
									<div class="holder">
										<div class="text">
											<p>現金以外にもさまざまな重要物件を安全に輸送に対応します。</p>
										</div>
									</div>
								</div>
							</div>
							<!-- info boxes end -->
						</div>
						<div class="inner_block">
							<div class="heading_box">
								<h3>売上金をトータル管理。</h3>
								<h2>ALSOK入金機オンラインシステム</h2>
								<p>売上金の〈計算〉、〈保管〉、〈入金〉をワンパッケージにした<br />
									「ALSOK入金機オンラインシステム」は、売上金や釣銭の流れを効率化、円滑化し、<br />
									現金処理にかかるコストやリスクの削減に効果を発揮します。
								</p>
							</div>
							<div class="transport_image image2">
								<img src="../common/img/houjin/transport_img_3.jpg" alt="image description" />
							</div>
							<!-- info boxes begin -->
							<div class="info_boxes box2">
								<div class="box small">
									<h4>■ スピーディな集計で労務負担を軽減</h4>
									<div class="holder">
										<div class="text">
											<p>売上金の正確な計算により、計算間違いを防止。集計・入金の時間と人手を削減。</p>
										</div>
									</div>
								</div>
								<div class="box small">
									<h4>■ 銀行ATM並みの使いやすさ</h4>
									<div class="holder">
										<div class="text">
											<p>紙幣、硬貨を投入口にセットするだけ。売上金の管理・入金処理はALSOKが担当。</p>
										</div>
									</div>
								</div>
								<div class="box small">
									<h4>■ Webアクセスで入金データを把握</h4>
									<div class="holder">
										<div class="text">
											<p>入金データや指定口座への振込情報をパソコン上で閲覧できます。</p>
										</div>
									</div>
								</div>
							</div>
							<!-- info boxes end -->
						</div>
					</div>
				</div>
				<!-- transport end -->
				<!-- disaster begin -->
				<div class="disaster">
					<div class="main_holder">
						<div class="heading">
							<h2>防災警備</h2>
							<h3>Disaster prevention security</h3>
							<h4>防火管理からコンサルティングまで。</h4>
							<p>一瞬で大切な財産のすべてを奪う〈火災〉〈災害〉に対して、<br />
								ALSOKは万全の備えを提供します。
							</p>
						</div>
						<div class="main_image">
							<img src="../common/img/houjin/disaster_img.jpg" alt="image description" />
						</div>
						<!-- info boxes begin -->
						<div class="info_boxes">
							<div class="box inner">
								<h4>■ 防災警備</h4>
								<div class="holder">
									<div class="image">
										<img src="../common/img/houjin/info_box_img_16.jpg" alt="image description" />
									</div>
									<div class="text">
										<p>専任の防災員がエネルギー施設を監視・巡回。<br />
											災害発生時には消防署への通報と消防車を活用した消火活動を行います。
										</p>
									</div>
								</div>
							</div>
							<div class="box inner">
								<h4>■ 防火管理</h4>
								<div class="holder">
									<div class="image">
										<img src="../common/img/houjin/info_box_img_17.jpg" alt="image description" />
									</div>
									<div class="text">
										<p>火災予防に日々全力を尽くす警備スタッフの視点で厳しくチェック。<br />
											常に消防機器のコンディションを良好に維持します。<br />
											日常点検・管理・報告のほか、防火管理強化のお手伝いもいたします。
										</p>
									</div>
								</div>
							</div>
							<div class="box inner">
								<h4>■ 防災コンサルティング</h4>
								<div class="holder">
									<div class="image">
										<img src="../common/img/houjin/info_box_img_18.jpg" alt="image description" />
										<a href="" class="btn green center">ストックフォト</a>
									</div>
									<div class="text">
										<p>防災研修や消防計画、消防訓練の企画・立案等、<br />
											セキュリティのノウハウを活用した防災コンサルティング業務を行います。
										</p>
									</div>
								</div>
							</div>
						</div>
						<!-- info boxes end -->
					</div>
				</div>
				<!-- disaster end -->
				<!-- security box begin -->
				<div class="security_box">
					<div class="main_holder">
						<div class="heading">
							<h2>保安警備</h2>
							<h3>Security guard</h3>
							<h4>安全で快適なショッピング空間を創造する。</h4>
							<p>私服保安スタッフが商業施設を巡回し、犯罪防止に努めます。<br />
								健全で快適な店舗運営と商品の不法なロスの軽減に貢献します。
							</p>
						</div>
						<div class="main_image">
							<img src="../common/img/houjin/security_box_img.jpg" alt="image description" />
						</div>
						<!-- info boxes begin -->
						<div class="info_boxes">
							<div class="box empty">
								<h4><a href="">■ 万引き、スリ、置引き、内引き等、店舗内の不正行為の予防、発見</a></h4>
							</div>
							<div class="box empty">
								<h4><a href="">■ 万引き犯の身柄確保から警察への通報・引き渡しへの対処</a></h4>
							</div>
							<div class="box empty">
								<h4><a href="">■ 被害の回復と再犯防止対策</a></h4>
							</div>
							<div class="box empty">
								<h4><a href="">■ 犯罪行為、迷惑行為、不正行為が行われにくい店舗づくりのご提案</a></h4>
							</div>
						</div>
						<!-- info boxes end -->
					</div>
				</div>
				<!-- security box end -->
				<!-- personal box begin -->
				<div class="personal_box">
					<div class="heading">
						<h2>身辺警護</h2>
						<h3>Personal Guard</h3>
						<h4>あらゆるリスクに立ち向かう。</h4>
						<p>各種イベントや株主総会における安全確保や、特定の個人をお守りする身辺警護を担当。<br />
							必要に応じて女性警備スタッフも対応いたします。
						</p>
					</div>
					<div class="main_image">
						<img src="../common/img/houjin/personal_box_img.jpg" alt="image description" />
						<a href="" class="btn red">支給待ち</a>
					</div>
					<!-- info boxes begin -->
					<div class="info_boxes">
						<div class="box empty">
							<h4><a href="">■ 私邸、宿泊先、イベント会場における警備</a></h4>
						</div>
						<div class="box empty">
							<h4><a href="">■ 自動車・列車・飛行機等、移動時の警備</a></h4>
						</div>
						<div class="box empty">
							<h4><a href="">■ エスコート（送迎）サービス</a></h4>
						</div>
						<div class="box empty">
							<h4><a href="">■ 不審人物、不審車両、不審物の検索、対応</a></h4>
						</div>
					</div>
					<!-- info boxes end -->
				</div>
				<!-- personal box end -->
				<!-- security box begin -->
				<div class="security_box">
					<div class="main_holder">
						<div class="heading">
							<h2>総合管理</h2>
							<h3>Comprehensive management</h3>
							<h4>セキュリティの枠を超え、快適空間の創造へ。</h4>
							<p>消防点検をはじめ、電話対応、清掃、設備管理に至るまで、<br />
								建物運用管理に関する業務を総合的にサポートします。
							</p>
						</div>
						<div class="main_image">
							<img src="../common/img/houjin/personal_box_img.jpg" alt="image description" />
							<a href="" class="btn">撮影</a>
						</div>
						<!-- info boxes begin -->
						<div class="info_boxes">
							<div class="box inner">
								<h4>■ 建物の運用管理をトータルでサポート</h4>
								<div class="holder">
									<div class="image">
										<img src="../common/img/houjin/info_box_img_19.jpg" alt="image description" />
									</div>
									<div class="text">
										<p>ALSOKがすべてのビル管理を一本化。<br />
											質の高いサービスを提供し、労務コスト削減をします。
										</p>
									</div>
								</div>
							</div>
							<div class="box inner">
								<h4>■ 清掃業務</h4>
								<div class="holder">
									<div class="image">
										<img src="../common/img/houjin/info_box_img_20.jpg" alt="image description" />
										<a href="" class="btn green center">ストックフォト</a>
									</div>
									<div class="text">
										<p>日常清掃から清掃マネジメントで、さまざまなニーズに対応。</p>
									</div>
								</div>
							</div>
						</div>
						<!-- info boxes end -->
					</div>
				</div>
				<!-- security box end -->
				<!-- personal box begin -->
				<div class="personal_box">
					<div class="heading">
						<h2>放置車両確認業務</h2>
						<h3>Comprehensive management</h3>
						<h4>違法駐車問題に取り組み、交通安全に貢献します。</h4>
						<p>年の道路交通法改正により、違法駐車対策の民間委託がスタートしました。<br />
							当社は、年より愛知県内で放置車両確認事業を受託。<br />
							警察署の定めた「駐車監視員活動ガイドライン」に基づき、<br />
							地域社会の交通安全と快適性の確保の一翼を担っています。
						</p>
					</div>
					<div class="main_image">
						<img src="../common/img/houjin/img_main_image_1.jpg" alt="image description" />
					</div>
					<!-- info boxes begin -->
					<div class="info_boxes">
						<div class="box empty">
							<h4><a href="">■ 地域の巡回活動</a></h4>
						</div>
						<div class="box empty">
							<h4><a href="">■ 公道上の放置車両の事実確認</a></h4>
						</div>
						<div class="box empty">
							<h4><a href="">■ 違反標章の取り付け事務</a></h4>
						</div>
					</div>
					<!-- info boxes end -->
				</div>
				<!-- personal box end -->
				<!-- security box begin -->
				<div class="security_box">
					<div class="main_holder">
						<div class="heading">
							<h2>AED</h2>
							<h3>AED</h3>
							<h4>そのとき、あなたにも救える命があります。</h4>
							<p>AEDは、心室細動（心臓がけいれんしている状態）の時に、必要に応じて電気ショックを与え、<br />
								心臓を正常なリズムに戻すための医療機器です。<br />
								医学的な知識が少ない一般の方でも戸惑うことなくご使用いただけます。
							</p>
						</div>
						<div class="main_image">
							<img src="../common/img/houjin/img_main_image_2.jpg" alt="image description" />
						</div>
						<!-- info boxes begin -->
						<div class="info_boxes">
							<div class="box inner">
								<h4>■ 用途、環境に合わせた3種類のAED</h4>
								<div class="holder">
									<div class="three_images">
										<div class="col">
											<img src="../common/img/houjin/three_images_img_1.jpg" alt="image description" />
											<p>軽量で操作が簡単なHS1＋。</p>
										</div>
										<div class="col">
											<img src="../common/img/houjin/three_images_img_2.jpg" alt="image description" />
											<p>軽くて頑丈、天候・環境を選ばないFRx＋。</p>
										</div>
										<div class="col">
											<img src="../common/img/houjin/three_images_img_3.jpg" alt="image description" />
											<p>多彩な最新機能を掲載したFR3。</p>
										</div>
									</div>
								</div>
							</div>
							<div class="box inner">
								<h4>■ AEDの管理をALSOKが支援</h4>
								<div class="holder">
									<div class="image">
										<img src="../common/img/houjin/info_box_img_21.jpg" alt="image description" />
									</div>
									<div class="text">
										<p>定期交換用の消耗品（電極パッド、バッテリー）の交換時期をALSOKがお知らせします。<br />
											レンタルプランの場合、AEDを使用した場合でも、消耗品を無償でお届けします。
										</p>
									</div>
								</div>
							</div>
							<div class="box inner">
								<h4>■ AED救急トレーニングサービス</h4>
								<div class="holder">
									<div class="image">
										<img src="../common/img/houjin/info_box_img_22.jpg" alt="image description" />
									</div>
									<div class="text">
										<p>AEDの設置・導入にあたり、<br />
											AEDの使用方法、AEDを活用したCPR（心肺蘇生法）について<br />
											丁寧にレクチャーします。
										</p>
									</div>
								</div>
							</div>
							<div class="border_box">
								<h5>AEDは救急処置のための医療機器</h5>
								<p>AEDを設置したら、いつでも使用できるように、AEDを定期的に点検することが重要です。</p>
							</div>
						</div>
						<!-- info boxes end -->
					</div>
				</div>
				<!-- security box end -->
				<!-- personal box begin -->
				<div class="personal_box">
					<div class="heading">
						<h2>その他商品・サービス</h2>
						<h3>Other products / services</h3>
						<p>防犯・防災対策に役立つ商品をALSOKがご提案します。</p>
					</div>
					<!-- info boxes begin -->
					<div class="info_boxes set2">
						<div class="box">
							<h4>■ 防犯カメラ</h4>
							<div class="holder">
								<div class="image img2">
									<img src="../common/img/houjin/info_box_img_23.jpg" alt="image description" />
								</div>
								<div class="text">
									<p>銀行、小売店、オフィス、工場、マンションで、ALSOKの防犯カメラが活躍しています。</p>
									<h5>・撮る ／ クリアな映像</h5>
									<p>暗い場所や激しい逆光でもクリアに撮影動きが滑らか</p>
									<h5>・視る ／ 柔軟な対応力</h5>
									<p>遠隔地でのモニタリングも可能<br />
										パソコン用モニターにも対応<br />
										多彩な画面表示パターン
									</p>
									<h5>・残す ／ 豊富な録画設定</h5>
									<p>その瞬間を逃さないデジタルタイマー<br />
										圧縮率に優れ、長期録画が可能<br />
										データ二重化に対応
									</p>
									<h5>・守る ／ 万全のセキィリティ対策</h5>
									<p>パスワードによる操作制限が可能</p>
								</div>
							</div>
						</div>
						<div class="box">
							<h4>■ 防犯ガラス</h4>
							<div class="holder">
								<div class="three_columns">
									<div class="col">
										<div class="image">
											<img src="../common/img/houjin/info_box_img_24.jpg" alt="image description" />
											<a href="" class="btn red bottom">SP時に判断</a>
										</div>									</div>
									<div class="col">
										<div class="image">
											<img src="../common/img/houjin/info_box_img_25.jpg" alt="image description" />
										</div>
									</div>
									<div class="col">
										<div class="image">
											<img src="../common/img/houjin/info_box_img_26.jpg" alt="image description" />
										</div>
									</div>
								</div>
								<div class="text">
									<p>窓からの侵入を防ぐためには、「破るのに時間がかかり、もし割られても大きな音のする窓ガラス」の導入が有効です。<br />
										・侵入の手口の約7割がガラス破りです。<br />
										・ALSOK防犯ガラスは、特殊な樹脂を挟み込んでいるので、貫通するまでに5分以上かかります。<br />
										・5分以内に侵入できなければ、7割近くの泥棒が犯行をあきらめるといわれています。
									</p>
								</div>
							</div>
						</div>
						<div class="box">
							<h4>■ さすまた</h4>
							<div class="holder">
								<div class="image">
									<img src="../common/img/houjin/info_box_img_27.jpg" alt="image description" />
									<a href="" class="btn red bottom">SP時に判断</a>
								</div>
								<div class="text">
									<p>「不審者侵入時」＝「いざ」というときに、子どもと自分を守る重要な道具です。<br />
										軽量、かつ丈夫で、女性でも使いやすく作られています。<br />
										※ALSOKでは、さすまたの操作要領や防犯訓練を行っております。<br />
										詳しくはお問い合わせください。
									</p>
									<div class="dash_box">
										<h5 class="dark">ご購入・ご使用上の注意点</h5>
										<p>・本商品は2本以上でご使用いただくことをお薦めします。<br />
											1本では不審者の力が強い場合は、逆に奪われてしまう可能性があります。 <br />
											・万が一に備えて、日々の訓練が大切です。
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="box">
							<h4>■ 粉末〈ABC〉消火器</h4>
							<div class="holder">
								<div class="image">
									<img src="../common/img/houjin/info_box_img_28.jpg" alt="image description" />
									<a href="" class="btn red bottom">SP時に判断</a>
								</div>
								<div class="text">
									<p>さまざまな種類の火災に対応する粉末消火器です。<br />
										・安全栓を引き抜き、レバーを押すだけで簡単に使えます。<br />
										・普通A（木材、紙、繊維）、油B（ガソリン・灯油・てんぷら油）、<br />
										　電気C（電気設備）の火災に対応しています。<br />
										・（財）日本環境協会の「エコマーク」の認定を受けています。<br />
										・蓄光シールが貼付されており、暗闇でも消火器の位置が判りやすくなっています。<br />
										・火災見舞い保険付き。
									</p>
								</div>
							</div>
						</div>
						<div class="box kit">
							<h4>■ 緊急キット</h4>
							<div class="top_text">
								<p>事務所での備蓄に最適な非常持ち出しセットです。</p>
							</div>
							<div class="holder">
								<div class="image">
									<img src="../common/img/houjin/info_box_img_29.jpg" alt="image description" />
									<a href="" class="btn red bottom"></a>
								</div>
								<div class="text">
									<h5>・8種類セットの「緊急キット」</h5>
									<p>ライフライン復旧までの1日を過ごすために、<br />
										すぐ必要となる食料や水、トイレ等、必要最小限のアイテムを、<br />
										軽量・コンパクトにまとめました。<br /><br />
										〈セット内容〉<br />
										・携帯用ナップサック	<br />
										・備蓄用保存水（500㎜ℓ×2本）<br />
										・マジックライス（青菜ご飯／梅じゃこご飯）<br />
										・ガーディVマスク<br />
										・セーフティ・ライト（2本）<br />
										・簡易トイレ<br />
										・エマージェンシーブランケット<br />
										・滑り止め付き軍手<br />
										※この他、ティッシュ、タオル、筆記用具、警笛、ばんそうこうをご用意しておくと便利です。
									</p>
								</div>
							</div>
							<div class="holder last">
								<div class="image">
									<img src="../common/img/houjin/info_box_img_30.jpg" alt="image description" />
									<a href="" class="btn red bottom"></a>
								</div>
								<div class="text">
									<h5>・3 Days Kit</h5>
									<p>最低限3日間生きるための保存食、保存水をセットにしました。<br /><br />
										〈セット内容〉<br />
										・500㎜ℓ保存水（6年間保存）×3<br />
										・パワーフルーツキャンディ（6年間保存）×1<br />
										・バランスパワー（6年間保存）×3<br />
										・レスキューライス「ドライカレー」（7年間保存）×1<br />
										・レスキューライス「ピラフ」（7年間保存）×1<br />
										・レスキューライス「わかめご飯」（7年間保存）×1
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- info boxes end -->
				</div>
				<!-- personal box end -->
				<!-- contact box begin -->
				<div class="contact_box gray">
					<div class="main_holder">
						<h2>資料請求・お問い合わせ（個人向け）</h2>
						<h3>Information request</h3>
						<div class="tel_box">
							<h5>お急ぎの方は下記まで直接お電話ください。</h5>
							<p class="tel"><span>営業ダイヤル：</span><a href="">TEL：052‐252‐5110</a></p>
							<p><span>受付時間：9：00～18:00 </span>（土・日・祝日、年末年始を除く）</p>
							<p><span>休日、夜間、年末年始に</span><span>お問い合わせされた場合、</span>また、お問い合わせ内容によっては、<br /><span>返信までお時間をいただく場合がございます。</span>予めご了承ください。</p>
						</div>
						<h4>お客様に関する情報</h4>
						<div class="form">
							<form action="#">
								<div class="row">
									<label for="name">法人名／店名 <span class="required">※必須</span></label>
									<div class="holder">
										<div class="input_text">
											<input id="name" type="text" placeholder="中京綜合警備保障株式会社" />
										</div>
									</div>
								</div>
								<div class="row">
									<label for="phonetic">ふりがな <span class="required">※必須</span></label>
									<div class="holder">
										<div class="input_text">
											<input id="phonetic" type="text" placeholder="ちゅうきょうそうごうけいびほしょうかぶしいきがいしゃ" />
										</div>
									</div>
								</div>
								<div class="row">
									<label for="department">部署名 <span class="any">※任意</span></label>
									<div class="holder">
										<div class="input_text">
											<input id="department" type="text" placeholder="営業課" />
										</div>
									</div>
								</div>
								<div class="row">
									<label for="department">ご担当者様 <span class="required">※必須</span></label>
									<div class="holder">
										<div class="input_text">
											<input id="department" type="text" placeholder="中京太郎" />
										</div>
									</div>
								</div>
								<div class="row">
									<label for="postal">郵便番号 <span class="any">※任意</span></label>
									<div class="holder">
										<div class="short input_text">
											<input id="postal" type="text" placeholder="000" />
										</div>
										<span class="separator">-</span>
										<div class="short input_text">
											<input type="text" placeholder="000" />
										</div>
									</div>
								</div>
								<div class="row">
									<label for="address">ご住所 <span class="any">※任意</span></label>
									<div class="holder">
										<div class="input_text">
											<input id="address" type="text" placeholder="名古屋市中区栄3‐35‐1" />
										</div>
									</div>
								</div>
								<div class="row phone">
									<label for="phone">電話番号（携帯可） <span class="required">※必須</span></label>
									<div class="holder">
										<div class="short input_text">
											<input type="text" value="052" />
										</div>
										<span class="separator">-</span>
										<div class="short input_text">
											<input id="phone" type="text" placeholder="XXXX" />
										</div>
										<span class="separator">-</span>
										<div class="short input_text last">
											<input type="text" placeholder="XXXX" />
										</div>
									</div>
								</div>
								<div class="row">
									<label for="email">メールアドレス <span class="any">※任意</span></label>
									<div class="holder">
										<div class="input_text">
											<input id="email" type="text" placeholder="eigyo@alsokc.com" />
										</div>
										<p class="notes">※あらかじめ「@alsokc.com」からのメールが受信できるようご設定ください。</p>
									</div>
								</div>
								<div class="row">
									<label>お問い合わせ内容 <span class="required">※必須</span></label>
									<div class="holder">
										<div class="select_holder">
											<select>
												<option>ご希望のサービスや商品（いくつでも）</option>
												<option>--</option>
											</select>
										</div>
										<p class="title">具体的なご要望・お困りごとがありましたら、ご入力ください。</p>
										<textarea cols="30" rows="10"></textarea>
									</div>
								</div>
								<div class="text">
									<p>※　資料請求・お問い合わせが完了しますと、ご入力いただいたメールアドレスへ当社より受付確認メールをお送りします。<br />
										確認メールが届かない場合には、ご入力されたメールアドレスに誤りがある可能性がございますので、再度ご入力をお願いいたします。<br />
										※当社ホームページでは、お客様に安心してご利用いただけるよう、個人情報の入力が必要なページには暗号化技術（SSL：Secure Socket Layer）を使用しています。<br />
										お客様からいただいた個人情報データは、当社 <a href="">プライバシーポリシー</a> に基づき、当社の営業活動以外の用途に使用することは<br />
										一切ありません。
									</p>
								</div>
								<div class="button-holder">
									<div class="check_row">
										<input id="agree" type="checkbox" />
										<label for="agree">｢プライバシーポリシー｣に同意する</label>
									</div>
									<p class="required-note">※本フォームは、同意いただける場合のみご利用いただけます</p>
									<input class="button" type="submit" value="送信する" />
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- contact box end -->
			</div>
			<!--メインエリア-->
		</div>
		<!--コンテンツ-->
		<!-- フッターここから-->
		<div id="footer">
			<!-- footer links begin -->
			<div class="footer_links">
				<h3 class="pc"><a href="">トップページ</a></h3>
				<div class="links desktop">
					<div class="col">
						<h4><a href="">個人のお客様</a></h4>
						<ul>							<li><a href="">ホームセキュリティ</a></li>							<li><a href="">防犯カメラ</a></li>							<li><a href="">防犯用品・災害対策用品</a></li>							<li><a href="">セキュリティ導入までの流れ</a></li>							<li><a href="">お問い合わせ・資料請求</a></li>						</ul>
						<h4><a href="">法人のお客様</a></h4>
						<ul>
							<li><a href="">機械警備</a></li>
							<li><a href="">常駐警備</a></li>
							<li><a href="">イベント警備</a></li>
							<li><a href="">警備輸送</a></li>
							<li><a href="">防災警備</a></li>
							<li><a href="">保安警備</a></li>
							<li><a href="">身辺警護</a></li>
							<li><a href="">綜合管理</a></li>
							<li><a href="">放置車両確認業務</a></li>
							<li><a href="">AED</a></li>
							<li><a href="">その他商品・サービス</a></li>
							<li><a href="">お問い合わせ・資料請求</a></li>
						</ul>
					</div>
					<div class="col">
						<h4><a href="">中京綜合警備保障とは</a></h4>
						<ul>
							<li><a href="">・社長メッセージ</a></li>
							<li><a href="">・経営理念</a></li>
							<li><a href="">・会社概要</a></li>
							<li><a href="">・交通アクセス</a></li>
							<li><a href="">・中京綜合警備保障のあゆみ</a></li>
							<li><a href="">・スポーツ活動のご紹介</a></li>
							<li><a href="">・ALSOK中京綜合警備保障の強み</a></li>
							<li><a href="">・ALSOK中京綜合警備保障グループリンク</a></li>
						</ul>
						<h4><a href="">社会貢献活動</a></h4>
						<ul>
							<li><a href="">・基本的な考え方</a></li>
							<li><a href="">・主な社会貢献活動</a></li>
						</ul>
					</div>
					<div class="col">
						<h4><a href="">採用情報</a></h4>
						<ul class="blue">
							<li><a href="">■ 人事担当者メッセージ</a></li>							<li><a href="">■ ALSOKの仕事</a></li>							<li><a href="">■ 教育制度・人事制度</a></li>
						</ul>
						<ul class="inner">							<li><a href="">先輩社員の声</a></li>						</ul>
						<ul class="blue">
							<li><a href="">■ 数字で見るALSOK</a></li>
						</ul>
						<ul class="blue">
							<li><a href="">■ 新卒採用</a></li>
						</ul>
						<ul class="inner">
							<li><a href="">募集要項</a></li>
							<li><a href="">採用までの流れ</a></li>
							<li><a href="">採用Q＆A</a></li>
							<li><a href="">新卒採用エントリー</a></li>
						</ul>
						<ul class="blue">
							<li><a href="">■ キャリア採用</a></li>
						</ul>
						<ul class="inner">
							<li><a href="">募集要項</a></li>
							<li><a href="">採用までの流れ</a></li>
							<li><a href="">採用Q＆A</a></li>
							<li><a href="">キャリア採用エントリーフォーム</a></li>
						</ul>
						<ul class="blue">
							<li><a href="">■ アルバイト採用</a></li>
						</ul>
						<ul>
							<li><a href="">募集要項</a></li>
							<li><a href="">採用までの流れ</a></li>
							<li><a href="">採用Q＆A</a></li>
							<li><a href="">アルバイトエントリーフォーム</a></li>
						</ul>
					</div>
					<div class="col">
						<h4><a href="">創業50周年（工事中）</a></h4>
						<h4 class="bot_space"><a href="">暴力団等反社会的勢力排除宣言</a></h4>
						<h4><a href="">外部リンク</a></h4>
						<ul>
							<li><a class="icon" href="">駐日エチオピア名誉領事館</a></li>
							<li><a class="icon" href="">（一社）愛知県警備業協会</a></li>
							<li><a class="icon" href="">（一財）愛知県剣道連盟</a></li>
						</ul>
					</div>
				</div>
				<ul class="links sp">
					<li><a href="">トップページ</a></li>					<li><a href="">中京綜合警備保障とは</a></li>					<li><a href="">社会貢献活動</a></li>					<li><a href="">個人のお客様</a></li>					<li><a href="">採用情報</a></li>					<li><a href="">情報セキュリティ方針</a></li>					<li><a href="">サイトマップ</a></li>					<li><a href="">暴力団等反社会的勢力排除宣言</a></li>					<li><a href="">創業50周年（工事中）</a></li>
				</ul>
			</div>
			<!-- footer links end -->
			<a href="#contents" class="link_to_top">
				<span><span>PAGE TOP</span></span>
			</a>
			<div class="footer_bar">
				<div class="holder">
					<ul class="links">
						<li><a href="">情報セキュリティ方針</a><span class="sep">/</span></li>						<li><a href="">サイトマップ</a></li>
					</ul>
					<p class="copyright">Copyright &copy; 中京綜合警備保障株式会社 All rights reserved.</p>
				</div>				<strong class="footer_logo"><a href="">Always Security OK</a></strong>
			</div>
		</div>
		<!-- フッター-->
		<a href="#contents" class="link_to_top_fixed">PAGE TOP</a>
	</div>
	<!--wrapper-->
</body>
</html>