<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7 ]> <html xmlns="http://www.w3.org/1999/xhtml" class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html xmlns="http://www.w3.org/1999/xhtml" class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html xmlns="http://www.w3.org/1999/xhtml" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html xmlns="http://www.w3.org/1999/xhtml" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns="http://www.w3.org/1999/xhtml" lang="ja"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="中京,綜合,警備,保障,中京綜合警備保障,ALSOK,アルソック,機械警備,警備輸送業務,常駐警備業務,防災警備業務,綜合管理,ホームセキュリティ,防犯,セキュリティ" />
<meta name="description" content="中部地区安全管理システムを商品の中核とした警備会社、中京綜合警備保障 ALSOKホームページ。採用情報あり" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<!--OGPタグ-->
<meta property="og:title" content="★"/>
<meta property="og:type" content="website"/>
<!-- <meta property="og:url" content="★"/> -->
<meta property="og:image" content="★"/>
<meta property="og:site_name" content="★"/>
<meta property="fb:admins" content="100002247945655"/>
<meta property="og:description" content="★"/>
<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1, minimum-scale=1" />
<title>ALSOK 中京綜合警備保障｜安全な街を、未来の子供たちへ。</title>
<!--OGPタグ-->
<link rel="stylesheet" type="text/css" href="../common/css/swiper.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/common.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/ic.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/each.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/each_pc.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/each_sp.css" media="all" />
<link rel="shortcut icon" href="" />
<script type="text/javascript" src="../common/js/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../common/js/ic.js"></script>
<script type="text/javascript" src="../common/js/custom.js"></script>
<script type="text/javascript" src="../common/js/swiper.min.js"></script>
<script type="text/javascript" src="../common/js/each.js"></script>
</head>

<body id="privacy">
<!--アナリティクスここから-->
<!--アナリティクス-->

	<!--wrapperここから-->
	<div id="wrapper">
		<!--ヘッダここから-->
		<div id="header">
			<div class="top_bar">
				<h1 class="logo"><a href="#">Always Security OK | 中京綜合警備保障株式会社</a></h1>
				<a href="" class="mobile_opener sp"><span>Open Menu</span></a>
			</div>
			<!-- pc navigation begin -->
			<div class="nav pc dark">
				<ul id="dropmenu">
					<li><a href="#">トップページ</a></li>					<li><a href="#">個人向けセキュリティ</a></li>					<li><a href="#">法人向けセキュリティ</a></li>					<li><a href="#">中京綜合警備保障とは</a></li>					<li><a href="#">社会貢献活動</a></li>					<li><a href="#">採用情報</a></li>					<li>
						<a href="#">お問い合わせ</a>
						<ul>
							<li><a href="#">個人のお客様</a></li>							<li><a href="#">法人のお客様</a></li>							<li><a href="#">その他お問い合わせ</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- pc navigation end -->
			<!-- sp navigation begin -->
			<div class="nav sp">
				<div class="menu">
					<div class="hold">
						<h4><a href="#">トップページ</a></h4>
						<div class="slide_block">
							<a href="" class="slide_link">個人のお客様</a>
							<div class="slide_box">
								<ul>									<li><a href="#">ホームセキュリティ</a></li>									<li><a href="#">防犯カメラ</a></li>									<li><a href="#">防犯用品・災害対策用品</a></li>									<li><a href="#">セキュリティ導入までの流れ</a></li>									<li><a href="#">お問い合わせ・資料請求</a></li>								</ul>
							</div>
						</div>
						<div class="slide_block">
							<a href="" class="slide_link">法人のお客様</a>
							<div class="slide_box">
								<ul>
									<li><a href="#">機械警備</a></li>
									<li><a href="#">常駐警備</a></li>
									<li><a href="#">イベント警備</a></li>
									<li><a href="#">警備輸送</a></li>
									<li><a href="#">防災警備</a></li>
									<li><a href="#">保安警備</a></li>
									<li><a href="#">身辺警護</a></li>
									<li><a href="#">綜合管理</a></li>
									<li><a href="#">放置車両確認業務</a></li>
									<li><a href="#">AED</a></li>
									<li><a href="#">その他商品・サービス</a></li>
									<li><a href="#">お問い合わせ・資料請求</a></li>
								</ul>
							</div>
						</div>
						<div class="slide_block">
							<a href="" class="slide_link">中京綜合警備保障とは</a>
							<div class="slide_box">
								<ul>
									<li><a href="#">社長メッセージ</a></li>
									<li><a href="#">経営理念</a></li>
									<li><a href="#">会社概要</a></li>
									<li><a href="#">交通アクセス</a></li>
									<li><a href="#">中京綜合警備保障のあゆみ</a></li>
									<li><a href="#">スポーツ活動のご紹介</a></li>									<li><a href="#">ALSOK中京綜合警備保障の強み</a></li>
									<li><a href="#">ALSOK中京綜合警備保障<br />グループリンク</a></li>
								</ul>
							</div>
						</div>
						<div class="slide_block">
							<a href="" class="slide_link">社会貢献活動</a>
							<div class="slide_box">
								<ul>
									<li><a href="#">基本的な考え方</a></li>
									<li><a href="#">主な社会貢献活動</a></li>
								</ul>
							</div>
						</div>
						<div class="slide_block">
							<a href="" class="slide_link">採用情報</a>
							<div class="slide_box">
								<ul>
									<li><a href="#">人事担当者メッセージ</a></li>
									<li><a href="#">ALSOKの仕事</a></li>
									<li><a href="#">教育制度・人事制度</a></li>
									<li><a href="#">先輩社員の声</a></li>
									<li><a href="#">数字で見るALSOK</a></li>
									<li><a href="#">新卒採用</a></li>
									<li><a href="#">キャリア採用</a></li>
									<li><a href="#">アルバイト採用</a></li>
								</ul>
							</div>
						</div>
						<h4><a href="#">創業50周年（工事中）</a></h4>
						<h4><a href="#">暴力団等反社会的勢力排除宣言</a></h4>
						<div class="slide_block">
							<a href="" class="slide_link">外部リンク</a>
							<div class="slide_box">
								<ul>
									<li><a class="icon" href="#">駐日エチオピア名誉領事館</a></li>
									<li><a class="icon" href="#">（一社）愛知県警備業協会</a></li>
									<li><a class="icon" href="#">（一財）愛知県剣道連盟</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- sp navigation end -->
		</div>
		<div class="bg sp"></div>
		<!--ヘッダ-->
		<!--コンテンツここから-->
		<div id="contents" class="clearfix">
			<!--メインエリアここから-->
			<div id="main">
				<!-- title banner begin -->
				<div class="title_banner">
					<img class="pc" src="../common/img/bouryokudan/title_banner_pc_img.jpg" alt="image description" />
					<img class="sp" src="../common/img/bouryokudan/title_banner_sp_img.jpg" alt="image description" />
					<div class="text">
						<h2>情報セキュリティ方針</h2>
						<p>Information security policy</p>
						<a href="#" class="button green">ストックフォト</a>
					</div>
				</div>
				<!-- title banner end -->
				<!-- declaration text begin -->
				<div class="declaration_text">
					<h2>個人情報保護方針</h2>
					<h3>Privacy policy</h3>
					<p>中京綜合警備保障株式会社（以下「当社」といいます。）は、お客様からの信頼を基本とし、<br />
						「信用、規律、誠意、強力」の社訓をもって、生命と財産の安全を守る警備業を中核とした事業活動を推進しております。　当社は、その社会的責任の大きさを重く受け止め、個人情報の保護を事業運営上の重要事項と位置づけます。 <br />
						当社は、この理念の下に、個人情報の取扱いに関して、業務に従事するすべての者が常日頃からその責任を認識し、<br />
						個人情報の保護に関する法令、国が定める指針その他の規範および社内規程を遵守し、<br />
						次のとおり個人情報の適切な管理に努めて参ります。
					</p>
					<ul class="num_list top">
						<li>
							<strong class="num">1.</strong>
							<p>当社は、事業目的の範囲内で個人情報を適正に取得するものとし、特定した利用目的の達成に必要な範囲を越える取扱いを行わず、また、その措置を講じ、正当な目的のために利用および提供いたします。</p>
						</li>
						<li>
							<strong class="num">2.</strong>
							<p>当社は、個人情報を取得、利用および提供する場合は、原則として、利用目的、提供範囲等について、文書、口頭等でお客様等（ご契約先、お客様、株主様、お取引先、採用応募者、退職者、役員、社員等）にご説明いたします。</p>
						</li>
						<li>
							<strong class="num">3.</strong>
							<p>当社は、以下の目的でお客様等の個人情報を利用いたします。<br />
								（1）当社のサービスをご提供する場合<br />
								（2）当社の商品・サービスをご案内する場合<br />
								（3）当社のサービスの改善または新たなサービスの開発を行う場合<br />
								（4）当社が、アンケートを実施する場合<br />
								（5）お客様等から当社のプレゼントや懸賞に応募していただく場合<br />
								（6）お客様等から当社にお問い合わせをいただく場合<br />
								（7）その他、当社の業務遂行に必要な場合<br />
								なお、当社は、お客様等との契約が終了した後も、この利用目的の範囲内で個人情報を利用することがあります。
							</p>
						</li>
						<li>
							<strong class="num">4.</strong>
							<p>当社およびALSOKグループ各社（ALSOKホームページの「主要関係会社」に掲載）は、ALSOKグループの総合的なサービス等をお客様等にご提供、ご案内するために、第３項の範囲内で個人情報を共同利用いたします。<br />
								なお、ALSOKグループ各社は、ALSOKと同様に、個人情報の保護に関する法令、国が定める指針その他の規範を遵守し、個人情報保護方針（プライバシーポリシー）を定めて、個人情報の適切な管理に努めております。
							</p>
						</li>
						<li>
							<strong class="num">5.</strong>
							<p>当社が、お客様等にサービスをご提供するため、ALSOKグループ各社または業務委託先に<br />
								お客様等の個人情報を提供する場合は、お客様等の個人情報の漏えいや不正アクセス等が発生しないよう、<br />
								業務委託先に対する監督を徹底いたします。
							</p>
						</li>
						<li>
							<strong class="num">6.</strong>
							<p>当社は、お客様等の同意がない限り、ALSOKグループ各社および業務委託先以外の第三者にお客様等の個人情報を提供することはいたしません。ただし、次に掲げる場合は、お客様等の個人情報を提供することがあります。<br />
								（1）法令に基づき開示を求められた場合<br />
								（2）人の生命、身体または財産の保護のために開示の必要があり、かつ、本人の同意を得ることが困難な場合<br />
								（3）お客様等ならびにALSOKおよび従業員の権利、財産、サービス等を保護するため、必要と認められる場合
							</p>
						</li>
						<li>
							<strong class="num">7.</strong>
							<p>当社は、個人情報の漏えい、滅失、き損および個人情報への不正アクセス等のリスクに対し、<br />
								技術面および組織面における合理的な安全対策を行い、予防措置および是正措置を講じます。
							</p>
						</li>
						<li>
							<strong class="num">8.</strong>
							<p>当社は、個人情報保護に関する社内規程を定めて個人情報保護に関する管理体制を構築し、<br />その継続的な改善に努めます。</p>
						</li>
						<li>
							<strong class="num">9.</strong>
							<p>当社は、業務に従事するすべての者に対し、個人情報保護に関する教育および啓蒙活動を実施するとともに、<br />
								個人情報を取り扱う所属ごとに管理責任者を置き、適切な管理に努めます。
							</p>
						</li>
						<li>
							<strong class="num">10.</strong>
							<p>当社は、個人情報の取り扱いに関する質問、苦情等を受け付ける窓口を次のとおり設置しております。 <br />
								質問、苦情等があった場合は、誠実かつ迅速な対応に努めます。
							</p>
						</li>
					</ul>
					<div class="bottom_info">
						<h4>【問い合せ窓口】</h4>
						<p>中京綜合警備保障株式会社　総務部 <br />　
							電話番号：052‐252‐7704（受付時間：平日9：00～18:00）
						</p>
						<p>制定日　平成17年7月1日<br />
							改訂日　平成27年4月1日<br />
							中京綜合警備保障株式会社　代表取締役社長　松本 健一郎
						</p>
					</div>				</div>
				<!-- declaration text end -->
				<!-- privacy box begin -->
				<div class="privacy_box">
					<h2><span>個人情報の取扱いについて</span></h2>
					<p>個人情報保護方針（プライバシーポリシー）に基づく当社の個人情報の取扱いの詳細は、次のとおりです。</p>
					<ul class="num_list top text">
						<li>
							<strong class="num">1. 個人情報の利用目的</strong>
							<p>社は、お客様等の同意を得た目的の範囲内で個人情報を利用および提供し、<br />
								特定された利用目的の達成に必要な範囲を越えて、お客様等の個人情報の取り扱いを行いません。<br />
								当社がお客様等の個人情報を利用させていただく主な目的は、次のとおりです。
							</p>
							<div class="sub">
								<p>（1）警備等の業務および営業活動等に関わる主な利用目的について。</p>
								<div class="sub_sub">
									<p>① 当社のサービス（機械警備業務、警備輸送業務、常駐警備業務、その他業務）を<br />
										　 ご提供する場合に利用させていただきます。<br />
										② お客様との契約に基づく業務を遂行するために、<br />
										　 お客様および契約関係者様等のご本人確認のために利用させていただきます。<br />
										③ 機器設置工事、設備点検等を行うために利用させていただきます。<br />
										④ 緊急事態が発生した場合に、お客様またはお客様からあらかじめ指定された緊急連絡者へ<br />
										　 連絡をするために利用させていただきます。<br />
										⑤ 緊急事態が発生した場合に、警察、消防等関係機関へ通報するために利用させていただきます。<br />
										⑥ お客様の急病時に医療機関へ通報するために利用させていただきます。<br />
										⑦ 位置情報提供サービスを実施するために利用させていただきます。<br />
										⑧ ご購入した商品をお届けするために利用させていただきます。<br />
										⑨ サービス代金、商品代金等の受取手続のために利用させていただきます。<br />
										⑩ お客様のIDカード等を作成するために利用させていただきます。<br />
										⑪ 委託元から受託した業務を遂行するために利用させていただきます。<br />
										⑫ サービスの改善または新たなサービスの開発を行う場合に利用させていただきます。<br />
										⑬ 当社およびALSOKグループ各社（ALSOKホームページの「主要関係会社」に掲載）の<br />
										　 商品やサービスをご案内するために利用させていただきます。<br />
										⑭ 当社およびALSOKグループ各社の機関紙等を送付するために利用させていただきます。<br />
										⑮ 個人が特定できないようにデータを処理し、統計データとして、<br />
										　 サービス向上または新たなサービスの開発を行なうために利用させていただきます。<br />
										　 なお、当社は、お客様との契約が終了した後も、この利用目的の範囲内でお客様等の個人情報を<br />
										　 利用することがあります。
									</p>
								</div>
								<p>（2）お問い合わせやアンケート等で取得した個人情報の主な利用目的について</p>
								<div class="sub_sub">
									<p>① 当社が、お客様等のご満足度やご意見等の調査のためにアンケートを実施する場合に利用させていただきます。<br />
										② ご応募いただいた当社のプレゼントや懸賞に対する商品等を送付させていただくために利用させていただきます。③ 当社へのお問い合せに対して回答するために利用させていただきます。<br />
										④ お問い合わせをされたご本人を確認させていただくために利用させていただきます。<br />
										⑤ ご請求されたパンフレット等の資料をお届けするために利用させていただきます。<br />
										⑥ 当社およびALSKグループ各社（ALSOKホームページの「主要関係会社」に掲載）の<br />
										    商品やサービスおよび会社情報をご案内するために利用させていただきます。<br />
										⑦ サービスの改善または新たなサービスの開発を行うために利用させていただきます。<br />
										⑧ お電話でのお問い合わせの際の録音内容は、お問い合わせ内容に対して、<br />
										    確実、適切な対応を行なうために利用させていただきます。<br />
										⑨ 監視カメラの画像は、事件、事故等が発生した場合に利用させていただきます。<br />
										⑩ 個人が特定できないようにデータを処理し、<br />
										    統計データとして、サービス向上または新たなサービスの開発を行うために利用させていただきます。
									</p>
								</div>
								<p>（3）株主様に関わる主な利用目的について</p>
								<div class="sub_sub">
									<p>① 会社法に基づく株主様の権利の行使および義務の履行のために利用させていただきます。<br />
										② 株主様へ当社の事業運営に関する情報を提供するために利用させていただきます。<br />
										③ 株主様と当社との関係を円滑にするための各種方策を行うために利用させていただきます。<br />
										④ 法令に基づく所定の基準による株主様のデータを作成する等の株主様の地位管理のために利用させていただきます。
									</p>
								</div>
								<p>（4）お取引先に関わる主な利用目的について</p>
								<div class="sub_sub">
									<p>商談およびこれに伴う連絡等に利用させていただきます。</p>
								</div>
								<p>（5）採用応募者に関わる主な利用目的について</p>
								<div class="sub_sub">
									<p>採用活動および採用活動に関する情報提供のために利用させていただきます。</p>
								</div>
								<p>（6）退職者、役員、社員等に関わる主な利用目的について</p>
								<div class="sub_sub">
									<p>人事労務管理、福利厚生、法律上要求される諸手続き、事務連絡および緊急時の連絡等に利用させていただきます。</p>
								</div>
								<p>（7）クレジットカード情報を含む個人情報の取扱いについて</p>
								<div class="sub_sub last">
									<p>お客様等のクレジットカード情報の利用目的、取得者名、提供先名、保存期間は、次のとおりです。<br />
										① 利用目的　お客様がご購入した商品およびサービスの代金決済のため<br />
										② 取得者　中京綜合警備保障株式会社<br />
										③ 提供先名　お客様等がクレジットカード決済時にご利用いただいたカード会社および決済代行会社<br />
										④ 保存期間　業務遂行上および各種法令の定めによる必要最小限の期間。<br />
										　 必要に応じて、当社の判断により廃棄または抹消いたします。
									</p>
								</div>
							</div>
						</li>
						<li>
							<strong class="num">2. 委託先の監督</strong>
							<p>当社が、お客様等の個人情報の取扱いの全部または一部を第三者に委託する場合は、委託先の適切な選定を行い、<br />
								個人情報保護に関する法律および関係法令に基づく安全管理措置を遵守させるために必要な契約を締結し、<br />
								お客様等の個人情報の漏えいや不正アクセスが発生しないよう、委託先に対する必要かつ適切な監督を行います。<br />
								また、委託先に提供するお客様等の個人情報は、委託目的を達成するために必要な個人情報に限定し、<br />
								その取扱状況を、適宜、確認いたします。
							</p>
						</li>
						<li>
							<strong class="num">3. 個人情報の第三者への提供</strong>
							<p>当社は、お客様等の同意がない限り、ALSOKグループ各社（ALSOKホームページの「主要関係会社」に掲載）<br />
								および業務委託先以外の第三者に、お客様等の個人情報を提供することはいたしません。<br />
								ただし、次の場合は、お客様等の同意を得ずに個人情報を提供することがあります。<br /><br />
								・法令に基づく場合。<br />
								・人（法人を含む。）の生命、身体または財産の保護のために必要がある場合であって、<br />
								　お客様等の同意を得ることが困難であるとき。<br />
								・公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、<br />
								　お客様等の同意を得ることが困難であるとき。<br />
								・国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して<br />
								　協力する必要がある場合であって、お客様等の同意を得ることにより当該業務の遂行に支障を及ぼすおそれがあるとき。
							</p>
						</li>
						<li>
							<strong class="num">4. 共同利用</strong>
							<p>当社およびALSOKグループ各社（ALSOKホームページの「主要関係会社」に掲載）は、お客様等へ、ALSOKグループの総合的なサービスをご提供するために、個人情報保護方針（プライバシーポリシー）第3項の範囲内（「1 個人情報の利用目的」に主な利用目的を示しております。）で、お客様等の個人情報を共同利用いたします。</p>
							<div class="sub">
								<p>（1）共同利用するお客様等の個人情報は、次のとおりです。</p>
								<div class="sub_sub">
									<p>① お客様の住所、氏名、連絡先（電話番号、FAX番号、電子メールアドレス）<br />
										② 機器の設置先およびサービスのご提供先の名称、住所、連絡先（電話番号、FAX番号、電子メールアドレス）
									</p>
								</div>
								<p>（2）共同利用するお客様等の個人データの管理について責任を有するものは、次のとおりです。</p>
								<div class="sub_sub last">
									<p>綜合警備保障株式会社</p>
								</div>
							</div>
						</li>
						<li>
							<strong class="num">5. 開示、訂正等</strong>
							<p>お客様等から、当社が保有しているお客様等の個人情報について、開示を求められた場合は、ご本人様であることを確認させていただいたうえで、ご本人様または第三者の生命、身体、財産その他の権利利益を害する恐れがある場合や他の法令等に違反する等の特別の理由がある場合を除いて、遅滞なく、当該保有個人情報の開示をいたします。<br />
								また、お客様等から、当社が保有しているお客様等の個人情報の内容が事実でないという理由によって訂正、追加または削除を求められた場合は、他の法令の規定により特別の手続きが定められている場合を除いて、利用目的の達成に必要な範囲内において、遅滞なく調査を行い、その結果に基づいて、当該保有個人情報の内容の訂正等を行います。
							</p>
						</li>
						<li>
							<strong class="num">6. 開示、訂正等の請求手続き</strong>
							<p>個人情報の利用目的の通知、開示、内容の訂正、追加または削除、利用の停止、消去または第三者への提供の停止（以下「開示等」といいます。）の請求は、「個人情報の開示等請求書」を電話で取り寄せ必要事項を記入していただいたうえ、ご本人様および代理人確認のために必要な証明書類（本籍地等の機微情報が記載されている場合は、黒く塗り潰して下さい。）を添付して、下記送付先へご郵送ください。（必要な書類が不足している場合や記入内容に不備がある場合は、開示等の請求手続きができない場合があります。）なお、保有個人情報の利用目的の通知および開示請求の場合には、お客様等への回答書等の作成および送付手数料を、有償とさせていただきます。</p>
							<div class="sub last">
								<p>（1）個人情報保護管理責任者 <br />
								       中京綜合警備保障株式会社　情報資産管理担当役員 <br />
								　　  問い合わせ先：中京綜合警備保障株式会社　総務部　<br />
								　　  電話番号：052‐252‐7704　（受付時間：平日9：00～18:00）
								</p>
								<p>（2）送付先　<br />
								       〒460‐0008　名古屋市中区栄3‐35‐1　　<br />
								       中京綜合警備保障株式会社　総務部　
								</p>
							</div>
						</li>
						<li>
							<strong class="num">7. 問い合わせ窓口</strong>
							<p>お客様等の個人情報の開示等の手続きに関する質問および個人情報の取り扱いについてのお問い合わせは、<br />
								下記窓口へご連絡ください。<br />
								※当社の商品・サービスに関する問合せ先ではございません。
							</p>
							<p>中京綜合警備保障株式会社　総務部 <br />
								住所：〒460‐0008　名古屋市中区栄3‐35‐1 <br />
								電話番号：052‐252‐7704（受付時間平日：9：00～18:00）
							</p>
						</li>
						<li>
							<strong class="num">8. 個人情報のご提供における注意事項</strong>
							<p>個人情報のご提供については任意ですが、当社の業務を遂行する為およびサービス等をご提供する為に<br />
								必要な情報のご提供がない場合は、適切な業務の遂行およびサービス等のご提供ができない場合があります。
							</p>
						</li>
					</ul>
					<p>平成27年4月1日更新</p>
				</div>
				<!-- privacy box end -->
				<!-- privacy box begin -->
				<div class="privacy_box last">
					<h2><span>特定個人情報等保護方針</span></h2>
					<p>中京綜合警備保障株式会社（以下「当社」といいます。）は、<br />
						個人番号および特定個人情報（以下「特定個人情報等」といいます。）の適正な取扱いの確保について <br />
						組織として取り組むために、次のとおり基本方針を定め、特定個人情報等の適切な管理に努めてまいります。
					</p>
					<ul class="num_list top text">
						<li>
							<strong class="num">1. 関係法令、ガイドライン等の遵守</strong>
							<p>当社は、「行政手続きにおける特定の個人を識別するための番号の利用等に関する法律」および関連法令、<br />
								国が定める指針その他の規範等を遵守いたします。
							</p>
						</li>
						<li>
							<strong class="num">2. 特定個人情報等の利用目的</strong>
							<p>当社は、法令に定められた範囲内で利用目的を特定した上で、特定個人情報等を利用いたします。</p>
						</li>
						<li>
							<strong class="num">3. 安全管理措置に関する事項</strong>
							<p>当社は、特定個人情報等の管理者を選任し、特定個人情報等の漏えい、滅失またはき損の防止その他特定個人情報等の安全管理のために必要かつ適切な措置を講じ、その継続的な改善に努めます。</p>
						</li>
						<li>
							<strong class="num">4. 委託先の監督</strong>
							<p>当社は、特定個人情報等の取り扱いを第三者に委託する場合、当該委託先に対して必要かつ適切な監督を行います。</p>
						</li>
						<li>
							<strong class="num">5. 第三者提供</strong>
							<p>当社は、法令に定める場合を除き、特定個人情報等を第三者に提供いたしません。</p>
						</li>
						<li>
							<strong class="num">6. 特定個人情報の開示等</strong>
							<p>当社は、当社が保有する特定個人情報等について、ご本人から開示、内容の訂正、追加または削除、利用の停止、<br />
								消去または第三者への提供の停止等を求められた場合は、法令に則り、適切に対応いたします。
							</p>
						</li>
						<li>
							<strong class="num">7. 特定個人情報等の取扱いに関するお問合せ窓口</strong>
							<p>お客様等の特定個人情報等の取扱いに関するご質問や苦情その他のお問合せにつきましては、下記窓口へご連絡ください。ご質問等があった場合は、誠実かつ迅速な対応に努めます。</p>
						</li>
					</ul>
					<div class="bottom_info">
						<h4>【問い合せ窓口】</h4>
						<p>中京綜合警備保障株式会社　総務部 <br />
							住所：〒460‐0008　名古屋市中区栄3‐35‐1 <br />
							電話番号：052‐252‐7704（受付時間平日：9：00～18:00） 
						</p>
						<p>制定日：平成28年4月1日 <br />
							中京綜合警備保障株式会社　代表取締役社長　松本健一郎 
						</p>
					</div>
				</div>
				<!-- privacy box end -->
			</div>
			<!--メインエリア-->
		</div>
		<!--コンテンツ-->
		<!-- フッターここから-->
		<div id="footer" class="inner_footer">
			<!-- footer links begin -->
			<div class="footer_links">
				<h3 class="pc"><a href="#">トップページ</a></h3>
				<div class="links desktop">
					<div class="col">
						<h4><a href="#">個人のお客様</a></h4>
						<ul>							<li><a href="#">ホームセキュリティ</a></li>							<li><a href="#">防犯カメラ</a></li>							<li><a href="#">ALSOKあんしん商品</a></li>							<li><a href="#">セキュリティ導入までの流れ</a></li>							<li><a href="#">お問い合わせ・資料請求</a></li>						</ul>
						<h4><a href="#">法人のお客様</a></h4>
						<ul>
							<li><a href="#">機械警備</a></li>
							<li><a href="#">常駐警備</a></li>
							<li><a href="#">イベント警備</a></li>
							<li><a href="#">警備輸送</a></li>
							<li><a href="#">防災警備</a></li>
							<li><a href="#">保安警備</a></li>
							<li><a href="#">身辺警護</a></li>
							<li><a href="#">綜合管理</a></li>
							<li><a href="#">放置車両確認業務</a></li>
							<li><a href="#">AED</a></li>
							<li><a href="#">その他商品・サービス</a></li>
							<li><a href="#">お問い合わせ・資料請求</a></li>
						</ul>
					</div>
					<div class="col">
						<h4><a href="#">中京綜合警備保障とは</a></h4>
						<ul>
							<li><a href="#">社長メッセージ</a></li>
							<li><a href="#">経営理念</a></li>
							<li><a href="#">会社概要</a></li>
							<li><a href="#">中京綜合警備のあゆみ</a></li>
							<li><a href="#">交通アクセス</a></li>
							<li><a href="#">スポーツ活動</a></li>
							<li><a href="#">ALSOKの強み</a></li>
							<li><a href="#">ALSOKグループリンク</a></li>
						</ul>
						<h4><a href="#">社会貢献活動</a></h4>
						<ul>
							<li><a href="#">基本的な考え方</a></li>
							<li><a href="#">ALSOKありがとう運動</a></li>
							<li><a href="#">講習会・セミナー</a></li>
							<li><a href="#">チャリティイベント</a></li>
							<li><a href="#">地域貢献活動</a></li>
						</ul>
					</div>
					<div class="col">
						<h4><a href="#">採用情報</a></h4>
						<ul class="blue">
							<li><a href="#">■ 人事担当者メッセージ</a></li>							<li><a href="#">■ ALSOKの仕事</a></li>							<li><a href="#">■ 教育制度・人事制度</a></li>
						</ul>
						<ul class="inner">							<li><a href="#">先輩社員の声</a></li>						</ul>
						<ul class="blue">
							<li><a href="#">■ 数字で見るALSOK</a></li>
						</ul>
						<ul class="blue">
							<li><a href="#">■ 新卒採用</a></li>
						</ul>
						<ul class="inner">
							<li><a href="#">募集要項</a></li>
							<li><a href="#">採用までの流れ</a></li>
							<li><a href="#">採用Q＆A</a></li>
							<li><a href="#">新卒採用エントリー</a></li>
						</ul>
						<ul class="blue">
							<li><a href="#">■ キャリア採用</a></li>
						</ul>
						<ul class="inner">
							<li><a href="#">募集要項</a></li>
							<li><a href="#">採用までの流れ</a></li>
							<li><a href="#">採用Q＆A</a></li>
							<li><a href="#">キャリア採用エントリーフォーム</a></li>
						</ul>
						<ul class="blue">
							<li><a href="#">■ アルバイト採用</a></li>
						</ul>
						<ul>
							<li><a href="#">募集要項</a></li>
							<li><a href="#">採用までの流れ</a></li>
							<li><a href="#">採用Q＆A</a></li>
							<li><a href="#">アルバイトエントリーフォーム</a></li>
						</ul>
					</div>
					<div class="col">
						<h4><a href="#">情報セキュリティ方針</a></h4>
						<h4><a href="#">暴力団等反社会的勢力排除宣言</a></h4>
						<h4><a href="#">創業50周年（工事中）</a></h4>
						<h4 class="bot_space"><a href="#">サイトマップ</a></h4>
						<h4><a href="#">外部リンク</a></h4>
						<ul>
							<li><a class="icon" href="#">駐日エチオピア名誉領事館</a></li>
							<li><a class="icon" href="#">（一社）愛知県警備業協会</a></li>
							<li><a class="icon" href="#">（一財）愛知県剣道連盟</a></li>
						</ul>
					</div>
				</div>
				<ul class="links sp">
					<li><a href="#">トップページ</a></li>					<li><a href="#">中京綜合警備保障とは</a></li>					<li><a href="#">社会貢献活動</a></li>					<li><a href="#">個人のお客様</a></li>					<li><a href="#">採用情報</a></li>					<li><a href="#">情報セキュリティ方針</a></li>					<li><a href="#">サイトマップ</a></li>					<li><a href="#">暴力団等反社会的勢力排除宣言</a></li>					<li><a href="#">創業50周年（工事中）</a></li>
				</ul>
			</div>
			<!-- footer links end -->
			<a href="#contents" class="link_to_top">
				<span><span>PAGE TOP</span></span>
			</a>
			<div class="footer_bar">
				<div class="holder">
					<ul class="links">
						<li><a href="#">情報セキュリティ方針</a><span class="sep">/</span></li>						<li><a href="#">サイトマップ</a></li>
					</ul>
					<p class="copyright">Copyright &copy; 中京綜合警備保障株式会社 All rights reserved.</p>
				</div>				<strong class="footer_logo"><a href="#">Always Security OK</a></strong>
			</div>
		</div>
		<!-- フッター-->
		<a href="#contents" class="link_to_top_fixed">PAGE TOP</a>
	</div>
	<!--wrapper-->
</body>
</html>