<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7 ]> <html xmlns="http://www.w3.org/1999/xhtml" class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html xmlns="http://www.w3.org/1999/xhtml" class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html xmlns="http://www.w3.org/1999/xhtml" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html xmlns="http://www.w3.org/1999/xhtml" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns="http://www.w3.org/1999/xhtml" lang="ja"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="中京,綜合,警備,保障,中京綜合警備保障,ALSOK,アルソック,機械警備,警備輸送業務,常駐警備業務,防災警備業務,綜合管理,ホームセキュリティ,防犯,セキュリティ" />
<meta name="description" content="中部地区安全管理システムを商品の中核とした警備会社、中京綜合警備保障 ALSOKホームページ。採用情報あり" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<!--OGPタグ-->
<meta property="og:title" content="★"/>
<meta property="og:type" content="website"/>
<!-- <meta property="og:url" content="★"/> -->
<meta property="og:image" content="★"/>
<meta property="og:site_name" content="★"/>
<meta property="fb:admins" content="100002247945655"/>
<meta property="og:description" content="★"/>
<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1, minimum-scale=1" />
<title>ALSOK 中京綜合警備保障｜安全な街を、未来の子供たちへ。</title>
<!--OGPタグ-->
<link rel="stylesheet" type="text/css" href="../common/css/swiper.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/common.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/ic.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/each.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/each_pc.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/each_sp.css" media="all" />
<link rel="shortcut icon" href="" />
<script type="text/javascript" src="../common/js/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../common/js/ic.js"></script>
<script type="text/javascript" src="../common/js/custom.js"></script>
<script type="text/javascript" src="../common/js/swiper.min.js"></script>
<script type="text/javascript" src="../common/js/each.js"></script>
</head>

<body id="sitemap">
<!--アナリティクスここから-->
<!--アナリティクス-->

	<!--wrapperここから-->
	<div id="wrapper">
		<!--ヘッダここから-->
		<div id="header">
			<div class="top_bar">
				<h1 class="logo"><a href="#">Always Security OK | 中京綜合警備保障株式会社</a></h1>
				<a href="" class="mobile_opener sp"><span>Open Menu</span></a>
			</div>
			<!-- pc navigation begin -->
			<div class="nav pc dark">
				<ul id="dropmenu">
					<li><a href="#">トップページ</a></li>					<li><a href="#">個人向けセキュリティ</a></li>					<li><a href="#">法人向けセキュリティ</a></li>					<li><a href="#">中京綜合警備保障とは</a></li>					<li><a href="#">社会貢献活動</a></li>					<li><a href="#">採用情報</a></li>					<li>
						<a href="#">お問い合わせ</a>
						<ul>
							<li><a href="#">個人のお客様</a></li>							<li><a href="#">法人のお客様</a></li>							<li><a href="#">その他お問い合わせ</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- pc navigation end -->
			<!-- sp navigation begin -->
			<div class="nav sp">
				<div class="menu">
					<div class="hold">
						<h4><a href="#">トップページ</a></h4>
						<div class="slide_block">
							<a href="" class="slide_link">個人のお客様</a>
							<div class="slide_box">
								<ul>									<li><a href="#">ホームセキュリティ</a></li>									<li><a href="#">防犯カメラ</a></li>									<li><a href="#">防犯用品・災害対策用品</a></li>									<li><a href="#">セキュリティ導入までの流れ</a></li>									<li><a href="#">お問い合わせ・資料請求</a></li>								</ul>
							</div>
						</div>
						<div class="slide_block">
							<a href="" class="slide_link">法人のお客様</a>
							<div class="slide_box">
								<ul>
									<li><a href="#">機械警備</a></li>
									<li><a href="#">常駐警備</a></li>
									<li><a href="#">イベント警備</a></li>
									<li><a href="#">警備輸送</a></li>
									<li><a href="#">防災警備</a></li>
									<li><a href="#">保安警備</a></li>
									<li><a href="#">身辺警護</a></li>
									<li><a href="#">綜合管理</a></li>
									<li><a href="#">放置車両確認業務</a></li>
									<li><a href="#">AED</a></li>
									<li><a href="#">その他商品・サービス</a></li>
									<li><a href="#">お問い合わせ・資料請求</a></li>
								</ul>
							</div>
						</div>
						<div class="slide_block">
							<a href="" class="slide_link">中京綜合警備保障とは</a>
							<div class="slide_box">
								<ul>
									<li><a href="#">社長メッセージ</a></li>
									<li><a href="#">経営理念</a></li>
									<li><a href="#">会社概要</a></li>
									<li><a href="#">交通アクセス</a></li>
									<li><a href="#">中京綜合警備保障のあゆみ</a></li>
									<li><a href="#">スポーツ活動のご紹介</a></li>									<li><a href="#">ALSOK中京綜合警備保障の強み</a></li>
									<li><a href="#">ALSOK中京綜合警備保障<br />グループリンク</a></li>
								</ul>
							</div>
						</div>
						<div class="slide_block">
							<a href="" class="slide_link">社会貢献活動</a>
							<div class="slide_box">
								<ul>
									<li><a href="#">基本的な考え方</a></li>
									<li><a href="#">主な社会貢献活動</a></li>
								</ul>
							</div>
						</div>
						<div class="slide_block">
							<a href="" class="slide_link">採用情報</a>
							<div class="slide_box">
								<ul>
									<li><a href="#">人事担当者メッセージ</a></li>
									<li><a href="#">ALSOKの仕事</a></li>
									<li><a href="#">教育制度・人事制度</a></li>
									<li><a href="#">先輩社員の声</a></li>
									<li><a href="#">数字で見るALSOK</a></li>
									<li><a href="#">新卒採用</a></li>
									<li><a href="#">キャリア採用</a></li>
									<li><a href="#">アルバイト採用</a></li>
								</ul>
							</div>
						</div>
						<h4><a href="#">創業50周年（工事中）</a></h4>
						<h4><a href="#">暴力団等反社会的勢力排除宣言</a></h4>
						<div class="slide_block">
							<a href="" class="slide_link">外部リンク</a>
							<div class="slide_box">
								<ul>
									<li><a class="icon" href="#">駐日エチオピア名誉領事館</a></li>
									<li><a class="icon" href="#">（一社）愛知県警備業協会</a></li>
									<li><a class="icon" href="#">（一財）愛知県剣道連盟</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- sp navigation end -->
		</div>
		<div class="bg sp"></div>
		<!--ヘッダ-->
		<!--コンテンツここから-->
		<div id="contents" class="clearfix">
			<!--メインエリアここから-->
			<div id="main">
				<!-- title banner begin -->
				<div class="title_banner">
					<img class="pc" src="../common/img/bouryokudan/title_banner_pc_img.jpg" alt="image description" />
					<img class="sp" src="../common/img/bouryokudan/title_banner_sp_img.jpg" alt="image description" />
					<div class="text">
						<h2>サイトマップ</h2>
						<p>Site map</p>
						<a href="#" class="button green">ストックフォト</a>
					</div>
				</div>
				<!-- title banner end -->
				<!-- site map begin -->
				<div class="site_map">
					<h2><a href="#">トップページ</a></h2>
					<div class="columns">
						<div class="col">
							<h3><a href="#">個人のお客様</a></h3>
							<ul class="links">
								<li><a href="#">・ホームセキュリティ</a></li>								<li><a href="#">・防犯カメラ</a></li>								<li><a href="#">・ALSOKあんしん商品</a></li>								<li><a href="#">・セキュリティ導入までの流れ</a></li>								<li><a href="#">・お問い合わせ・資料請求</a></li>
							</ul>
							<h3><a href="#">法人のお客様</a></h3>
							<ul class="links">
								<li><a href="#">・ALSOKオンラインセキュリティ</a></li>
								<li><a href="#">・常駐警備</a></li>
								<li><a href="#">・イベント警備</a></li>
								<li><a href="#">・警備輸送</a></li>
								<li><a href="#">・防災警備</a></li>
								<li><a href="#">・保安警備</a></li>
								<li><a href="#">・身辺警護</a></li>
								<li><a href="#">・綜合管理</a></li>
								<li><a href="#">・放置車両確認業務</a></li>
								<li><a href="#">・AED</a></li>
								<li><a href="#">・その他商品・サービス</a></li>
								<li><a href="#">・お問い合わせ・資料請求</a></li>
							</ul>
							<h3><a href="#">中京綜合警備保障とは</a></h3>
							<ul class="links">
								<li><a href="#">・社長メッセージ</a></li>
								<li><a href="#">・経営理念</a></li>
								<li><a href="#">・会社概要</a></li>
								<li><a href="#">・中京綜合警備保障のあゆみ</a></li>
								<li><a href="#">・スポーツ活動のご紹介</a></li>
								<li><a href="#">・交通アクセス</a></li>
								<li><a href="#">・ALSOK中京綜合警備保障の強み</a></li>
								<li><a href="#">・ALSOK中京綜合警備保障グループリンク</a></li>
							</ul>
							<h3><a href="#">社会貢献活動</a></h3>
							<ul class="links">
								<li><a href="#">・基本的な考え方</a></li>
								<li><a href="#">・主な社会貢献活動</a></li>
							</ul>
						</div>
						<div class="col">
							<h3><a href="#">採用情報</a></h3>
							<ul class="links parent">
								<li><a href="#">■ ALSOKの仕事</a></li>
								<li><a href="#">■ 人事担当者メッセージ</a></li>
								<li><a href="#">■ 教育制度・人事制度</a>
									<ul>										<li><a href="#">・先輩社員の声</a></li>									</ul>
								</li>
								<li><a href="#">■ 数字で見るALSOK</a></li>
								<li><a href="#">■ 新卒採用</a>
									<ul>										<li><a href="#">・募集要項</a></li>										<li><a href="#">・採用までの流れ</a></li>										<li><a href="#">・採用Q＆A</a></li>										<li><a href="#">・新卒採用エントリー</a></li>									</ul>
								</li>
								<li><a href="#">■ キャリア採用</a>
									<ul>										<li><a href="#">・募集要項</a></li>										<li><a href="#">・採用までの流れ</a></li>										<li><a href="#">・採用Q＆A</a></li>										<li><a href="#">・キャリア採用エントリーフォーム</a></li>									</ul>
								</li>
								<li><a href="#">■ アルバイト採用</a>
									<ul>										<li><a href="#">・募集要項</a></li>										<li><a href="#">・採用までの流れ</a></li>										<li><a href="#">・採用Q＆A</a></li>										<li><a href="#">・アルバイトエントリーフォーム</a></li>									</ul>
								</li>
							</ul>
							<h3 class="single"><a href="#">情報セキュリティ方針</a></h3>
							<h3 class="single"><a href="#">暴力団等反社会的勢力排除宣言</a></h3>
							<h3 class="single"><a href="#">創業50周年（工事中）</a></h3>
							<h3 class="single"><a href="#">サイトマップ</a></h3>
							<h3><a href="#">外部リンク</a></h3>
							<ul class="links">
								<li><a class="icon" href="#">・駐日エチオピア名誉領事館</a></li>
								<li><a class="icon" href="#">・（一社）愛知県警備業協会</a></li>
								<li><a class="icon" href="#">・（一財）愛知県剣道連盟</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- site map end -->
			</div>
			<!--メインエリア-->
		</div>
		<!--コンテンツ-->
		<!-- フッターここから-->
		<div id="footer" class="inner_footer">
			<!-- footer links begin -->
			<div class="footer_links">
				<h3 class="pc"><a href="#">トップページ</a></h3>
				<div class="links desktop">
					<div class="col">
						<h4><a href="#">個人のお客様</a></h4>
						<ul>							<li><a href="#">ホームセキュリティ</a></li>							<li><a href="#">防犯カメラ</a></li>							<li><a href="#">ALSOKあんしん商品</a></li>							<li><a href="#">セキュリティ導入までの流れ</a></li>							<li><a href="#">お問い合わせ・資料請求</a></li>						</ul>
						<h4><a href="#">法人のお客様</a></h4>
						<ul>
							<li><a href="#">機械警備</a></li>
							<li><a href="#">常駐警備</a></li>
							<li><a href="#">イベント警備</a></li>
							<li><a href="#">警備輸送</a></li>
							<li><a href="#">防災警備</a></li>
							<li><a href="#">保安警備</a></li>
							<li><a href="#">身辺警護</a></li>
							<li><a href="#">綜合管理</a></li>
							<li><a href="#">放置車両確認業務</a></li>
							<li><a href="#">AED</a></li>
							<li><a href="#">その他商品・サービス</a></li>
							<li><a href="#">お問い合わせ・資料請求</a></li>
						</ul>
					</div>
					<div class="col">
						<h4><a href="#">中京綜合警備保障とは</a></h4>
						<ul>
							<li><a href="#">社長メッセージ</a></li>
							<li><a href="#">経営理念</a></li>
							<li><a href="#">会社概要</a></li>
							<li><a href="#">中京綜合警備のあゆみ</a></li>
							<li><a href="#">交通アクセス</a></li>
							<li><a href="#">スポーツ活動</a></li>
							<li><a href="#">ALSOKの強み</a></li>
							<li><a href="#">ALSOKグループリンク</a></li>
						</ul>
						<h4><a href="#">社会貢献活動</a></h4>
						<ul>
							<li><a href="#">基本的な考え方</a></li>
							<li><a href="#">ALSOKありがとう運動</a></li>
							<li><a href="#">講習会・セミナー</a></li>
							<li><a href="#">チャリティイベント</a></li>
							<li><a href="#">地域貢献活動</a></li>
						</ul>
					</div>
					<div class="col">
						<h4><a href="#">採用情報</a></h4>
						<ul class="blue">
							<li><a href="#">■ 人事担当者メッセージ</a></li>							<li><a href="#">■ ALSOKの仕事</a></li>							<li><a href="#">■ 教育制度・人事制度</a></li>
						</ul>
						<ul class="inner">							<li><a href="#">先輩社員の声</a></li>						</ul>
						<ul class="blue">
							<li><a href="#">■ 数字で見るALSOK</a></li>
						</ul>
						<ul class="blue">
							<li><a href="#">■ 新卒採用</a></li>
						</ul>
						<ul class="inner">
							<li><a href="#">募集要項</a></li>
							<li><a href="#">採用までの流れ</a></li>
							<li><a href="#">採用Q＆A</a></li>
							<li><a href="#">新卒採用エントリー</a></li>
						</ul>
						<ul class="blue">
							<li><a href="#">■ キャリア採用</a></li>
						</ul>
						<ul class="inner">
							<li><a href="#">募集要項</a></li>
							<li><a href="#">採用までの流れ</a></li>
							<li><a href="#">採用Q＆A</a></li>
							<li><a href="#">キャリア採用エントリーフォーム</a></li>
						</ul>
						<ul class="blue">
							<li><a href="#">■ アルバイト採用</a></li>
						</ul>
						<ul>
							<li><a href="#">募集要項</a></li>
							<li><a href="#">採用までの流れ</a></li>
							<li><a href="#">採用Q＆A</a></li>
							<li><a href="#">アルバイトエントリーフォーム</a></li>
						</ul>
					</div>
					<div class="col">
						<h4><a href="#">情報セキュリティ方針</a></h4>
						<h4><a href="#">暴力団等反社会的勢力排除宣言</a></h4>
						<h4><a href="#">創業50周年（工事中）</a></h4>
						<h4 class="bot_space"><a href="#">サイトマップ</a></h4>
						<h4><a href="#">外部リンク</a></h4>
						<ul>
							<li><a class="icon" href="#">駐日エチオピア名誉領事館</a></li>
							<li><a class="icon" href="#">（一社）愛知県警備業協会</a></li>
							<li><a class="icon" href="#">（一財）愛知県剣道連盟</a></li>
						</ul>
					</div>
				</div>
				<ul class="links sp">
					<li><a href="#">トップページ</a></li>					<li><a href="#">中京綜合警備保障とは</a></li>					<li><a href="#">社会貢献活動</a></li>					<li><a href="#">個人のお客様</a></li>					<li><a href="#">採用情報</a></li>					<li><a href="#">情報セキュリティ方針</a></li>					<li><a href="#">サイトマップ</a></li>					<li><a href="#">暴力団等反社会的勢力排除宣言</a></li>					<li><a href="#">創業50周年（工事中）</a></li>
				</ul>
			</div>
			<!-- footer links end -->
			<a href="#contents" class="link_to_top">
				<span><span>PAGE TOP</span></span>
			</a>
			<div class="footer_bar">
				<div class="holder">
					<ul class="links">
						<li><a href="#">情報セキュリティ方針</a><span class="sep">/</span></li>						<li><a href="#">サイトマップ</a></li>
					</ul>
					<p class="copyright">Copyright &copy; 中京綜合警備保障株式会社 All rights reserved.</p>
				</div>				<strong class="footer_logo"><a href="#">Always Security OK</a></strong>
			</div>
		</div>
		<!-- フッター-->
		<a href="#contents" class="link_to_top_fixed">PAGE TOP</a>
	</div>
	<!--wrapper-->
</body>
</html>