<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7 ]> <html xmlns="http://www.w3.org/1999/xhtml" class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html xmlns="http://www.w3.org/1999/xhtml" class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html xmlns="http://www.w3.org/1999/xhtml" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html xmlns="http://www.w3.org/1999/xhtml" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns="http://www.w3.org/1999/xhtml" lang="ja"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="中京,綜合,警備,保障,中京綜合警備保障,ALSOK,アルソック,機械警備,警備輸送業務,常駐警備業務,防災警備業務,綜合管理,ホームセキュリティ,防犯,セキュリティ" />
<meta name="description" content="中部地区安全管理システムを商品の中核とした警備会社、中京綜合警備保障 ALSOKホームページ。採用情報あり" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<!--OGPタグ-->
<meta property="og:title" content="★"/>
<meta property="og:type" content="website"/>
<!-- <meta property="og:url" content="★"/> -->
<meta property="og:image" content="★"/>
<meta property="og:site_name" content="★"/>
<meta property="fb:admins" content="100002247945655"/>
<meta property="og:description" content="★"/>
<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1, minimum-scale=1" />
<title>ALSOK 中京綜合警備保障｜安全な街を、未来の子供たちへ。</title>
<!--OGPタグ-->
<link rel="stylesheet" type="text/css" href="../common/css/swiper.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/common.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/ic.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/each.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/each_pc.css" media="all" />
<link rel="stylesheet" type="text/css" href="../common/css/each_sp.css" media="all" />
<link rel="shortcut icon" href="" />
<script type="text/javascript" src="../common/js/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../common/js/ic.js"></script>
<script type="text/javascript" src="../common/js/custom.js"></script>
<script type="text/javascript" src="../common/js/swiper.min.js"></script>
<script type="text/javascript" src="../common/js/each.js"></script>
</head>

<body id="social">
<!--アナリティクスここから-->
<!--アナリティクス-->

	<!--wrapperここから-->
	<div id="wrapper">
		<!--ヘッダここから-->
		<div id="header">
			<div class="top_bar">
				<h1 class="logo"><a href="#">Always Security OK | 中京綜合警備保障株式会社</a></h1>
				<ul class="top_links">
					<li><a href="#">サイトマップ</a></li>
					<li><a href="#">トップ</a></li>
				</ul>
				<a href="" class="mobile_opener sp"><span>Open Menu</span></a>
			</div>
			<!-- pc navigation begin -->
			<div class="nav pc">
				<ul id="dropmenu">
					<li><a href="#">トップページ</a></li>					<li><a href="#">個人向けセキュリティ</a></li>					<li><a href="#">法人向けセキュリティ</a></li>					<li><a href="#">中京綜合警備保障とは</a></li>					<li><a href="#">社会貢献活動</a></li>					<li><a href="#">採用情報</a></li>					<li class="active">
						<a href="#">お問い合わせ</a>
						<ul>
							<li><a href="#">個人のお客様</a></li>							<li><a href="#">法人のお客様</a></li>							<li><a href="#">その他お問い合わせ</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- pc navigation end -->
			<!-- sp navigation begin -->
			<div class="nav sp">
				<div class="menu">
					<div class="hold">
						<h4><a href="#">トップページ</a></h4>
						<div class="slide_block">
							<a href="" class="slide_link">個人のお客様</a>
							<div class="slide_box">
								<ul>									<li><a href="#">ホームセキュリティ</a></li>									<li><a href="#">防犯カメラ</a></li>									<li><a href="#">防犯用品・災害対策用品</a></li>									<li><a href="#">セキュリティ導入までの流れ</a></li>									<li><a href="#">お問い合わせ・資料請求</a></li>								</ul>
							</div>
						</div>
						<div class="slide_block">
							<a href="" class="slide_link">法人のお客様</a>
							<div class="slide_box">
								<ul>
									<li><a href="#">機械警備</a></li>
									<li><a href="#">常駐警備</a></li>
									<li><a href="#">イベント警備</a></li>
									<li><a href="#">警備輸送</a></li>
									<li><a href="#">防災警備</a></li>
									<li><a href="#">保安警備</a></li>
									<li><a href="#">身辺警護</a></li>
									<li><a href="#">綜合管理</a></li>
									<li><a href="#">放置車両確認業務</a></li>
									<li><a href="#">AED</a></li>
									<li><a href="#">その他商品・サービス</a></li>
									<li><a href="#">お問い合わせ・資料請求</a></li>
								</ul>
							</div>
						</div>
						<div class="slide_block">
							<a href="" class="slide_link">中京綜合警備保障とは</a>
							<div class="slide_box">
								<ul>
									<li><a href="#">社長メッセージ</a></li>
									<li><a href="#">経営理念</a></li>
									<li><a href="#">会社概要</a></li>
									<li><a href="#">交通アクセス</a></li>
									<li><a href="#">中京綜合警備保障のあゆみ</a></li>
									<li><a href="#">スポーツ活動のご紹介</a></li>									<li><a href="#">ALSOK中京綜合警備保障の強み</a></li>
									<li><a href="#">ALSOK中京綜合警備保障<br />グループリンク</a></li>
								</ul>
							</div>
						</div>
						<div class="slide_block">
							<a href="" class="slide_link">社会貢献活動</a>
							<div class="slide_box">
								<ul>
									<li><a href="#">基本的な考え方</a></li>
									<li><a href="#">主な社会貢献活動</a></li>
								</ul>
							</div>
						</div>
						<div class="slide_block">
							<a href="" class="slide_link">採用情報</a>
							<div class="slide_box">
								<ul>
									<li><a href="#">人事担当者メッセージ</a></li>
									<li><a href="#">ALSOKの仕事</a></li>
									<li><a href="#">教育制度・人事制度</a></li>
									<li><a href="#">先輩社員の声</a></li>
									<li><a href="#">数字で見るALSOK</a></li>
									<li><a href="#">新卒採用</a></li>
									<li><a href="#">キャリア採用</a></li>
									<li><a href="#">アルバイト採用</a></li>
								</ul>
							</div>
						</div>
						<h4><a href="#">創業50周年（工事中）</a></h4>
						<h4><a href="#">暴力団等反社会的勢力排除宣言</a></h4>
						<div class="slide_block">
							<a href="" class="slide_link">外部リンク</a>
							<div class="slide_box">
								<ul>
									<li><a class="icon" href="#">駐日エチオピア名誉領事館</a></li>
									<li><a class="icon" href="#">（一社）愛知県警備業協会</a></li>
									<li><a class="icon" href="#">（一財）愛知県剣道連盟</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- sp navigation end -->
		</div>
		<div class="bg sp"></div>
		<!--ヘッダ-->
		<!--コンテンツここから-->
		<div id="contents" class="clearfix">
			<!--メインエリアここから-->
			<div id="main">
				<!-- title banner begin -->
				<div class="title_banner">
					<img class="pc" src="../common/img/social/title_banner_pc_img.jpg" alt="image description" />
					<img class="sp" src="../common/img/social/title_banner_sp_img.jpg" alt="image description" />
					<div class="text no_btn">
						<h2>社会貢献活動</h2>
						<p>Corporate Social Responsibility</p>
						<a href="#" class="button green pc">ストックフォト</a>
					</div>
				</div>
				<!-- title banner end -->
				<!-- social block begin -->
				<div class="social_block">
					<div class="heading">
						<strong class="title">基本的な考え方</strong>
						<h2>生かし生かされる<br />
							「ありがとうの心」の理念を<br />
							具体的な成果に。
						</h2>
						<p>地域社会の持続的な発展があるからこそ、企業は存続できます。<br />
							当社は、「社業を通じて人々に安らぎを提供し、<br />
							地域社会に必要とされる存在となる」という理念のもと、社会貢献活動を行ってきました。<br />
							私たちが日々受けている恩恵に感謝し、<br />
							お互いに生かし生かされる「ありがとうの心」の理念を、<br />
							地域社会において具体的な成果にすることも大切な企業活動の一つと考えています。<br />
							活動の取り組み分野としては、本業を通じた社会貢献に加え、<br />
							「社会福祉」、「災害援助」、「安全な街づくり」「スポーツ活動」等、<br />
							さまざまな分野で地域社会への貢献に努めています。
						</p>
					</div>					<div class="social_fields">
						<div class="box">
							<h3>社会貢献の分野</h3>
							<div class="holder">
								<div class="image_box">
									<a href="#">
										<span class="image">
											<img src="../common/img/social/social_fields_img_1.jpg" alt="image description" />
											<span class="btn">ストックフォト（OK）</span>
										</span>
										<strong class="text">啓蒙活動</strong>
									</a>
								</div>
								<div class="image_box">
									<a href="#">
										<span class="image">
											<img src="../common/img/social/social_fields_img_2.jpg" alt="image description" />
										</span>
										<strong class="text">環境保全</strong>
									</a>
								</div>
								<div class="image_box">
									<a href="#">
										<span class="image">
											<img src="../common/img/social/social_fields_img_3.jpg" alt="image description" />
										</span>
										<strong class="text">スポーツ活動</strong>
									</a>
								</div>
							</div>
						</div>
						<div class="arrow"></div>
						<div class="box">
							<h3>私たちができる社会貢献活動</h3>
							<div class="holder">
								<div class="image_box">
									<a href="#">
										<span class="image">
											<img src="../common/img/social/social_fields_img_4.jpg" alt="image description" />
										</span>
										<strong class="text">ボランティア</strong>
									</a>
								</div>
								<div class="image_box">
									<a href="#">
										<span class="image">
											<img src="../common/img/social/social_fields_img_5.jpg" alt="image description" />
											<span class="btn">ストックフォト（OK）</span>
										</span>
										<strong class="text">寄付・協賛</strong>
									</a>
								</div>
								
								<div class="image_box">
									<a href="#">
										<span class="image">
											<img src="../common/img/social/social_fields_img_6.jpg" alt="image description" />
										</span>
										<strong class="text">社員の自主的な活動</strong>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- social block end -->
				<!-- social activities begin -->
				<div class="social_activities">
					<div class="main_holder">
						<h2>主な社会貢献活動</h2>
						<h3>Major social contribution activities</h3>
						<ul class="activities">
							<li>
								<h4><a href="#">■ AED講習会</a></h4>
								<div class="box">
									<div class="image">
										<img src="../common/img/social/social_activities_img_1.jpg" alt="image description" />
									</div>
									<div class="text">
										<p>当社ではAEDをお買上げ、またはレンタルしていただいたお客様に対し、導入時の講習を実施しています。<br />
											「思いやりの心」と「一歩踏み出す勇気」で、大切な人、家族、生命を守る行動力を身に付けていただくことを目的として開催しています。
										</p>
									</div>
								</div>
							</li>
							<li>
								<h4><a href="#">■ 防犯セミナー</a></h4>
								<div class="box">
									<div class="image">
										<img src="../common/img/social/social_activities_img_2.jpg" alt="image description" />
									</div>
									<div class="text">
										<p>地域社会の安全安心を守ることを社会的使命とする当社は、防犯セミナーを開催しています。<br />
											犯罪の事例紹介や、犯罪被害に遭わないために気を付けるべきこと、さまざまなシチュエーションで使える護身術等、実技も含めて具体的にご紹介することで、自己防衛意識を高めていただくことを目的として開催しています。
										</p>
									</div>
								</div>
							</li>
							<li>
								<h4><a href="#">■ チャリティイベントへの参加</a></h4>
								<div class="box">
									<div class="image">
										<img src="../common/img/social/social_activities_img_3.jpg" alt="image description" />
									</div>
									<div class="text">
										<p>公益財団法人名古屋YMCAが主催する、心身に障がいのある子どもたちを“走って支援、寄付で支援”するイベント、「名古屋YMCAチャリティーラン」。 <br />
											個人、または6人編成のチームが出場し、駅伝レースを行ないます。当社はその意義と目的を理解し、毎年有志の社員が参加しています。
										</p>
									</div>
								</div>
							</li>
							<li>
								<h4><a href="#">■ 愛知県安全なまちづくり・交通安全パートナーシップ企業</a></h4>
								<div class="box">
									<div class="image">
										<img src="../common/img/social/social_activities_img_4.jpg" alt="image description" />
									</div>
									<div class="text">
										<p>犯罪のない安全な街まちづくりと交通安全の推進を愛知県と連携して行う企業として、「愛知県安全な街づくり・交通安全パートナーシップ企業」に登録しています。 <br />
											愛知県が示すパートナーシップ参加プログラムに基づき、安全なまちづくり活動と交通安全活動の両方を自主的かつ積極的に行い、必要に応じて行政や警察と協力し、結果や成果について情報提供をしています。
										</p>
									</div>
								</div>
							</li>
							<li>
								<h4><a href="#">■ 地域防災協力事業所の認定取得</a></h4>
								<div class="box">
									<div class="image">
										<img src="../common/img/social/social_activities_img_5.jpg" alt="image description" />
									</div>
									<div class="text">
										<p>地震等の大規模災害が発生した場合、被害をできる限り軽減し、災害の拡大を防ぐためには、行政・企業・地域の方々が力を合わせて災害に立ち向かわなければなりません。 <br />
											名古屋市では「防災安心まちづくり運動」を通じて、地域ぐるみで様々な防災に関する取り組みを行っていますが、「栄学区防災安心まちづくり委員会」様との間で、の大規模災害時の支援協力に関する覚書の締結をしています。<br />
											この協定に基づき、将来予想される東海・東南海地震等の大規模災害が発生した際は、本社ビル5階体育場や機材の一部を地域住民の方々に提供いたします。
										</p>
									</div>
								</div>
							</li>
							<li>
								<h4><a href="#">■ こども110番の家</a></h4>
								<div class="box">
									<div class="image">
										<img src="../common/img/social/social_activities_img_6.jpg" alt="image description" />
									</div>
									<div class="text">
										<p>「こども110番の家」は、子どもたちがトラブルに巻き込まれそうになった時に、地域の企業や家庭に駆け込み、助けを求めることにより、地域ぐるみで子どもたちを犯罪から守る活動です。<br /> 
											当社は、助けを求めてきた子どもを一時的に保護し、警察機関等への通報を代行することにより、地域に安全と安心を提供します。 <br />
											避難者は子どもに限らず、女性や高齢者等の社会的弱者も対象となります。 <br />
											犯罪被害だけでなく、例えば、「トイレを貸してほしい」「水を飲ませてほしい」等、子どもの日常における苦難にも思いやりを持って対応します。<br /> 
											「こども110番の家」は、警備会社の特徴を生かして24時間・365日対応可能です。
										</p>
									</div>
								</div>
							</li>
							<li>
								<h4><a href="#">■ 募金活動</a></h4>
								<div class="box">
									<div class="image">
										<img src="../common/img/social/social_activities_img_7.jpg" alt="image description" />
									</div>
									<div class="text">
										<p>社会福祉法人東海テレビ福祉事業団が東海地方で展開されている「愛の鈴 しあわせキャンペーン」。<br />
											当社は福祉援助の意義を深く理解し、募金活動に参加しています。
										</p>
									</div>
								</div>
							</li>
							<li>
								<h4><a href="#">■ 本社ビル施設の一般解放</a></h4>
								<div class="box">
									<div class="image">
										<img src="../common/img/social/social_activities_img_8.jpg" alt="image description" />
									</div>
									<div class="text">
										<p>本社ビル5階にある体育場は、社員だけでなく、事前にお申し込みいただければ一般の方にもご利用いただくことが可能です。 <br />
											また、大規模災害発生時には、地域住民の方に緊急避難シェルターとして開放いたします。
										</p>
									</div>
								</div>
							</li>
							<li>
								<h4><a href="#">■ 地域の清掃活動</a></h4>
								<div class="box">
									<div class="image">
										<img src="../common/img/social/social_activities_img_9.jpg" alt="image description" />
									</div>
									<div class="text">
										<p>地域に根差した企業を目指し、地域環境改善活動の一環として、定期的に本社周辺の清掃活動を実施しています。</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- social activities end -->
			</div>
			<!--メインエリア-->
		</div>
		<!--コンテンツ-->
		<!-- フッターここから-->
		<div id="footer">
			<!-- footer links begin -->
			<div class="footer_links">
				<h3 class="pc"><a href="#">トップページ</a></h3>
				<div class="links desktop">
					<div class="col">
						<h4><a href="#">個人のお客様</a></h4>
						<ul>							<li><a href="#">ホームセキュリティ</a></li>							<li><a href="#">防犯カメラ</a></li>							<li><a href="#">防犯用品・災害対策用品</a></li>							<li><a href="#">セキュリティ導入までの流れ</a></li>							<li><a href="#">お問い合わせ・資料請求</a></li>						</ul>
						<h4><a href="#">法人のお客様</a></h4>
						<ul>
							<li><a href="#">機械警備</a></li>
							<li><a href="#">常駐警備</a></li>
							<li><a href="#">イベント警備</a></li>
							<li><a href="#">警備輸送</a></li>
							<li><a href="#">防災警備</a></li>
							<li><a href="#">保安警備</a></li>
							<li><a href="#">身辺警護</a></li>
							<li><a href="#">綜合管理</a></li>
							<li><a href="#">放置車両確認業務</a></li>
							<li><a href="#">AED</a></li>
							<li><a href="#">その他商品・サービス</a></li>
							<li><a href="#">お問い合わせ・資料請求</a></li>
						</ul>
					</div>
					<div class="col">
						<h4><a href="#">中京綜合警備保障とは</a></h4>
						<ul>
							<li><a href="#">・社長メッセージ</a></li>
							<li><a href="#">・経営理念</a></li>
							<li><a href="#">・会社概要</a></li>
							<li><a href="#">・交通アクセス</a></li>
							<li><a href="#">・中京綜合警備保障のあゆみ</a></li>
							<li><a href="#">・スポーツ活動のご紹介</a></li>
							<li><a href="#">・ALSOK中京綜合警備保障の強み</a></li>
							<li><a href="#">・ALSOK中京綜合警備保障グループリンク</a></li>
						</ul>
						<h4><a href="#">社会貢献活動</a></h4>
						<ul>
							<li><a href="#">・基本的な考え方</a></li>
							<li><a href="#">・主な社会貢献活動</a></li>
						</ul>
					</div>
					<div class="col">
						<h4><a href="#">採用情報</a></h4>
						<ul class="blue">
							<li><a href="#">■ 人事担当者メッセージ</a></li>							<li><a href="#">■ ALSOKの仕事</a></li>							<li><a href="#">■ 教育制度・人事制度</a></li>
						</ul>
						<ul class="inner">							<li><a href="#">先輩社員の声</a></li>						</ul>
						<ul class="blue">
							<li><a href="#">■ 数字で見るALSOK</a></li>
						</ul>
						<ul class="blue">
							<li><a href="#">■ 新卒採用</a></li>
						</ul>
						<ul class="inner">
							<li><a href="#">募集要項</a></li>
							<li><a href="#">採用までの流れ</a></li>
							<li><a href="#">採用Q＆A</a></li>
							<li><a href="#">新卒採用エントリー</a></li>
						</ul>
						<ul class="blue">
							<li><a href="#">■ キャリア採用</a></li>
						</ul>
						<ul class="inner">
							<li><a href="#">募集要項</a></li>
							<li><a href="#">採用までの流れ</a></li>
							<li><a href="#">採用Q＆A</a></li>
							<li><a href="#">キャリア採用エントリーフォーム</a></li>
						</ul>
						<ul class="blue">
							<li><a href="#">■ アルバイト採用</a></li>
						</ul>
						<ul>
							<li><a href="#">募集要項</a></li>
							<li><a href="#">採用までの流れ</a></li>
							<li><a href="#">採用Q＆A</a></li>
							<li><a href="#">アルバイトエントリーフォーム</a></li>
						</ul>
					</div>
					<div class="col">
						<h4><a href="#">創業50周年（工事中）</a></h4>
						<h4 class="bot_space"><a href="#">暴力団等反社会的勢力排除宣言</a></h4>
						<h4><a href="#">外部リンク</a></h4>
						<ul>
							<li><a class="icon" href="#">駐日エチオピア名誉領事館</a></li>
							<li><a class="icon" href="#">（一社）愛知県警備業協会</a></li>
							<li><a class="icon" href="#">（一財）愛知県剣道連盟</a></li>
						</ul>
					</div>
				</div>
				<ul class="links sp">
					<li><a href="#">トップページ</a></li>					<li><a href="#">中京綜合警備保障とは</a></li>					<li><a href="#">社会貢献活動</a></li>					<li><a href="#">個人のお客様</a></li>					<li><a href="#">採用情報</a></li>					<li><a href="#">情報セキュリティ方針</a></li>					<li><a href="#">サイトマップ</a></li>					<li><a href="#">暴力団等反社会的勢力排除宣言</a></li>					<li><a href="#">創業50周年（工事中）</a></li>
				</ul>
			</div>
			<!-- footer links end -->
			<a href="#contents" class="link_to_top">
				<span><span>PAGE TOP</span></span>
			</a>
			<div class="footer_bar">
				<div class="holder">
					<ul class="links">
						<li><a href="#">情報セキュリティ方針</a><span class="sep">/</span></li>						<li><a href="#">サイトマップ</a></li>
					</ul>
					<p class="copyright">Copyright &copy; 中京綜合警備保障株式会社 All rights reserved.</p>
				</div>				<strong class="footer_logo"><a href="#">Always Security OK</a></strong>
			</div>
		</div>
		<!-- フッター-->
		<a href="#contents" class="link_to_top_fixed">PAGE TOP</a>
	</div>
	<!--wrapper-->
</body>
</html>