@charset "utf-8";
html{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
body {
	font-size:12px;
	line-height:140%;
	margin:0 auto;
	/*font-family: "ＭＳ ゴシック","MS Gothic","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;*/
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	/*font-family: "ヒラギノ明朝 Pro W3","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;*/
	min-width:320px;
	background:#fff;
}
body p {
	font-size:12px;
	margin:0;
	max-height:100%;
}
body a, body img {border:none;}
img {vertical-align:bottom;}
table {
	border-collapse:collapse;
	border:0;
	table-layout:fixed;
}
tr, td {padding:0;}
ul{
	margin:0;
	padding:0;
}
li{list-style:none;}
.clear{clear:both;}
.clearfix:before,
.clearfix:after{
	content:" ";
	display:table;
}
.clearfix:after{clear:both;}
clearfix { *zoom: 1;}
h1,h2,h3,h4,h5 {
	margin:0;
	font-size: 12px;
	font-weight: normal;
	line-height:100%;
	max-height: 100%;
}
input[type="radio"] {border: 0!important;}
input[type="radio"],input[type="submit"],label{cursor:pointer;}
input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border-radius: 0;
  outline: none;
}
/* ヘッダここから */
#header{
	position:fixed;
	background:#fff;
	left:0;
	top:0;
	right:0;
	z-index:900;
}
.small-header #header{box-shadow:0 2px 3px rgba(0,0,0,0.08);}
#header .top_bar{
	padding:22px 23px 22px 30px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	overflow:hidden;
}
.small-header #header .top_bar{padding:10px 23px 10px 30px;}
#header .logo{
	float:left;
	width:392px;
	height:36px;
	background:url(../../common/img/common/logo.png) no-repeat;
	text-indent:-9999px;
	opacity:1;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	overflow:hidden;
}
#header .logo a{
	display:block;
	height:100%;
}
#header .logo:hover{opacity:0.8;}
/* メインエリアここから */
#main{padding-top:146px;}
/* gallery */
.gallery{margin-bottom:125px;}
.gallery .swiper-slide img{
	display:block;
	width:100%;
}
.gallery .swiper-button-prev{
	left:19px;
	width:24px;
	height:48px;
	margin-top:-40px;
	background:url(../../common/img/index/gallery_arrows.png) no-repeat;
	text-indent:-9999px;
	overflow:hidden;
}
.gallery .swiper-button-next{
	right:19px;
	width:24px;
	height:48px;
	margin-top:-40px;
	background:url(../../common/img/index/gallery_arrows.png) no-repeat 0 -50px;
	text-indent:-9999px;
	overflow:hidden;
}
.gallery .swiper-button-next:before,
.gallery .swiper-button-prev:before{
	content:'';	position:absolute;	top:0;	left:0;	width:100%;	height:100%;
	opacity:0;	background:rgba(0,0,0,0.3);
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	z-index:-1;
}
.gallery .swiper-button-next:hover:before,
.gallery .swiper-button-prev:hover:before{opacity:1;}
.swiper-pagination{bottom:30px !important;}
.swiper-pagination-bullet{
	width:10px;
	height:10px;
	background:#fff;
	margin:0 8px !important;
	opacity:1 !important;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}
.swiper-pagination-bullet:hover{opacity:0.6 !important;}
.swiper-pagination-bullet-active{background:#666;}
.gallery .text{
	position:absolute;
	top:40.5%;
	left:50%;
	width:700px;
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align:center;
	color:#fff;
}
.gallery h2{
	margin-bottom:22px;
	font-size:30px;
	line-height:51px;
	letter-spacing:6px;
}
.gallery .button{
	display:inline-block;	vertical-align:top;
	padding:0 18px;
	font-size:18px;
	line-height:51px;
	background:#00d900;
	color:#fff;
	letter-spacing:0.5px;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}
.gallery .button:hover{
	opacity:0.6;
}
/* concept */
.concept{
	margin-bottom:110px;
	padding:0 20px;
	text-align:center;
}
.concept h3{
	margin-bottom:36px;
	font:bold 20px/30px Arial, Helvetica, sans-serif;
	color:#1f3096;
	letter-spacing:1.8px;
}
.concept h2{
	margin-bottom:37px;
	font-size:68px;
	line-height:88px;
	font-weight:bold;
	color:#1f3096;
	letter-spacing:10px;
}
.concept p{
	margin-bottom:48px;
	font-size:16px;
	line-height:35px;
	letter-spacing:0.5px;
}
.concept .button{
	margin-bottom:20px;
	display:inline-block;	vertical-align:top;
	width:300px;
	-webkit-box-sizing:border-box;	-moz-box-sizing:border-box;	box-sizing:border-box;
	padding-right:38px;
	border:1px #222c99 solid;
	font-size:16px;
	line-height:88px;
	font-weight:bold;
	color:#1f2b99;
	position:relative;
	text-align:center;
	letter-spacing:2.2px;
	opacity:1;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}
.concept .button:before{
	content:'';	position:absolute;
	top:33px;	right:-34px;	width:94px;	height:24px;	background:url(../../common/img/index/concept_button_bg.png);	z-index:-1;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}
.concept .button:hover,
.concept .button:hover:before{opacity:0.6;}
/* business case */
.business_case{
	padding:96px 20px 80px;
	background:url(../../common/img/index/business_case_bg.jpg) no-repeat 50% 50%;
	background-size:cover;
	text-align:center;
	overflow:hidden;
}
.business_case h2{
	margin-bottom:24px;
	font-size:24px;
	line-height:30px;
	font-weight:bold;
	letter-spacing:2px;
}
.business_case .boxes{
	margin:0 auto;
	max-width:1360px;
}
.business_case .head p{
	margin-bottom:52px;
	font-size:16px;
	line-height:24px;
	letter-spacing:0.5px;
}
.business_case .box{
	display:inline-block;	vertical-align:top;
	width:44.1%;
	padding:0 18px 20px;
	overflow:hidden;
}
.business_case .box .image{position:relative;}
.business_case .box .image img{
	display:block;
	width:100%;
}
.business_case .box .image .txt{
	position:absolute;
	bottom:27px;
	left:31px;
	padding:0 14px;
	font-size:18px;
	line-height:52px;
	font-weight:bold;
	color:#fff;
	background:#00d900;
	letter-spacing:0.5px;
}
.business_case .box .text{
	padding:38px 20px 37px;
	color:#fff;
	overflow:hidden;
}
.business_case .box .text.dark{background:#222;}
.business_case .box .text.blue{background:#212b99;}
.business_case .box h3{
	margin-bottom:7px;
	font-size:22px;
	line-height:28px;
	font-weight:bold;
	letter-spacing:1.8px;
}
.business_case .box .text span{
	margin-bottom:23px;
	display:block;
	font:12px/15px Arial, Helvetica, sans-serif;
	letter-spacing:0.5px;
}
.business_case .box .text p{
	font-size:14px;
	line-height:21px;
	letter-spacing:0.5px;
}
/* social box */
.social_box{
	padding:117px 20px 83px;
	background:url(../../common/img/index/social_box_bg.jpg) no-repeat 50% 50%;
	background-size:cover;
	text-align:center;
	color:#fff;
	overflow:hidden;
}
.social_box a{color:#fff;}
.social_box h2{
	margin-bottom:30px;
	font-size:26px;
	line-height:32px;
	font-weight:bold;
	letter-spacing:4.5px;
}
.social_box p{
	margin-bottom:32px;
	font-size:16px;
	line-height:32px;
	letter-spacing:0.5px;
}
.social_box .button{
	margin-bottom:20px;
	display:inline-block;	vertical-align:top;
	width:298px;
	border:1px #fff solid;
	font:16px/88px Arial, Helvetica, sans-serif;
	color:#fff;
	opacity:1;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}
.social_box .button:hover{opacity:0.6;}
/* recruit box */
.recruit_box{
	margin-bottom:95px;
	padding:154px 20px 94px;
	background:url(../../common/img/index/recruit_box_bg.png) no-repeat;
	background-size:100% 100%;
	text-align:center;
	overflow:hidden;
}
.recruit_box .box{
	margin:0 auto 30px;
	max-width:800px;
	color:#fff;
	position:relative;
}
.recruit_box .box a{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:5;
}
.recruit_box .box .image{
	display:block;
	width:100%;
}
.recruit_box .box .head{
	position:absolute;
	top:34px;
	left:-28px;
	text-align:left;
	z-index:2;
}
.recruit_box .box .head h2{
	margin-bottom:3px;
	font:30px/34px Arial, Helvetica, sans-serif;
}
.recruit_box .box .head h2 strong{
	display:block;
	position:relative;
	left:-5px;
	font-size:80px;
	line-height:86px;
	font-weight:normal;
}
.recruit_box .box .head p{font:16px/22px Arial, Helvetica, sans-serif;}
.recruit_box .box .mark{
	position:absolute;
	bottom:81px;
	left:42px;
	width:138px;
	font-size:20px;
	line-height:49px;
	font-weight:bold;
	color:#fff;
	background:#f00;
	z-index:2;
}
.recruit_box .box .link{
	position:absolute;
	bottom:37px;
	right:32px;
	padding-right:109px;
	background:url(../../common/img/index/recruit_link_arrow.png) no-repeat 100% 50%;
	color:#fff;
	text-align:right;
	font:16px/22px Arial, Helvetica, sans-serif;
	opacity:1;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	z-index:2;
}
.recruit_box .box:hover .link{opacity:0.6;}
.recruit_box p.txt{
	font-size:18px;
	line-height:22px;
	font-weight:bold;
	letter-spacing:0.5px;
}
/* news box */
.news_box{
	text-align:center;
	padding:0 20px;
	margin-bottom:118px;
	overflow:hidden;
}
.news_box h2{
	margin-bottom:50px;
	font:bold 24px/30px Arial, Helvetica, sans-serif;
	letter-spacing:2.1px;
}
.news_list{
	margin:0 auto 20px;
	max-width:980px;
	border-top:2px #f0f0f0 solid;
	text-align:left;
}
.news_list li{
	border-bottom:2px #f0f0f0 solid;
	padding:29px 0;
}
.news_list li a{
	display:inline-block;	vertical-align:top;
	opacity:1;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}
.news_list li a:hover{opacity:0.6;}
.news_list .date{
	display:inline-block;	vertical-align:top;
	min-width:105px;
	font:14px/22px Arial, Helvetica, sans-serif;
	color:#1f2599;
	letter-spacing:0.5px;
}
.news_list .mark{
	display:inline-block;	vertical-align:top;
	margin-right:28px;
	width:130px;
	text-align:center;
	font-size:12px;
	line-height:22px;
}
.news_list .mark.yellow{
	color:#333;
	background:#fff800;
	font-weight:bold;
}
.news_list .mark.brown{
	color:#fff;
	background:#555;
}
.news_list .mark.blue{
	color:#fff;
	background:#1d1d9f;
}
.news_list .text{
	display:inline-block;	vertical-align:top;
	font-size:14px;
	line-height:22px;
	color:#333;
	letter-spacing:0.5px;
}
/* title banner */
.title_banner{
	position:relative;
	margin-bottom:120px;
}
#contact .title_banner{margin-bottom:144px;}
#social .title_banner{margin-bottom:113px;}
.title_banner img{
	display:block;
	width:100%;
}
.title_banner .text{
	position:absolute;
	bottom:19%;
	left:50%;
	width:760px;
	text-align:center;
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	color:#fff;
}
.title_banner h2{
	margin-bottom:6px;
	font-size:30px;
	line-height:51px;
	letter-spacing:6px;
}
.title_banner p{
	margin-bottom:33px;
	font:bold 16px/22px Arial, Helvetica, sans-serif;
	letter-spacing:0.5px;
}
.title_banner .button{
	display:inline-block;	vertical-align:top;
	padding:0 4px;
	min-width:130px;
	font-size:18px;
	line-height:51px;
	letter-spacing: 0.5px;
	color:#fff;
	opacity:1;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}
.title_banner .button.green{background:#00d900;}
.title_banner .button.red{background:#f00;}
.title_banner .button:hover{opacity:0.6;}
/* declaration text */
.declaration_text{
	margin:0 auto 145px;
	padding:0 20px;
	max-width:800px;
}
#privacy .declaration_text{margin-bottom:132px;}
.declaration_text h2{
	margin-bottom:10px;
	font-size:30px;
	line-height:34px;
	font-weight:bold;
	color:#1f3096;
	text-align:center;
	letter-spacing:5.5px;
}
.declaration_text h3{
	margin-bottom:52px;
	font:bold 14px/20px Arial, Helvetica, sans-serif;
	color:#1f3096;
	text-align:center;
	letter-spacing:0.8px;
}
.declaration_text p{
	margin-bottom:21px;
	font-size:14px;
	line-height:21px;
	letter-spacing:0.5px;
}
.declaration_text h4{
	margin-bottom:10px;
	font-size:14px;
	line-height:21px;
	font-weight:bold;
	letter-spacing:0.5px;
}
.num_list{
	margin:40px 0;
	font-size:14px;
	line-height:21px;
	letter-spacing:0.5px;
}
.num_list.top{margin-top:23px;}
.num_list.text{
	border-top:1px #e9e9e9 solid;
	margin-bottom:28px;
}
.num_list li{
	border-bottom:1px #e9e9e9 solid;
	padding:20px 4px 19px;
	overflow:hidden;
}
.num_list.text li{padding:30px 4px 9px;}
.num_list .num{
	font:bold 14px/21px Arial, Helvetica, sans-serif;
	float:left;
	width:40px;
}
.num_list.text .num{
	float:none;
	display:block;
	width:auto;
	margin-bottom:12px;
}
.num_list.text p{
	font-size:14px;
	line-height:21px;
	margin-bottom:21px;
}
.num_list .sub{
	margin:0 0 21px 17px;
	overflow:hidden;
}
.num_list .sub_sub{
	margin:-19px 0 8px 29px;
	overflow:hidden;
}
.num_list .sub.last,
.num_list .sub_sub.last,
.num_list .sub_sub.last p{margin-bottom:0;}
.declaration_text .num_list p,
.num_list p{
	margin:0;
	overflow:hidden;
}
.declaration_text .bottom_info p{margin:0 0 30px 5px;}
/* site map */
.site_map{
	margin:0 auto 162px;
	padding:0 20px;
	padding-top:3px;
	max-width:892px;
}
.site_map h2{
	margin-bottom:40px;
	font-size:16px;
	line-height:22px;
	color:#1e2599;
}
.site_map h2 a{color:#1e2599;}
.site_map .columns{overflow:hidden;}
.site_map .col{
	float:left;
	width:45%;
}
.site_map .columns .col:last-child{float:right;}
.site_map h2,
.site_map h3{
	font-size:16px;
	line-height:22px;
	font-weight:bold;
	padding:0 0 7px 3px;
	margin-bottom:37px;
	border-bottom:1px #565cb5 solid;
	color:#1e2599;
	width:45%;
	letter-spacing:1px;
}
.site_map h2 a,
.site_map h3 a{color:#1e2599;}
.site_map h3{
	margin-bottom:16px;
	padding-left:9px;
	width:100%;
	letter-spacing:0.5px;
}
.site_map h3.single{margin-bottom:38px;}
.site_map .links{
	margin-bottom:40px;
	font-size:14px;
	line-height:25px;
	color:#333;
	padding-left:9px;
}
.site_map .links a{color:#333;}
.site_map .links.parent{padding-left:0;}
.site_map .links.parent,
.site_map .links.parent > li > a{color:#1d1d9f;}
.site_map .links.parent > li{
	font-weight:bold;
	margin-bottom:7px;
}
.site_map .links.parent ul{
	padding:0 0 5px 20px;
	font-weight:normal;
	color:#333;
}
.site_map .links a.icon{
	padding-right:28px;
	background:url(../../common/img/sitemap/site_map_icon.png) no-repeat 100% 50%;
}
/* privacy box */
.privacy_box{
	margin:0 auto 135px;
	padding:0 20px;
	max-width:800px;
	letter-spacing:3px;
}
.privacy_box.last{margin-bottom:245px;}
.privacy_box p{
	font-size:14px;
	line-height:21px;
	letter-spacing:0.5px;
}
.privacy_box h2{
	margin-bottom:60px;
	font-size:24px;
	line-height:46px;
	font-weight:bold;
	text-align:center;
}
.privacy_box h2 span{
	display:inline-block;	vertical-align:top;
	position:relative;
	z-index:2;
	padding:0 12px;
}
.privacy_box h2 span:before{
	content:'';	position:absolute;	bottom:0;	left:0;	right:0;	height:18px;	background:url(../../common/img/privacy/title_yellow_bg.png);	z-index:-1;
}
.privacy_box p{margin-bottom:40px;}
.privacy_box .bottom_info h4{
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	letter-spacing: 0.5px;
}
.privacy_box .bottom_info p{margin:0 0 30px;}
/* contact box */
.contact_box{
	margin:0 auto 195px;
	padding:0 20px;
	max-width:800px;
	overflow:hidden;
}
.contact_box h2{
	margin-bottom: 10px;
	font-size: 30px;
	line-height: 34px;
	font-weight: bold;
	color: #1f3096;
	text-align: center;
	letter-spacing: 5.5px;
}
.contact_box h3 {
	margin-bottom: 62px;
	font: bold 14px/20px Arial, Helvetica, sans-serif;
	color: #1f3096;
	text-align: center;
	letter-spacing: 0.8px;
}
.contact_box p {
	margin-bottom: 22px;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 0.5px;
}
.contact_box .tel_box{
	margin:0 auto 70px;
	max-width:795px;
	background:#f3f3f3;
	-webkit-box-sizing:border-box;	-moz-box-sizing:border-box;	box-sizing:border-box;
	padding:54px 20px 30px;
	text-align:center;
	overflow:hidden;
}
.contact_box .tel_box h5{
	margin-bottom:20px;
	font-size:18px;
	line-height:25px;
	font-weight:bold;
}
.contact_box .tel_box p.tel{
	margin-bottom:9px;
	line-height:26px;
	font-weight:bold;
}
.contact_box .tel_box p.tel span{
	display:inline-block;	vertical-align:top;
	padding-top:6px;
	line-height:20px;
}
.contact_box .tel_box p.tel a{
	display:inline-block;	vertical-align:top;
	font:bold 24px/26px Arial, Helvetica, sans-serif;
	color:#1f2b99;
}
.contact_box h4{
	margin-bottom:68px;
	font-size:24px;
	line-height:32px;
	font-weight:bold;
	text-align:center;
	letter-spacing:4px;
}
.contact_box form,
.contact_box fieldset{
	display:block;
	margin:0;
	padding:0;
	border:0;
}
.contact_box .form .row{
	margin-bottom:31px;
	overflow:hidden;
}
.contact_box .form .row.phone{margin-bottom:64px;}
.contact_box .form .row label{
	float:left;
	padding-right:10px;
	width:154px;
	font-size:14px;
	line-height:21px;
	font-weight:bold;
}
.contact_box .form .row label .required,
.contact_box .form .row label .any{
	display:block;
	font:bold 12px/21px Arial, Helvetica, sans-serif;
	color:#b20000;
}
.contact_box .form .row label .any{color:#1f259a;}
.contact_box .form .row .holder{overflow:hidden;}
.input_text{position:relative;}
.input_text input,
textarea{
	margin:0;
	-webkit-appearance:none;	appearance:none;
	width:100%;
	border:1px #bcbcbc solid;
	font-size:14px;
	line-height:20px;
	color:#000;
	padding:11px 18px;
	-webkit-border-radius:0;	-moz-border-radius:0;	border-radius:0;
	-webkit-box-sizing:border-box;	-moz-box-sizing:border-box;	box-sizing:border-box;
	outline:none;
	-webkit-border-radius:0;	-moz-border-radius:0;	border-radius:0;
	letter-spacing:0.5px;
}
.input_text .input-placeholder-text{
	top:0;
	left:0;
	width:100%;
	-webkit-box-sizing:border-box;	-moz-box-sizing:border-box;	box-sizing:border-box;
	padding:11px 18px;
	font-size:14px;
	line-height:20px;
	color:#000;
	opacity:0.3;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	letter-spacing:0.5px;
}
textarea{
	height:148px;
	width:100% !important;
	overflow:auto;
}
.input_text.short{
	float:left;
	margin-right:16px;
	width:120px;
}
.contact_box span.separator{
	margin:21px 16px 0 0;
	float:left;
	width:10px;
	height:2px;
	background:#000;
	overflow:hidden;
}
.contact_box .form .holder .notes{
	margin-top:10px;
	font-size:12px;
	line-height:16px;
}
.radio_list{
	margin-bottom:25px;
	overflow:hidden;
}
.radio_list li{
	width:33%;
	float:left;
	margin-bottom:5px;
	font-size:14px;
	line-height:21px;
	overflow:hidden;
}
.radio_list input,
.radio_list .jcf-radio {
	margin:2px 8px 0 0;
	float:left;
}
#main .radio_list label{
	float:none;
	font-weight:normal;
	width:auto;
	display:block;
	overflow:hidden;
}
.contact_box p.title{margin-bottom:5px;}
.contact_box .text{
	margin:50px 5px 33px;
	overflow:hidden;
}
.contact_box .text a{
	color:#1f259a;
	text-decoration:underline;
}
.contact_box .text a:hover{text-decoration:none;}
.contact_box .button-holder{
	border-top:2px #e5e5e5 solid;
	padding-top:28px;
	font-size:14px;
	line-height:21px;
	letter-spacing:0.5px;
	text-align:center;
}
.contact_box .check_row{margin-bottom:13px;}
.contact_box .check_row .jcf-checkbox{
	vertical-align:top;
	margin:1px 11px 0 0;
}
.contact_box .required-note{
	color:#b20000;
	margin-bottom:37px;
}
.contact_box .button{
	margin:0 0 20px; 
	-webkit-appearance:none;	appearance:none;
	display:inline-block;	vertical-align:top;
	border:1px #222c99 solid;
	width:400px;
	height:80px;
	-webkit-box-sizing:border-box;	-moz-box-sizing:border-box;	box-sizing:border-box;
	font-size:18px;
	line-height:78px;
	font-weight:bold;
	color:#1f2b99;
	cursor:pointer;
	-webkit-border-radius:0;	-moz-border-radius:0;	border-radius:0;
	letter-spacing:0.5px;
	outline:none;
	opacity:1;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}
.contact_box .button:hover{opacity:0.6;}
/* social block */
.social_block{
	margin:0 auto 100px;
	padding:0 20px;
	max-width:980px;
	text-align:center;
	overflow:hidden;
}
.social_block .heading{
	margin-bottom:103px;
	overflow:hidden;
}
.social_block .heading p{
	margin-bottom:35px;
	font-size:16px;
	line-height:35px;
}
.social_block .title{
	display:inline-block;	vertical-align:top;
	margin-bottom:87px;
	font-size:24px;
	line-height:46px;
	font-weight:bold;
	padding:0 24px;
	position:relative;
	z-index:2;
	color:#000;
	letter-spacing:1.5px;
}
.social_block .title:before{
	content:'';	position:absolute;	bottom:0;	left:0;	width:100%;	height:18px;	background:url(../../common/img/social/title_yellow_bg.png);
	z-index:-1;	overflow:hidden;
}
.social_block h2{
	margin-bottom:36px;
	font-size:48px;
	line-height:68px;
	font-weight:bold;
	color:#1f3096;
	letter-spacing:5px;
}
.social_block h2 a{color:#1f3096;}
.social_fields{
	margin-bottom:95px;
	letter-spacing:0.5px;
}
.social_fields .box{background:#e8e8f5;}
.social_fields .box h3{
	background:#1e259c;
	font-size:20px;
	line-height:28px;
	font-weight:bold;
	text-align:center;
	padding:16px 10px;
	color:#fff;
}
.social_fields .box .holder{
	padding:51px 25px 23px;
	overflow:hidden;
}
.social_fields .image_box{
	float:left;
	width:33.333%;
	padding:0 15px 30px;
	-webkit-box-sizing:border-box;	-moz-box-sizing:border-box;	box-sizing:border-box;
	overflow:hidden;
}
.social_fields .image_box .image{
	display:block;
	position:relative;
}
.social_fields .image_box .image img{
	display:block;
	width:100%;
}
.social_fields .image_box .image .btn{
	position:absolute;
	bottom:33px;
	left:50%;
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	padding:0 16px;
	font-size:20px;
	font-weight:bold;
	line-height:51px;
	color:#fff;
	white-space:nowrap;
	background:#00d900;
}
.social_fields .image_box .text{
	display:block;
	font-size:18px;
	line-height:24px;
	font-weight:bold;
	padding:22px 10px;
	background:#fff;
	color:#000;
}
.social_fields .arrow{
	margin:0 auto;
	width:90px;
	height:78px;
	background:url(../../common/img/social/social_fields_arrow.png) no-repeat;
}
/* social activities */
.social_activities{
	margin:0 -9999px;
	padding:104px 9999px 80px;
	background:#f9f9f9;
	overflow:hidden;
}
.social_activities .main_holder{
	margin:0 auto;
	padding:0 20px;
	max-width:980px;
}
.social_activities h2{
	margin-bottom:10px;
	font-size:28px;
	line-height:34px;
	font-weight:bold;
	color:#1f3096;
	letter-spacing:3px;
	text-align:center;
}
.social_activities h3{
	margin-bottom:104px;
	font:bold 14px/18px Arial, Helvetica, sans-serif;
	color:#1f3096;
	text-align:center;
	letter-spacing:0.5px;
}
.activities{margin-bottom:50px;}
.activities li{
	overflow:hidden;
	margin-bottom:74px;
}
.activities h4{
	margin-bottom:25px;
	padding-bottom:10px;
	border-bottom:1px #2b32a2 solid;
	font-size:20px;
	line-height:28px;
	font-weight:bold;
	color:#1e2599;
}
.activities h4 a{color:#1e2599;}
.activities .box{overflow:hidden;}
.activities .box .image{
	width:42.9%;
	margin:2px 26px 0 0;
	float:left;
}
.activities .box .image img{
	display:block;
	width:100%;
}
.activities .box .text{
	font-size:14px;
	line-height:21px;
	letter-spacing:1px;
	overflow:hidden;
}
.activities .box .text p{margin-bottom:21px;}



























































/* フッターここから */
#footer{
	border-top:2px #f0f0f0 solid;
}
/* footer links */
.footer_links{
	padding:77px 20px 34px;
	margin:0 auto;
	max-width:918px;
	overflow:hidden;
}
.link_to_top{
	display:block;
	margin-bottom:32px;
	background:#1f259c;
	color:#fff;
	font:12px/14px Arial, Helvetica, sans-serif;
	padding:18px 20px;
	opacity:1;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}
.link_to_top:hover{
	opacity:0.6;
}
.link_to_top > span{
	display:block;
	margin:0 auto;
	max-width:980px;
	text-align:right;
	color:#fff;
}
.link_to_top > span > span{
	padding-left:31px;
	background:url(../../common/img/common/link_to_top_arrow.png) no-repeat;
}
.footer_bar{
	margin:0 auto 29px;
	max-width:978px;
	padding:0 20px;
	overflow:hidden;
}
.footer_bar .holder{
	margin-bottom:15px;
	letter-spacing:0.5px;
	overflow:hidden;
}
.footer_bar .holder .links{float:left;}
.footer_bar .holder .links li,
.footer_bar .holder .links li a{
	display:inline-block;	vertical-align:top;
	font-size:12px;
	line-height:18px;
	color:#333;
}
.footer_bar .holder .links li .sep{
	display:inline-block;	vertical-align:top;
	margin:0 10px;
}
.footer_bar .holder .links a{
	display:inline-block;	vertical-align:top;
	position:relative;
	color:#333;
	opacity:1;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}
.footer_bar .holder .links a:hover{opacity:0.6;}
.footer_bar .holder .copyright{
	float:right;
	font-size:12px;
	line-height:18px;
	color:#333;
}
.footer_bar .footer_logo{
	float:right;
	width:166px;
	height:38px;
	background:url(../../common/img/common/footer_logo.png) no-repeat;
	text-indent:-9999px;
	opacity:1;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	overflow:hidden;
}
.footer_bar .footer_logo a{
	display:block;
	height:100%;
}
.footer_bar .footer_logo:hover{opacity:0.8;}
.link_to_top_fixed{
	position:fixed;
	bottom:20px;
	right:-120px;
	width:114px;
	height:148px;
	background:url(../../common/img/common/link_to_top_fixed_bg.png) no-repeat;
	text-align:center;
	font:13px/16px Arial, Helvetica, sans-serif;
	color:#1f2b99;
	opacity:0;
	-webkit-box-sizing:border-box;	-moz-box-sizing:border-box;	box-sizing:border-box;
	padding-top:90px;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	overflow:hidden;
	z-index:50;
}
.small-header .link_to_top_fixed{
	right:20px;
	opacity:1;
}
/* responsive styles */
@media screen and (max-width: 1023px) {
	#header .top_bar{
		padding-left:20px;
		padding-right:20px;
	}
	.gallery .text{top:35%;}
	.business_case .boxes{margin:0 -10px;}
	.business_case .box{
		padding:0 10px 20px;
		width:50%;
		margin-right:-3px;
		-webkit-box-sizing:border-box;		-moz-box-sizing:border-box;		box-sizing:border-box;
	}
	.recruit_box{padding-left:30px;}
	.recruit_box .box .head{left:-10px;}
}