@charset "UTF-8";

/* SP版 768px未満に適応*/
@media screen and (max-width: 767px) {
	.nav-visible{overflow:hidden;}
	/* ヘッダここから */
	#header{
		height:42px;
		box-shadow:0 2px 3px rgba(0,0,0,0.08) !important;
	}
	#header .top_links{display:none;}
	#header .top_bar{
		padding:11px 55px 0 15px !important;
		-webkit-box-sizing:border-box;		-moz-box-sizing:border-box;		box-sizing:border-box;
		width:100%;
		height:42px;
		position:relative;
		z-index:850;
		background:#fff;
	}
	#header .logo{
		width:199px;
		height:18px;
		background-size:199px 18px;
	}
	#header .mobile_opener{
		position:absolute;
		outline:none;
		display:block;
		top:0;
		right:0;
		outline:none;
		cursor: pointer;
		z-index: 990;
		width: 55px;
		height: 42px;
		overflow: hidden;
		margin: 0;
		padding: 0;
		font-size: 0;
		text-indent: -9999px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		box-shadow: none;
		border-radius: none;
		border: none;
		cursor: pointer;
		-webkit-transition: background .3s;
		transition: background .3s;
	}
	.mobile_opener span {
		display: block;
		position: absolute;
		top: 18px;
		left: 15px;
		right: 15px;
		height: 3px;
		background: #000;
		-webkit-transition: background 0s .3s;
		transition: background 0s .3s;
	}
	.mobile_opener span:after,
	.mobile_opener span:before{
		-webkit-transition-duration: .3s,.3s;
		transition-duration: .3s,.3s;
		-webkit-transition-delay: .3s,0s;
		transition-delay: .3s,0s;
		position: absolute;
		display: block;
		left: 0;
		width: 100%;
		height: 3px;
		background-color: #000;
		content: "";
	}
	.mobile_opener span:before{
		-webkit-transition-property: top,-webkit-transform;
		transition-property: top,transform;
		top:-8px;
	}
	.mobile_opener span:after{
		-webkit-transition-property: bottom,-webkit-transform;
		transition-property: bottom,transform;
		bottom: -8px;
	}
	.nav-visible .mobile_opener span{
		background: 0 0;
	}
	.nav-visible .mobile_opener span:after,
	.nav-visible .mobile_opener span:before{
		-webkit-transition-delay: 0s,.3s;
		transition-delay: 0s,.3s;
	}
	.nav-visible .mobile_opener span:before{
		top: 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		background:#000;
	}
	.nav-visible .mobile_opener span:after{
		bottom: 0;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		background:#000;
	}
	.bg.sp{
		position:fixed;
		top:0;
		left:0;
		width:0;
		height:0;
		background:rgba(0,0,0,0.5);
		opacity:0;
		-webkit-transition: opacity 0.5s ease;
		-moz-transition: opacity 0.5s ease;
		-o-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
		z-index:700;
	}
	.nav-visible .bg.sp{
		width:100%;
		height:100%;
		opacity:1;
	}
	.nav.sp .menu{
		position:fixed;
		top:0;
		right:-100%;
		width:75%;
		height:100%;
		-webkit-transition: right 0.5s ease;
		-moz-transition: right 0.5s ease;
		-o-transition: right 0.5s ease;
		transition: right 0.5s ease;
		-webkit-box-sizing:border-box;		-moz-box-sizing:border-box;		box-sizing:border-box;
		overflow-y:auto;
		background:#fff;
		padding-top:42px;
		z-index:800;
	}
	.nav-visible .nav.sp .menu{right:0;}
	.nav.sp .hold{border-top:1px #ededed solid;}
	.nav.sp h4,
	.nav.sp ul li,
	.nav.sp .slide_link{
		border-bottom:1px #ededed solid;
		font-size:12px;
		line-height:18px;
	}
	.nav.sp h4 a,
	.nav.sp ul a,
	.nav.sp .slide_link{
		display:block;
		padding:11px 20px;
		color:#212121;
	}
	.nav.sp ul{background:#f5f5f5;}
	.nav.sp ul a{color:#1f1f1f;}
	.nav.sp .slide_link{
		position:relative;
		padding-right:30px;
	}
	.nav.sp .slide_link:after{
		content:'';		position:absolute;		top:50%;		right:15px;		width:10px;		height:10px;		margin-top:-5px;		background:url(../../common/img/common/sp_nav_arrow.png) no-repeat;
		background-size:10px 10px;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;		overflow:hidden;
	}
	.nav.sp .slide-active .slide_link:after{
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	/* コンテンツここから */
	/* メインエリアここから */
	#main{padding-top:42px;}
	/* gallery */
	.gallery{margin-bottom:45px;}
	.gallery .text{
		top:36%;
		width:85%;
	}
	.gallery h2{
		font-size:17px;
		line-height:30px;
		font-weight:bold;
		letter-spacing:2px;
		text-align:center;
	}
	.gallery h2 span{display:block;}
	.gallery .button{display:none;}
	
	.gallery .swiper-button-prev,
	.gallery .swiper-button-next{
		width:12px;
		height:24px;
		background-size:12px 50px;
		margin-top:-24px;
	}
	.gallery .swiper-button-prev{
		left:8px;
	}
	.gallery .swiper-button-next{
		background: url(../../common/img/index/gallery_arrows.png) no-repeat 0 -25px;
		background-size:12px 50px;
		right:8px;
	}
	.swiper-pagination{bottom:15px !important;}
	.swiper-pagination-bullet{
		width:5px;
		height:5px;
		margin:0 4px !important;
	}
	/* concept */
	.concept{margin-bottom:30px;}
	.concept h3{
		margin-bottom:20px;
		font-size:14px;
		line-height:18px;
		letter-spacing:1.5px;
	}
	.concept h2{
		margin-bottom:17px;
		font-size:27px;
		line-height:35px;
		letter-spacing:4px;
	}
	.concept p{
		margin-bottom:20px;
		font-size:12px;
		line-height:22px;
	}
	.concept .button{
		width:183px;
		font-size:11px;
		line-height:54px;
		letter-spacing:0.5px;
		padding-right:20px;
	}
	.concept .button:before{
		top:20px;
		right:-21px;
		width:54px;
		height:15px;
		background-size:;
	}
	/* business case */
	.business_case{
		padding-top:43px;
		padding-bottom:20px;
	}
	.business_case h2{
		margin-bottom:15px;
		font-size:18px;
		line-height:22px;
	}
	.business_case .head p{
		margin:0 auto 12px;
		width:68%;
		font-size:12px;
		line-height:18px;
		letter-spacing:0.5px;
	}
	.business_case .boxes{margin:0;}
	.business_case .boxes .box{
		display:block;
		padding:0;
		margin-bottom:25px;
		width:100%;
	}
	.business_case .box .image .txt{display:none;}
	.business_case .box .text{padding:21px 15px 28px;}
	.business_case .box .text h3{
		margin-bottom:3px;
		font-size:14px;
		line-height:16px;
	}
	.business_case .box .text span{
		margin-bottom:10px;
		font-size:7px;
		line-height:9px;
	}
	.business_case .box .text p{
		font-size:12px;
		line-height:18px;
		letter-spacing:0.5px;
		text-align:left;
	}
	/* social box */
	.social_box{
		background-position:0 0;
		padding-top:70px;
		padding-bottom:53px;
	}
	.social_box h2{
		margin-bottom:10px;
		font-size:18px;
		line-height:22px;
		letter-spacing:3px;
	}
	.social_box p{
		margin:0 10px 13px;
		font-size:12px;
		line-height:24px;
	}
	.social_box .button{
		width:184px;
		font-size:11px;
		line-height:49px;
	}
	/* recruit box */
	.recruit_box{
		margin-bottom:44px;
		padding:52px 20px 30px 30px;
	}
	.recruit_box .box{margin-bottom:10px;}
	.recruit_box .box .mark{display:none;}
	.recruit_box .box .head{
		top:8px;
		left:-10px;
	}
	.recruit_box .box .head h2{
		margin:0;
		font-size:11px;
		line-height:16px;
	}
	.recruit_box .box .head h2 strong{
		font-size:28px;
		line-height:28px;
	}
	.recruit_box .box .head p{
		font-size:8px;
		line-height:8px;
	}
	.recruit_box .box .link{
		right:10px;
		bottom:7px;
		font-size:8px;
		line-height:8px;
		padding-right:37px;
		background-size:29px 17px;
	}
	.recruit_box p.txt{
		font-size:12px;
		line-height:20px;
	}
	/* news box */
	.news_box{margin-bottom:30px;}
	.news_box h2{
		margin-bottom:20px;
		font-size:17px;
		line-height:20px;
		letter-spacing:1.5px;
	}
	.news_list{border-width:1px 0 0;}
	.news_list li{
		border-width:0 0 1px;
		padding:19px 0 16px;
	}
	.news_list .date{
		font-size:12px;
		line-height:16px;
		min-width:85px;
		margin-bottom:10px;
	}
	.news_list .mark{
		font-size:10px;
		line-height:16px;
		width:95px;
		margin-bottom:10px;
	}
	.news_list .text{
		display:block;
		font-size:12px;
		line-height:18px;
	}
	/* title banner */
	.title_banner,
	#contact .title_banner{margin-bottom:43px;}
	#social .title_banner{margin-bottom:46px;}
	#kojin .title_banner{margin-bottom:45px;}
	.title_banner .text.no_btn .button{display:none;}
	.title_banner .text{bottom:11%;}
	.title_banner .text.no_btn{bottom:28%;}
	.title_banner h2{
		margin-bottom:1px;
		font-size:15px;
		line-height:30px;
		letter-spacing:3px;
	}
	.title_banner p{
		font-size:8px;
		line-height:12px;
		margin-bottom:9px;
		letter-spacing:0.5px;
	}
	.title_banner .button{
		padding:0 2px;
		min-width:65px;
		font-size:9px;
		line-height:26px;
	}
	/* declaration text */
	#privacy .declaration_text,
	.declaration_text{margin-bottom:70px;}
	.declaration_text h2{
		margin:0;
		font-size:17px;
		line-height:26px;
		letter-spacing:3px;
	}
	.declaration_text h2 span{display:block;}
	.declaration_text h3{
		margin-bottom:27px;
		font-size:9px;
		line-height:12px;
		letter-spacing:0.2px;
	}
	.declaration_text h4{
		font-size:12px;
		line-height:18px;
		margin-bottom:5px;
	}
	.declaration_text p{
		margin-bottom:18px;
		font-size:12px;
		line-height:18px;
		letter-spacing:0.5px;
	}
	.declaration_text .bottom_info p{margin:0 0 5px;} 
	.num_list{
		margin:30px 0;
		font-size:12px;
		line-height:18px;
		letter-spacing:0.5px;
	}
	.num_list li{padding:13px 2px;}
	.num_list .num{
		font-size:12px;
		line-height:18px;
		width:20px;
	}
	.num_list.text{margin-bottom:18px;}
	.num_list.text p{
		font-size:12px;
		line-height:18px;
		margin-bottom:18px;
	}
	.num_list .sub_sub{
		margin:-10px 0 0 18px;
		letter-spacing:0;
	}
	.num_list .sub_sub p{letter-spacing:0;}
	.num_list.text li{
		padding:18px 2px 0;
	}
	/* site map */
	.site_map{margin-bottom:50px;}
	.site_map .columns .col{
		float:none !important;
		width:100% !important;
	}
	.site_map h2,
	.site_map h3,
	.site_map .links{
		font-size:12px;
		line-height:18px;
	}
	.site_map h2{
		width:100%;
		padding-bottom:1px;
		margin-bottom:33px;
	}
	.site_map h3{
		padding:0 0 1px 0;
		margin-bottom:10px;
	}
	.site_map .links{
		margin-bottom:30px; 
		padding-left:5px;
	}
	.site_map .links.parent{margin-bottom:23px;}
	.site_map .links.parent ul{
		padding-top:10px;
		margin-bottom:20px;
	}
	.site_map h3.single{margin-bottom:30px;}
	/* privacy box */
	.privacy_box.last,
	.privacy_box{margin-bottom:70px;}
	.privacy_box h2{
		margin-bottom:30px;
		font-size:17px;
		line-height:26px;
		letter-spacing:3px;
	}
	.privacy_box p{
		margin-bottom:18px;
		font-size:12px;
		line-height:18px;
	}
	.privacy_box .bottom_info h4{
		margin-bottom:5px;
		font-size:12px;
		line-height:18px;
	}
	.privacy_box .bottom_info p{margin:0 0 5px;}
	/* contact box */
	.contact_box,
	.contact_box.inner{margin-bottom:70px;}
	.contact_box h2{
		margin-bottom:1px;
		font-size:17px;
		line-height:26px;
		letter-spacing:3px;
	}
	.contact_box h3{
		margin-bottom:31px;
		font-size:9px;
		line-height:12px;
	}
	.contact_box p{
		margin-bottom:18px;
		font-size:12px;
		line-height:18px;
	}
	.contact_box .tel_box{
		margin-bottom:48px;
		padding:28px 15px 10px;
	}
	.contact_box .tel_box h5{
		margin-bottom:5px;
		font-size:13px;
		line-height:18px;
	}
	.contact_box .tel_box p{margin-bottom:15px;}
	.contact_box .tel_box p.tel{margin-bottom:16px;}
	.contact_box .tel_box p.tel span{
		display:block;
		font-size:12px;
		line-height:18px;
	}
	.contact_box .tel_box p.tel a{
		font-size:17px;
		line-height:22px;
	}
	.contact_box .tel_box p span{display:block;}
	.contact_box h4{
		margin-bottom:23px;
		font-size:14px;
		line-height:18px;
		letter-spacing:2px;
	}
	.contact_box .form .row,
	.contact_box .form .row.phone{margin-bottom:23px;}
	.contact_box .form .row label{
		float:none;
		width:auto;
		padding:0;
		display:block;
		font-size:12px;
		line-height:18px;
		margin:0 0 5px;
	}
	.contact_box .form .row label .required,
	.contact_box .form .row label .any{
		display:inline;
		padding-left:3px;
		font-size:9px;
		line-height:18px;
	}
	.input_text input,
	textarea{
		font-size:10px;
		line-height:15px;
		padding:12px 8px;
	}
	textarea{height:150px;}
	.input_text .input-placeholder-text{
		font-size:10px;
		line-height:15px;
		padding:12px 8px;
	}
	.input_text.short{
		margin-right:9px;
		width:90px;
	}
	.contact_box .form .row.phone .input_text.short{width:76px;}
	.contact_box .form .row.phone .input_text.short.last{margin-right:0;}
	.contact_box span.separator{
		margin:18px 9px 0 0;
		width:8px;
		height:2px;
	}
	.contact_box .form .holder .notes{
		font:9px/12px Arial, Helvetica, sans-serif;
		color:#000;
		margin-bottom:3px;
	}
	.radio_list{
		padding-top:5px;
		margin-bottom:17px;
	}
	.radio_list li{
		width:100%;
		float:none;
		margin-bottom:7px;
		font-size:12px;
		line-height:18px;
	}
	.radio_list input,
	.radio_list .jcf-radio{
		margin:3px 8px 0 0;
	}
	#main .radio_list label{
		margin:0;
		font-size:12px;
		line-height:18px;
	}
	.contact_box .text{margin:27px 3px 8px;}
	.contact_box .button-holder{
		border-top-width:1px;
		margin:0 -20px 0;
		padding:28px 20px 0;
	}
	.contact_box .check_row{margin-bottom:4px;}
	.contact_box .check_row .jcf-checkbox{margin:0 5px 0 0;}
	.contact_box .button-holder{
		font-size:12px;
		line-height:18px;
	}
	.contact_box .required-note{margin-bottom:31px;}
	.contact_box .button{
		width:280px;
		height:40px;
		font-size:14px;
		line-height:38px;
		letter-spacing:0;
	}
	.contact_box .form .select_holder select,
	.contact_box .form .select_holder .jcf-select{width:280px;}
	/* social block */
	.social_block{margin-bottom:28px;}
	.social_block .heading{margin-bottom:40px;}
	.social_block .title{
		margin-bottom:36px;
		font-size:14px;
		line-height:22px;
		padding:0 6px;
	}
	.social_block .title:before{height:9px;}
	.social_block h2{
		margin-bottom:20px;
		font-size:21px;
		line-height:30px;
		letter-spacing:2px;
	}
	.social_block .heading p{
		margin:0 10px 21px;
		font-size:12px;
		line-height:21px;
		letter-spacing:0.5px;
	}
	.social_fields{margin-bottom:20px;}
	.social_fields .box h3{
		font-size:13px;
		line-height:17px;
		padding:9px 5px;
	}
	.social_fields .box .holder{padding:25px 25px 18px;}
	.social_fields .image_box{
		float:none;
		margin-bottom:10px;
		width:100%;
		padding:0;
	}
	.social_fields .image_box .image .btn{
		bottom:20px;
		font-size:10px;
		line-height:25px;
		padding:0 6px;
	}
	.social_fields .image_box .text{
		font-size:12px;
		line-height:18px;
		padding:8px 5px;
	}
	.social_fields .arrow{
		margin:15px auto; 
		width:45px;
		height:39px;
		background-size:45px 39px;
	}
	.social_fields .bot_txt{
		font-size:13px;
		line-height:21px;
		margin:0 0 7px; 
	}
	.social_fields .arrow_down{
		width:70px;
		height:40px;
		background-size:70px 40px;
		margin-bottom:15px;
	}
	.social_fields .top_txt{
		margin:0 0 23px;
		font-size:13px;
		line-height:21px;
	}
	.social_fields .top_txt a{
		font-size:17px;
		line-height:21px;
	}
	.social_fields .txt{
		font-size:12px;
		line-height:18px;
		padding:7px 0 0 60px;
	}
	.social_fields .image_box .circle{
		bottom:-9px;
		left:-1px;
		width:74px;
		height:74px;
		line-height:74px;
		font-size:14px;
	}
	.guard_info .social_fields .image_box{overflow:visible;}
	.guard_info .social_fields .image_box:after{
		content:'';		display:block;		clear:both;
	}
	/* social activities */
	.social_activities{
		padding-top:56px;
		padding-bottom:40px;
	}
	.social_activities h2{
		margin-bottom:2px;
		font-size:17px;
		line-height:24px;
	}
	.social_activities h3{
		font-size:9px;
		line-height:12px;
		margin-bottom:48px;
	}
	.activities{margin-bottom:25px;}
	.activities li{margin-bottom:32px;}
	.activities h4{
		font-size:13px;
		line-height:18px;
		padding-bottom:3px;
		margin-bottom:15px;
	}
	.activities .box .image{
		float:none;
		display:block;
		margin:0 0 12px 0;
		width:100%;
	}
	.activities .box .text{
		font-size:12px;
		line-height:18px;
	}
	/* top message */
	.top_message{margin-bottom:14px;}
	.top_message h2{
		margin-bottom:3px;
		font-size:17px;
		line-height:24px;
	}
	.top_message h3{
		font-size:9px;
		line-height:12px;
		margin-bottom:29px;
	}
	.top_message .holder{
		font-size:12px;
		line-height:18px;
	}
	.top_message .person{
		margin:0 auto 38px;
		width:100%;
		float:none;
		max-width:398px;
	}
	.top_message .person .hold{
		padding:25px 28px 0;
		margin-bottom:11px;
	}
	.top_message .person .name{
		font-size:14px;
		line-height:18px;
		margin-bottom:15px;
	}
	.top_message .person .position{
		font-size:9px;
		line-height:17px;
	}
	.top_message .person .position img{
		height:17px;
		width:auto;
	}
	.top_message h4{
		margin-bottom:13px;
		font-size:12px;
		line-height:18px;
	}
	.top_message p{margin-bottom:18px;}
	.top_message .txt{padding-bottom:15px;}
	/* management */
	.management{
		padding-top:40px;
		padding-bottom:28px;
		margin-bottom:46px;
	}
	.management h2{
		margin-bottom:3px;
		font-size:17px;
		line-height:24px;
	}
	.management h3{
		font-size:9px;
		line-height:12px;
		margin-bottom:29px;
	}
	.management h4{
		width:100%;
		max-width:280px;
		margin-bottom:40px;
	}
	.management h5{
		margin-bottom:31px;
		font-size:14px;
		line-height:22px;
		padding:0 6px;
	}
	.management h5:before{height:9px;}
	.management .policy{margin:0 0 18px;}
	.management .policy li{
		width:100%;
		float:none;
		padding:0 0 30px;
	}
	.management .policy .box{
		background-size:30px 18px;
		padding:24px 30px 19px;
	}
	.management .policy h6{
		margin-bottom:9px;
		font-size:13px;
		line-height:18px;
	}
	.management .policy h6 span{
		font-size:15px;
		line-height:18px;
	}
	.management .policy p{
		font-size:12px;
		line-height:18px;
		letter-spacing:0.8px;
	}
	.management .policy p span{display:inline;}
	.management .trainings{
		margin-bottom:20px;
		font-size:12px;
		line-height:18px;
	}
	.management .trainings li{padding:15px 10px;}
	.management .trainings li:first-child{padding-top:0;}
	.management .trainings h6{
		margin-bottom:6px;
		font-size:13px;
		line-height:18px;
	}
	.management .trainings p span{display:inline;}
	/* profile */
	.profile{margin-bottom:49px;}
	.profile h2{
		margin-bottom:3px;
		font-size:17px;
		line-height:24px;
	}
	.profile h3{
		font-size:9px;
		line-height:12px;
		margin-bottom:29px;
	}
	.company_info{margin:0 -20px 45px;}
	.company_info .image .button{
		width:101px;
		font-size:10px;
		line-height:26px;
		bottom:36%;
	}
	.company_info .text{padding:16px 20px 30px;}
	.company_info .text dl{padding:12px 0;}
	.company_info .text dl dt{
		float:none;
		display:block;
		font-size:12px;
		line-height:18px;
		margin:0 0 4px;
		width:100%;
	}
	.company_info .text dl dd{
		font-size:12px;
		line-height:18px;
	}
	/* history */
	.history{margin-bottom:49px;}
	.history h2{
		margin-bottom:3px;
		font-size:17px;
		line-height:24px;
	}
	.history h3{
		font-size:9px;
		line-height:12px;
		margin-bottom:29px;
	}
	.history .company_info .text{
		padding-top:15px;
	}
	.history .company_info .text dl{padding:13px 0;}
	/* sports */
	.sports{
		padding-top:40px;
		padding-bottom:15px;
		margin-bottom:44px;
	}
	.sports h2{
		margin-bottom:3px;
		font-size:17px;
		line-height:24px;
	}
	.sports h3{
		font-size:9px;
		line-height:12px;
		margin-bottom:29px;
	}
	.sports h4{
		margin-bottom:6px;
		font-size:13px;
		line-height:18px;
	}
	.sports h4 img{
		width:9px;
		margin:6px 6px 0 0;
	}
	.sports .block{
		margin:0 0 20px;
		font-size:12px;
		line-height:18px;
	}
	.sports .images{margin:0;}
	.sports .images li{
		width:100%;
		float:none;
		padding:0;
		margin:0 0 5px;
	}
	/* access */
	.access{margin-bottom:75px;}
	.access h2{
		margin-bottom:3px;
		font-size:17px;
		line-height:24px;
	}
	.access h3{
		font-size:9px;
		line-height:12px;
		margin-bottom:29px;
	}
	.access .map{margin-bottom:35px;}
	.access_info{
		margin-bottom:68px;
		font-size:12px;
		line-height:18px;
	}
	.access_info h4{
		margin:0;
		font-size:13px;
		line-height:18px;
		padding-bottom:6px;
	}
	.access_info h4 img{
		width:9px;
		margin:6px 6px 0 0;
	}
	.access_info dl{padding:13px 0;}
	.access_info dl dt{
		width:100%;
		float:none;
		margin:0 4px 0 0;
	}
	.access_info dl dt span{margin-right:15px;}
	.access_info dl dt span:last-child{margin:0;}
	.access_info dl dt img{width:7px;}
	.access_info .txt{
		font-size:12px;
		line-height:20px;
		margin-bottom:0;
	}
	.access_info .txt p{margin-bottom:15px;}
	/* strength */
	.strength{
		padding-top:40px;
		padding-bottom:20px;
	}
	.strength h2{
		margin-bottom:3px;
		font-size:17px;
		line-height:24px;
	}
	.strength h3{
		font-size:9px;
		line-height:12px;
		margin-bottom:26px;
	}
	#main .strength .box{margin:0 0 35px;}
	#main .strength .box .image{
		margin:0;
		float:none;
		width:100%;
	}
	#main .strength .box .image .btn{
		top:19px;
		left:7px;
		width:70px;
		font-size:10px;
		line-height:26px;
	}
	#main .strength .box.box3 .image .btn,
	#main .strength .box.box5 .image .btn{
		top:auto;
		bottom:15px;
	}
	#main .strength .box .text{
		margin:0;
		float:none;
		width:100%;
		font-size:12px;
		line-height:18px;
		padding:21px 10px;
	}
	.strength .box .text h4{
		font-size:13px;
		line-height:18px;
		margin-bottom:5px;
	}
	/* about group */
	.about_group{
		padding-top:80px;
		padding-bottom:64px;
	}
	.about_group h2{
		margin-bottom:3px;
		font-size:17px;
		line-height:24px;
	}
	.about_group h3{
		font-size:9px;
		line-height:12px;
		margin-bottom:24px;
	}
	.about_group .logo{
		width:134px;
		margin-bottom:28px;
	}
	.about_group p{
		margin-bottom:28px;
		font-size:12px;
		line-height:24px;
	}
	.about_group .button{
		width:184px;
		font-size:9px;
		line-height:49px;;
	}
	/* group link */
	.group_link{
		padding-top:43px;
		padding-bottom:28px;
	}
	.group_link h2{
		margin-bottom:3px;
		font-size:17px;
		line-height:24px;
	}
	.group_link h3{
		font-size:9px;
		line-height:12px;
		margin-bottom:36px;
	}
	.group_link p{
		margin-bottom:26px;
		font-size:12px;
		line-height:18px;
	}
	.group_link .button{
		font-size:9px;
		line-height:49px;
		width:184px;
	}
	/* guard info */
	.guard_info{
		margin-bottom:21px;
		overflow:hidden;
	}
	.guard_info h2{
		margin-bottom:6px;
		font-size:21px;
		line-height:32px;
		letter-spacing:3px;
	}
	.guard_info .head{margin-bottom:81px;}
	.guard_info .head p{
		font-size:12px;
		line-height:22px;
		letter-spacing:0.5px; 
	}
	.guard_info .title{margin-bottom:15px;}
	.guard_info .title h3{
		font-size:14px;
		line-height:22px;
		padding:0 6px;
		letter-spacing:0.5px;
		margin-bottom:17px;
	}
	.guard_info .title h3:before{height:9px;}
	.guard_info .title h4{
		margin-bottom:18px;
		font:bold 18px/25px Arial, Helvetica, sans-serif;
		letter-spacing:1.5px;
	}
	.guard_info .title p{
		font-size:12px;
		line-height:18px;
	}
	.guard_info .main_image{margin-bottom:52px;}
	.guard_info .social_fields{margin-bottom:20px;}
	.guard_info .social_fields .image_box{margin-bottom:30px;}
	.guard_info .social_fields .image_box .text{
		font-size:12px;
		line-height:18px;
		padding:18px 20px;
	}
	.guard_info .social_fields .image_box .image .btn{
		font-size:9px;
		line-height:25px;
		width:69px;
		bottom:31px;
	}
	.guard_info .security_text{
		margin:4px 0 9px;
		padding:19px 10px 16px;
	}
	.guard_info .security_text h5{
		margin-bottom:5px;
		font-size:13px;
		line-height:20px;
	}
	.guard_info .security_text p{
		font-size:12px;
		line-height:18px;
	}
	.guard_info .security_text h5 span,
	.guard_info .security_text p span{display:block;}
	.guard_info .security_text:before{
		top:16px;
		left:14px;
		width:28px;
		height:45px;
		background-size:28px 45px;
	}
	.guard_info .security_text:after{
		top:15px;
		right:15px;
		width:24px;
		height:46px;
		background-size:24px 46px;
	}
	/* structure */
	.structure{
		padding-top:25px;
		margin-bottom:40px;
		padding-bottom:20px;
	}
	.structure h2{
		margin-bottom:24px;
		font-size:13px;
		line-height:18px;
		padding-bottom:5px;
	}
	.structure_box.sp .image{margin-bottom:30px;}
	.structure_box.sp .image img{
		display:block;
		width:100%;
	}
	.structure_box .button{
		margin-bottom:62px;
		display:block;
		border:1px #222c99 solid;
		background:#fff;
		font-size:13px;
		line-height:39px;
		font-weight:bold;
		color:#1f2b99;
		text-align:center;
	}
	.basic_services{margin-bottom:20px;}
	.basic_services .icons_list{
		float:none;
		width:100%;
		padding:30px 15px 0 25px;
		margin:0 0 16px; 
	}
	.basic_services .icons_list li{margin-bottom:30px;}
	.basic_services .icons_list .icon{
		margin-right:13px;
		width:59px;
	}
	.basic_services .icons_list h3{
		font-size:13px;
		line-height:18px;
		margin-bottom:3px;
	}
	.basic_services .icons_list p{
		font-size:12px;
		line-height:18px;
		letter-spacing:0;
	}
	.basic_services .plus{
		margin:0 auto 16px;
		float:none;
	}
	.basic_services .info_box{
		float:none;
		width:100%;
		padding:22px 24px 10px;
	}
	.basic_services .info_box .image{margin-bottom:10px;}
	.basic_services .info_box .text{margin-bottom:11px;}
	.basic_services .info_box .text h3{
		font-size:13px;
		line-height:18px;
		margin-bottom:2px;
	}
	.basic_services .info_box .text p{
		font-size:12px;
		line-height:18px;
	}
	.basic_services .info_box .message{
		margin-left:0;
		font-size:10px;
		line-height:15px;
		padding:8px 10px;
		letter-spacing:0;
		margin-bottom:5px;
	}
	.basic_services .info_box .message p{
		font-size:10px;
		line-height:15px;
	}
	.basic_services .info_box .message:after{
		top:14px;
		width:10px;
		height:7px;
		right:-9px;
		background-size:10px 7px;
	}
	.basic_services .info_box .message:before{
		top:-27px;
		right:-120px;
		width:102px;
		height:73px;
		background-size:102px 73px;
	}
	/* device box */
	.device_box{margin-bottom:49px;}
	.heading_box h3{
		font-size: 14px;
		line-height: 22px;
		padding: 0 6px;
		letter-spacing: 0.5px;
		margin-bottom: 20px;
	}
	.heading_box h3:before{height:9px;}
	.heading_box h2{
		margin-bottom:24px;
		font:bold 18px/25px Arial, Helvetica, sans-serif;
		letter-spacing:1.5px;
	}
	.heading_box h2.logo-title{
		margin-bottom:24px;
		min-height:26px;
		padding:0 15px;
	}
	.heading_box h2.logo-title .red{
		font-size:10px;
		line-height:25px;
		padding:0 9px;
		left:50%;
		top:50%;
		-moz-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}
	.heading_box p{
		margin-bottom:24px;
		font-size:12px;
		line-height:21px;
	}
	/* info boxes */
	.info_boxes,
	.info_boxes.boxes2,
	.info_boxes.boxes3{margin-bottom:40px;}
	.info_boxes .box{margin-bottom:24px;}
	.info_boxes h4{
		margin-bottom:14px;
		font-size:13px;
		line-height:21px;
		padding-bottom:5px;
	}
	.info_boxes .box .image{
		width:100%;
		float:none;
		margin:0 0 12px;
	}
	.info_boxes .box .image .btn{
		top:50% !important;
		bottom:auto !important;
		font-size:10px;
		line-height:25px;
		width:100px;
		-moz-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}
	.info_boxes .box .text p{
		font-size:12px;
		line-height:18px;
	}
	.info_boxes .box .text p{margin:0 0 10px;}
	.info_boxes .box .text .list{
		padding-top:0;
		margin-bottom:10px;
		font-size:12px;
		line-height:18px;
	}
	.info_boxes .title_blue{
		font-size:13px;
		line-height:18px;
		padding:8px 3px;
		letter-spacing:0;
	}
	.info_boxes .dash_box{
		margin-bottom:10px;
		padding:14px;
	}
	.info_boxes .box .text h5{
		margin:0 0 5px;
		font-size:13px;
		line-height:18px;
	}
	.info_boxes .dash_box p{
		margin:0;
		font-size:12px;
		line-height:18px;
	}
	.info_boxes.set2{
		margin-bottom:30px;
	}
	.info_boxes.set2 .heading_box p{margin:0;}
	.info_boxes .box .text .img{margin-bottom:10px;}
	/* camera info */
	.camera_info .heading_box{margin-bottom:30px;}
	.camera_info,
	.camera_image{margin-bottom:40px;}
	/* procedure */
	.procedure{
		padding-top:45px;
		padding-bottom:20px;
		margin-bottom:45px;
	}
	.procedure h2{
		margin-bottom:0;
		font-size:17px;
		line-height:24px;
		font-weight:bold;
		color:#1f3096;
		letter-spacing:1.5px;
		text-align:center;
	}
	.procedure h2 a{color:#1f3096;}
	.procedure h3{
		margin-bottom:25px;
		font:bold 9px/14px Arial, Helvetica, sans-serif;
		color:#1f3096;
		text-align:center;
		letter-spacing:0.5px;
	}
	.procedure .head p{
		font-size:12px;
		line-height:18px;
	}
	.procedure_box h4{
		font-size:13px;
		line-height:18px;
		padding:8px 12px;
	}
	.procedure_box h4 .num{
		font-size:14px;
		line-height:18px;
	}
	.procedure_box .image{
		margin:0 0 10px;
		width:100%;
		float:none;
	}
	.procedure_box .image .btn {
		top: 50% !important;
		bottom: auto !important;
		font-size: 10px;
		line-height: 25px;
		width: 100px;
		-moz-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}
	.procedure_box .image .btn.green{
		font-size:9px;
		width:70px;
	}
	.procedure_box .holder{padding:20px 25px;}
	.procedure_box .text p{
		font-size:12px;
		line-height:18px;
	}
	.arrow_down_next{
		margin-bottom:15px;
		width:42px;
		height:17px;
		background-size:42px 17px;
	}
	.procedures_holder{margin-bottom:50px;}
	.inquiries_box{
		margin-bottom:20px;
		padding:20px 15px;
	}
	.inquiries_box h4{
		font-size:14px;
		line-height:18px;
	}
	.inquiries_box p{
		font:12px/18px Arial, Helvetica, sans-serif;
		letter-spacing:0;
	}
	.inquiries_box p span{display:block;}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/* フッターここから */
	#footer{border-width:1px 0 0;}
	/* footer links */
	.footer_links{padding:0;}
	.footer_links .links.desktop{display:none;}
	.links.sp{
		margin-top:-1px;
		overflow:hidden;
	}
	.links.sp li{
		float:left;
		width:50%;
		display:table;
		height:45px;
		vertical-align:middle;
		text-align:center;
		margin-bottom:-1px;
	}
	.links.sp li a{
		display:table-cell;
		height:44px;
		font-size:10px;
		line-height:14px;
		border:1px #f0f0f0 solid;
		border-width:1px 0;
		padding:0 5px;
		vertical-align:middle;
		text-align:center;
		color:#333;
	}
	.links.sp li:nth-child(odd) a{
		border-width:1px 1px 0;
	}
	.link_to_top{
		margin-bottom:28px;
		padding:15px 10px;
		font-size:11px;
		line-height:15px;
	}
	.link_to_top > span{text-align:center;}
	.link_to_top > span > span{
		padding-left:17px;
		background-size:10px 6px;
		background-position:0 50%;
	}
	.footer_bar{
		margin:0;
		position:relative;
		padding:0 10px 15px;
		text-align:center;
	}
	.footer_bar .holder{margin:0;}
	.footer_bar .holder .links{
		float:none;
		margin-bottom:80px;
	}
	.footer_bar .holder .links li,
	.footer_bar .holder .links li a{
		font-size:11px;
		line-height:16px;
		letter-spacing:0.5px;
	}
	.footer_bar .holder .copyright{
		float:none;
		font-size:9px;
		line-height:14px;
	}
	.footer_bar .footer_logo{
		position:absolute;
		left:50%;
		bottom:45px;
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
		width:139px;
		height:31px;
		background-size:139px 31px;
		float:none;
	}
	.link_to_top_fixed{
		width:57px;
		height:74px;
		background-size:57px 74px;
		padding-top:43px;
		font-size:8px;
		line-height:12px;
		bottom:10px;
	}
	.small-header .link_to_top_fixed{right:10px;}
}