@charset "UTF-8";

/* PC版 768px以上に適応 */
@media screen and (min-width: 768px) {
	/* ヘッダここから */
	.top_links{
		margin-top:1px;
		float:right;
	}
	.top_links li{
		margin-left:18px;
		float:left;
	}
	.top_links li a{
		display:inline-block;		vertical-align:top;
		padding-left:10px;
		background:url(../../common/img/common/top_links_arrow.png) no-repeat 0 50%;
		color:#000;
		letter-spacing:0.5px;
		position:relative;
		opacity:1;
		-webkit-transition: opacity 0.5s ease;
		-moz-transition: opacity 0.5s ease;
		-o-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
	}
	.top_links li a:hover{opacity:0.6;}
	/* pc navigation */
	.nav.pc{
		padding-top:19px;
		text-align:center;
		font-size:14px;
		line-height:31px;
		letter-spacing:0.5px;
	}
	.nav.pc.dark{background:#000;}
	#dropmenu > li{
		display:inline-block;
		vertical-align:top;
		margin:0 12px; 
		padding-bottom:14px;
		position:relative;
	}
	#dropmenu > li > a{
		display:inline-block;
		vertical-align:top;
		padding-bottom:2px;
		position:relative;
	}
	.nav.pc.dark #dropmenu > li > a{color:#fff;}
	#dropmenu > li > a:before{
		content:'';		position:absolute;		bottom:0;		left:0;		width:100%;		height:2px;		background:#233096;
		opacity:0;
		-webkit-transition: opacity 0.5s ease;
		-moz-transition: opacity 0.5s ease;
		-o-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
	}
	.nav.pc.dark #dropmenu > li > a:before{background:#fff;}
	#dropmenu > li.active > a:before,
	#dropmenu > li:hover > a:before{opacity:1;}
	#dropmenu ul{
		position:absolute;
		top:47px;
		left:50%;
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
		width:170px;
		background:rgba(35,44,149,0.8);
		display:none;
	}
	#dropmenu ul li{
		display:block;
		margin:0;
		padding:0;
		position:relative;
	}
	#dropmenu ul li:after{
		content:'';
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:1px;
		background:#fff;
		opacity:0.2;
	}
	#dropmenu ul li:first-child:after{display:none;}
	#dropmenu ul a{
		display:block;
		line-height:20px;
		padding:15px 5px;
		text-align:center;
		border:0;
		color:#fff;
		opacity:1;
		-webkit-transition: opacity 0.5s ease;
		-moz-transition: opacity 0.5s ease;
		-o-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
	}
	#dropmenu ul a:hover{opacity:0.7;}
	/* access */
	.access_info .video.pc{
		margin:0 auto 20px;
		width:100%;
		max-width:800px;
		overflow:hidden;
	}
	/* structure */
	.structure_box{
		position:relative;
		margin:62px auto 153px;
		padding:107px 0 22px;
		width:800px;
		height:800px;
		background:url(../../common/img/kojin/structure_bg.png) no-repeat 50% 107px;
	}
	.structure_box .box{
		position:absolute;
		border:1px #203196 solid;
		background:#fff;
		width:298px;
		overflow:hidden;
	}
	.structure_box .box h3{
		font-size:20px;
		line-height:28px;
		color:#fff;
		background:#1f3096;
		padding:10px 22px 11px;
	}
	.structure_box .box .image{position:relative;}
	.structure_box .box .image img{
		display:block;
		width:100%;
	}
	.structure_box .box .image .btn{
		position:absolute;
		top:50%;
		left:50%;
		width:138px;
		font-size:20px;
		line-height:51px;
		font-weight:bold;
		color:#fff;
		text-align:center;
		-moz-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
		background:#f00;
	}
	.structure_box .box .text{
		padding:20px 28px 25px;
		font-size:14px;
		line-height:21px;
	}
	.structure_box .box.box1{
		top:0;
		left:50%;
		-moz-transform: translateX(-52%);
		-ms-transform: translateX(-52%);
		-webkit-transform: translateX(-52%);
		-o-transform: translateX(-52%);
		transform: translateX(-52%);
	}
	.structure_box .box.box2{
		top:543px;
		right:-64px;
	}
	.structure_box .box.box3{
		top:543px;
		left:-59px;
	}
	.structure_box .center{
		position:absolute;
		top:487px;
		left:50%;
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
		width:300px;
		color:#1e259a;
		text-align:center;
	}
	.structure_box .center p{
		margin-bottom:2px;
		font-size:16px;
		line-height:22px;
		font-weight:bold;
		letter-spacing:0.5px;
	}
	.structure_box .center h3{
		font-size:22px;
		line-height:28px;
		font-weight:bold;
	}
	.structure_box .rounded_box{
		position:absolute;
		width:148px;
		height:43px;
		background:#dfe0eb;
		text-align:center;
		border:1px #203196 solid;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
		font-size:18px;
		line-height:43px;
		font-weight:bold;
		color:#1f3096;
	}
	.structure_box .rounded_box.box1{
		top:346px;
		right:38px;
	}
	.structure_box .rounded_box.box3{
		top:362px;
		left:31px;
	}
	.structure_box .rounded_box.box2{
		top:745px;
		left:50%;
		-moz-transform: translateX(-48%);
		-ms-transform: translateX(-48%);
		-webkit-transform: translateX(-48%);
		-o-transform: translateX(-48%);
		transform: translateX(-48%);
	}
	.structure_box .phone_box{
		position:absolute;
		bottom:0;
		left:50%;
		-moz-transform: translateX(-48%);
		-ms-transform: translateX(-48%);
		-webkit-transform: translateX(-48%);
		-o-transform: translateX(-48%);
		transform: translateX(-48%);
		width:250px;
		text-align:center;
	}
	.structure_box .phone_box .phone_btn{
		display:block;
		margin:0 auto 10px;
		width:148px;
		background:#1f3096;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
		text-align:center;
		font:bold 18px/43px Arial, Helvetica, sans-serif;
		color:#fff;
	}
	.structure_box .phone_box .phone_btn span{
		display:inline-block;
		vertical-align:top;
		padding-left:23px;
		background:url(../../common/img/kojin/phone_icon.png) no-repeat 0 50%;
	}
	.structure_box .phone_box p{
		font-size:16px;
		line-height:22px;
		font-weight:bold;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/* フッターここから */
	/* footer links */
	.footer_links h3{
		margin-bottom:26px;
		font-size:14px;
		line-height:18px;
		font-weight:bold;
		color:#1f259b;
		letter-spacing:1.5px;
	}
	.footer_links h3 a{color:#1f259b;}
	.footer_links .links.desktop{
		margin:0 -10px;
		display:flex;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		justify-content: space-between;
		overflow:hidden;
	}
	.footer_links .links .col{
		padding:0 10px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	.footer_links h4{
		margin-bottom:10px;
		font-size:14px;
		line-height:18px;
		font-weight:bold;
		color:#1f259b;
		letter-spacing:1.5px;
	}
	.footer_links h4.bot_space{margin-bottom:36px;}
	.footer_links h4 a{color:#1f259b;}
	.footer_links .links ul{margin-bottom:25px;}
	.footer_links .links ul.blue,
	.footer_links .links ul.inner{
		margin-bottom:8px;
	}
	.footer_links .links ul,
	.footer_links .links ul li,
	.footer_links .links ul a{
		font-size:12px;
		line-height:18px;
		color:#333;
	}
	.footer_links .links ul.blue a{
		color:#1f259b;
		font-weight:bold;
	}
	.footer_links .links ul a.icon{
		padding-right:19px;
		background:url(../../common/img/common/footer_links_icon.png) no-repeat 100% 50%;
	}
	.footer_links a{
		display:inline-block;
		vertical-align:top;
		position:relative;
		opacity:1;
		-webkit-transition: opacity 0.5s ease;
		-moz-transition: opacity 0.5s ease;
		-o-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
	}
	.footer_links a:hover{opacity:0.6;}
	/* inner footer */
	#footer.inner_footer{position:relative;}
	#footer.inner_footer .link_to_top{
		margin:135px 0 0;
		padding:30px 0 27px;
	}
	#footer.inner_footer .link_to_top > span{text-align:center;}
	#footer.inner_footer .link_to_top > span > span{
		display:block;
		padding:28px 0 0;
		background-position:50% 0;
	}
	#footer.inner_footer .footer_bar .holder .links{display:none;}
	#footer.inner_footer .footer_bar{
		position:absolute;
		bottom:137px;
		left:50%;
		margin:0;
		width:978px;
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
		overflow:visible;
	}
	#footer.inner_footer .footer_bar .holder{
		padding-left:200px;
		margin:0;
		overflow:visible;
	}
	#footer.inner_footer .footer_bar:after,
	#footer.inner_footer .footer_bar .holder:after{
		content:'';		display:block;		clear:both;
	}
	#footer.inner_footer .footer_bar p{float:left;}
	#footer.inner_footer .footer_bar .footer_logo{
		position:absolute;
		margin:0;
		left:20px;
		bottom:0;
		float:none;
	}
}
/* responsive styles */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.nav.pc{
		font-size:12px;
		letter-spacing:0.5px;
	}
	#dropmenu > li{margin:0 7px;}
	#dropmenu > li:first-child > ul{
		left:0;
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-webkit-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
	#dropmenu > li:last-child > ul{
		left:auto;
		right:0;
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-webkit-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
	.structure_box_holder{
		margin:0 auto;
		width:728px;
	}
	.structure_box{
		margin-left:-36px;
		margin-right:-36px;
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		-o-transform: scale(0.9);
		transform: scale(0.9);
	}
	.structure_box .box.box2{right:2px;}
	.structure_box .box.box3{left:2px;}
	.structure_box .center{top:475px;}
	.structure_box .rounded_box.box2,
	.structure_box .phone_box{
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	#footer.inner_footer .footer_bar{width:728px;}
}