/* radio */
.jcf-radio {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: default;
	margin: 0 7px 0 0;
	height: 16px;
	width: 16px;
	background:url(../../common/img/common/form_radio_bg.png) no-repeat;
}
.jcf-radio span{display:none;}
.jcf-radio input[type="radio"] {
	position: absolute;
	height: 100%;
	width: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}
.jcf-radio.jcf-checked{background-position:0 -20px;}
/* checkbox */
.jcf-checkbox {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: #fff;
	border: 1px solid #010101;
	margin: 0 7px 0 0;
	height: 18px;
	width: 18px;
	outline:none;
}
.jcf-checkbox span{
	position:absolute;
	display:none;
	height:4px;
	width:8px;
	top:50%;
	left:50%;
	margin:-8px 0 0 -6px;
	border:3px solid #010101;
	border-width:0 0 3px 3px;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
}
:root .jcf-checkbox span {margin:-4px 0 0 -5px;}
.jcf-checkbox input[type="checkbox"] {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}
.jcf-checkbox.jcf-checked span{display:block;}
/* common styles */
.jcf-disabled {opacity:0.5 !important;}